<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.CellMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Cell">
    <id column="cellid" jdbcType="CHAR" property="cellid" />
    <result column="stationid" jdbcType="INTEGER" property="stationid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    cellid, stationid
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.CellExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cell
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from cell
    where cellid = #{cellid,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from cell
    where cellid = #{cellid,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.CellExample">
    delete from cell
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Cell">
    insert into cell (cellid, stationid)
    values (#{cellid,jdbcType=CHAR}, #{stationid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Cell">
    insert into cell
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        cellid,
      </if>
      <if test="stationid != null">
        stationid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        #{cellid,jdbcType=CHAR},
      </if>
      <if test="stationid != null">
        #{stationid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.CellExample" resultType="java.lang.Long">
    select count(*) from cell
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update cell
    <set>
      <if test="record.cellid != null">
        cellid = #{record.cellid,jdbcType=CHAR},
      </if>
      <if test="record.stationid != null">
        stationid = #{record.stationid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update cell
    set cellid = #{record.cellid,jdbcType=CHAR},
      stationid = #{record.stationid,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Cell">
    update cell
    <set>
      <if test="stationid != null">
        stationid = #{stationid,jdbcType=INTEGER},
      </if>
    </set>
    where cellid = #{cellid,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Cell">
    update cell
    set stationid = #{stationid,jdbcType=INTEGER}
    where cellid = #{cellid,jdbcType=CHAR}
  </update>
</mapper>