<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.CtrlairatmosMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Ctrlairatmos">
    <id column="CellID" jdbcType="CHAR" property="cellid" />
    <id column="DateID" jdbcType="TIMESTAMP" property="dateid" />
    <result column="pre_CO" jdbcType="DOUBLE" property="preCo" />
    <result column="pre_SO2" jdbcType="DOUBLE" property="preSo2" />
    <result column="pre_O3" jdbcType="DOUBLE" property="preO3" />
    <result column="pre_NO" jdbcType="DOUBLE" property="preNo" />
    <result column="pre_NO2" jdbcType="DOUBLE" property="preNo2" />
    <result column="pre_NOX" jdbcType="DOUBLE" property="preNox" />
    <result column="pre_PM25" jdbcType="DOUBLE" property="prePm25" />
    <result column="pre_PM10" jdbcType="DOUBLE" property="prePm10" />
    <result column="pre_VOC" jdbcType="DOUBLE" property="preVoc" />
    <result column="pre_PRESSURE" jdbcType="DOUBLE" property="prePressure" />
    <result column="pre_TEMP" jdbcType="DOUBLE" property="preTemp" />
    <result column="pre_WS" jdbcType="DOUBLE" property="preWs" />
    <result column="pre_WD" jdbcType="DOUBLE" property="preWd" />
    <result column="pre_RH" jdbcType="DOUBLE" property="preRh" />
    <result column="pre_haze" jdbcType="INTEGER" property="preHaze" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CellID, DateID, pre_CO, pre_SO2, pre_O3, pre_NO, pre_NO2, pre_NOX, pre_PM25, pre_PM10, 
    pre_VOC, pre_PRESSURE, pre_TEMP, pre_WS, pre_WD, pre_RH, pre_haze
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.CtrlairatmosExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from ctrlairatmos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.nankai.xining.bean.CtrlairatmosKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from ctrlairatmos
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.nankai.xining.bean.CtrlairatmosKey">
    delete from ctrlairatmos
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.CtrlairatmosExample">
    delete from ctrlairatmos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Ctrlairatmos">
    insert into ctrlairatmos (CellID, DateID, pre_CO, 
      pre_SO2, pre_O3, pre_NO, 
      pre_NO2, pre_NOX, pre_PM25, 
      pre_PM10, pre_VOC, pre_PRESSURE, 
      pre_TEMP, pre_WS, pre_WD, 
      pre_RH, pre_haze)
    values (#{cellid,jdbcType=CHAR}, #{dateid,jdbcType=TIMESTAMP}, #{preCo,jdbcType=DOUBLE}, 
      #{preSo2,jdbcType=DOUBLE}, #{preO3,jdbcType=DOUBLE}, #{preNo,jdbcType=DOUBLE}, 
      #{preNo2,jdbcType=DOUBLE}, #{preNox,jdbcType=DOUBLE}, #{prePm25,jdbcType=DOUBLE}, 
      #{prePm10,jdbcType=DOUBLE}, #{preVoc,jdbcType=DOUBLE}, #{prePressure,jdbcType=DOUBLE}, 
      #{preTemp,jdbcType=DOUBLE}, #{preWs,jdbcType=DOUBLE}, #{preWd,jdbcType=DOUBLE}, 
      #{preRh,jdbcType=DOUBLE}, #{preHaze,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Ctrlairatmos">
    insert into ctrlairatmos
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        CellID,
      </if>
      <if test="dateid != null">
        DateID,
      </if>
      <if test="preCo != null">
        pre_CO,
      </if>
      <if test="preSo2 != null">
        pre_SO2,
      </if>
      <if test="preO3 != null">
        pre_O3,
      </if>
      <if test="preNo != null">
        pre_NO,
      </if>
      <if test="preNo2 != null">
        pre_NO2,
      </if>
      <if test="preNox != null">
        pre_NOX,
      </if>
      <if test="prePm25 != null">
        pre_PM25,
      </if>
      <if test="prePm10 != null">
        pre_PM10,
      </if>
      <if test="preVoc != null">
        pre_VOC,
      </if>
      <if test="prePressure != null">
        pre_PRESSURE,
      </if>
      <if test="preTemp != null">
        pre_TEMP,
      </if>
      <if test="preWs != null">
        pre_WS,
      </if>
      <if test="preWd != null">
        pre_WD,
      </if>
      <if test="preRh != null">
        pre_RH,
      </if>
      <if test="preHaze != null">
        pre_haze,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        #{cellid,jdbcType=CHAR},
      </if>
      <if test="dateid != null">
        #{dateid,jdbcType=TIMESTAMP},
      </if>
      <if test="preCo != null">
        #{preCo,jdbcType=DOUBLE},
      </if>
      <if test="preSo2 != null">
        #{preSo2,jdbcType=DOUBLE},
      </if>
      <if test="preO3 != null">
        #{preO3,jdbcType=DOUBLE},
      </if>
      <if test="preNo != null">
        #{preNo,jdbcType=DOUBLE},
      </if>
      <if test="preNo2 != null">
        #{preNo2,jdbcType=DOUBLE},
      </if>
      <if test="preNox != null">
        #{preNox,jdbcType=DOUBLE},
      </if>
      <if test="prePm25 != null">
        #{prePm25,jdbcType=DOUBLE},
      </if>
      <if test="prePm10 != null">
        #{prePm10,jdbcType=DOUBLE},
      </if>
      <if test="preVoc != null">
        #{preVoc,jdbcType=DOUBLE},
      </if>
      <if test="prePressure != null">
        #{prePressure,jdbcType=DOUBLE},
      </if>
      <if test="preTemp != null">
        #{preTemp,jdbcType=DOUBLE},
      </if>
      <if test="preWs != null">
        #{preWs,jdbcType=DOUBLE},
      </if>
      <if test="preWd != null">
        #{preWd,jdbcType=DOUBLE},
      </if>
      <if test="preRh != null">
        #{preRh,jdbcType=DOUBLE},
      </if>
      <if test="preHaze != null">
        #{preHaze,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.CtrlairatmosExample" resultType="java.lang.Long">
    select count(*) from ctrlairatmos
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update ctrlairatmos
    <set>
      <if test="record.cellid != null">
        CellID = #{record.cellid,jdbcType=CHAR},
      </if>
      <if test="record.dateid != null">
        DateID = #{record.dateid,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preCo != null">
        pre_CO = #{record.preCo,jdbcType=DOUBLE},
      </if>
      <if test="record.preSo2 != null">
        pre_SO2 = #{record.preSo2,jdbcType=DOUBLE},
      </if>
      <if test="record.preO3 != null">
        pre_O3 = #{record.preO3,jdbcType=DOUBLE},
      </if>
      <if test="record.preNo != null">
        pre_NO = #{record.preNo,jdbcType=DOUBLE},
      </if>
      <if test="record.preNo2 != null">
        pre_NO2 = #{record.preNo2,jdbcType=DOUBLE},
      </if>
      <if test="record.preNox != null">
        pre_NOX = #{record.preNox,jdbcType=DOUBLE},
      </if>
      <if test="record.prePm25 != null">
        pre_PM25 = #{record.prePm25,jdbcType=DOUBLE},
      </if>
      <if test="record.prePm10 != null">
        pre_PM10 = #{record.prePm10,jdbcType=DOUBLE},
      </if>
      <if test="record.preVoc != null">
        pre_VOC = #{record.preVoc,jdbcType=DOUBLE},
      </if>
      <if test="record.prePressure != null">
        pre_PRESSURE = #{record.prePressure,jdbcType=DOUBLE},
      </if>
      <if test="record.preTemp != null">
        pre_TEMP = #{record.preTemp,jdbcType=DOUBLE},
      </if>
      <if test="record.preWs != null">
        pre_WS = #{record.preWs,jdbcType=DOUBLE},
      </if>
      <if test="record.preWd != null">
        pre_WD = #{record.preWd,jdbcType=DOUBLE},
      </if>
      <if test="record.preRh != null">
        pre_RH = #{record.preRh,jdbcType=DOUBLE},
      </if>
      <if test="record.preHaze != null">
        pre_haze = #{record.preHaze,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update ctrlairatmos
    set CellID = #{record.cellid,jdbcType=CHAR},
      DateID = #{record.dateid,jdbcType=TIMESTAMP},
      pre_CO = #{record.preCo,jdbcType=DOUBLE},
      pre_SO2 = #{record.preSo2,jdbcType=DOUBLE},
      pre_O3 = #{record.preO3,jdbcType=DOUBLE},
      pre_NO = #{record.preNo,jdbcType=DOUBLE},
      pre_NO2 = #{record.preNo2,jdbcType=DOUBLE},
      pre_NOX = #{record.preNox,jdbcType=DOUBLE},
      pre_PM25 = #{record.prePm25,jdbcType=DOUBLE},
      pre_PM10 = #{record.prePm10,jdbcType=DOUBLE},
      pre_VOC = #{record.preVoc,jdbcType=DOUBLE},
      pre_PRESSURE = #{record.prePressure,jdbcType=DOUBLE},
      pre_TEMP = #{record.preTemp,jdbcType=DOUBLE},
      pre_WS = #{record.preWs,jdbcType=DOUBLE},
      pre_WD = #{record.preWd,jdbcType=DOUBLE},
      pre_RH = #{record.preRh,jdbcType=DOUBLE},
      pre_haze = #{record.preHaze,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Ctrlairatmos">
    update ctrlairatmos
    <set>
      <if test="preCo != null">
        pre_CO = #{preCo,jdbcType=DOUBLE},
      </if>
      <if test="preSo2 != null">
        pre_SO2 = #{preSo2,jdbcType=DOUBLE},
      </if>
      <if test="preO3 != null">
        pre_O3 = #{preO3,jdbcType=DOUBLE},
      </if>
      <if test="preNo != null">
        pre_NO = #{preNo,jdbcType=DOUBLE},
      </if>
      <if test="preNo2 != null">
        pre_NO2 = #{preNo2,jdbcType=DOUBLE},
      </if>
      <if test="preNox != null">
        pre_NOX = #{preNox,jdbcType=DOUBLE},
      </if>
      <if test="prePm25 != null">
        pre_PM25 = #{prePm25,jdbcType=DOUBLE},
      </if>
      <if test="prePm10 != null">
        pre_PM10 = #{prePm10,jdbcType=DOUBLE},
      </if>
      <if test="preVoc != null">
        pre_VOC = #{preVoc,jdbcType=DOUBLE},
      </if>
      <if test="prePressure != null">
        pre_PRESSURE = #{prePressure,jdbcType=DOUBLE},
      </if>
      <if test="preTemp != null">
        pre_TEMP = #{preTemp,jdbcType=DOUBLE},
      </if>
      <if test="preWs != null">
        pre_WS = #{preWs,jdbcType=DOUBLE},
      </if>
      <if test="preWd != null">
        pre_WD = #{preWd,jdbcType=DOUBLE},
      </if>
      <if test="preRh != null">
        pre_RH = #{preRh,jdbcType=DOUBLE},
      </if>
      <if test="preHaze != null">
        pre_haze = #{preHaze,jdbcType=INTEGER},
      </if>
    </set>
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Ctrlairatmos">
    update ctrlairatmos
    set pre_CO = #{preCo,jdbcType=DOUBLE},
      pre_SO2 = #{preSo2,jdbcType=DOUBLE},
      pre_O3 = #{preO3,jdbcType=DOUBLE},
      pre_NO = #{preNo,jdbcType=DOUBLE},
      pre_NO2 = #{preNo2,jdbcType=DOUBLE},
      pre_NOX = #{preNox,jdbcType=DOUBLE},
      pre_PM25 = #{prePm25,jdbcType=DOUBLE},
      pre_PM10 = #{prePm10,jdbcType=DOUBLE},
      pre_VOC = #{preVoc,jdbcType=DOUBLE},
      pre_PRESSURE = #{prePressure,jdbcType=DOUBLE},
      pre_TEMP = #{preTemp,jdbcType=DOUBLE},
      pre_WS = #{preWs,jdbcType=DOUBLE},
      pre_WD = #{preWd,jdbcType=DOUBLE},
      pre_RH = #{preRh,jdbcType=DOUBLE},
      pre_haze = #{preHaze,jdbcType=INTEGER}
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </update>
</mapper>