<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.DeviceMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Device">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="nk_no" jdbcType="INTEGER" property="nkNo" />
    <result column="productrawtotal_id" jdbcType="INTEGER" property="productrawtotalId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="device_no" jdbcType="VARCHAR" property="deviceNo" />
    <result column="device_flow" jdbcType="VARCHAR" property="deviceFlow" />
    <result column="design_power" jdbcType="DOUBLE" property="designPower" />
    <result column="practical_power" jdbcType="DOUBLE" property="practicalPower" />
    <result column="EXHUST_NO" jdbcType="INTEGER" property="exhustNo" />
    <result column="EXHUST_ID" jdbcType="INTEGER" property="exhustId" />
    <result column="yearrun_days" jdbcType="INTEGER" property="yearrunDays" />
    <result column="design_unit" jdbcType="CHAR" property="designUnit" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, nk_no, productrawtotal_id, name, device_no, device_flow, design_power, practical_power, 
    EXHUST_NO, EXHUST_ID, yearrun_days, design_unit
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.DeviceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from device
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from device
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.DeviceExample">
    delete from device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Device">
    insert into device (id, nk_no, productrawtotal_id, 
      name, device_no, device_flow, 
      design_power, practical_power, EXHUST_NO, 
      EXHUST_ID, yearrun_days, design_unit
      )
    values (#{id,jdbcType=INTEGER}, #{nkNo,jdbcType=INTEGER}, #{productrawtotalId,jdbcType=INTEGER}, 
      #{name,jdbcType=VARCHAR}, #{deviceNo,jdbcType=VARCHAR}, #{deviceFlow,jdbcType=VARCHAR}, 
      #{designPower,jdbcType=DOUBLE}, #{practicalPower,jdbcType=DOUBLE}, #{exhustNo,jdbcType=INTEGER}, 
      #{exhustId,jdbcType=INTEGER}, #{yearrunDays,jdbcType=INTEGER}, #{designUnit,jdbcType=CHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Device">
    insert into device
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="nkNo != null">
        nk_no,
      </if>
      <if test="productrawtotalId != null">
        productrawtotal_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="deviceNo != null">
        device_no,
      </if>
      <if test="deviceFlow != null">
        device_flow,
      </if>
      <if test="designPower != null">
        design_power,
      </if>
      <if test="practicalPower != null">
        practical_power,
      </if>
      <if test="exhustNo != null">
        EXHUST_NO,
      </if>
      <if test="exhustId != null">
        EXHUST_ID,
      </if>
      <if test="yearrunDays != null">
        yearrun_days,
      </if>
      <if test="designUnit != null">
        design_unit,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="nkNo != null">
        #{nkNo,jdbcType=INTEGER},
      </if>
      <if test="productrawtotalId != null">
        #{productrawtotalId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null">
        #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceFlow != null">
        #{deviceFlow,jdbcType=VARCHAR},
      </if>
      <if test="designPower != null">
        #{designPower,jdbcType=DOUBLE},
      </if>
      <if test="practicalPower != null">
        #{practicalPower,jdbcType=DOUBLE},
      </if>
      <if test="exhustNo != null">
        #{exhustNo,jdbcType=INTEGER},
      </if>
      <if test="exhustId != null">
        #{exhustId,jdbcType=INTEGER},
      </if>
      <if test="yearrunDays != null">
        #{yearrunDays,jdbcType=INTEGER},
      </if>
      <if test="designUnit != null">
        #{designUnit,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.DeviceExample" resultType="java.lang.Long">
    select count(*) from device
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update device
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.nkNo != null">
        nk_no = #{record.nkNo,jdbcType=INTEGER},
      </if>
      <if test="record.productrawtotalId != null">
        productrawtotal_id = #{record.productrawtotalId,jdbcType=INTEGER},
      </if>
      <if test="record.name != null">
        name = #{record.name,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceNo != null">
        device_no = #{record.deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="record.deviceFlow != null">
        device_flow = #{record.deviceFlow,jdbcType=VARCHAR},
      </if>
      <if test="record.designPower != null">
        design_power = #{record.designPower,jdbcType=DOUBLE},
      </if>
      <if test="record.practicalPower != null">
        practical_power = #{record.practicalPower,jdbcType=DOUBLE},
      </if>
      <if test="record.exhustNo != null">
        EXHUST_NO = #{record.exhustNo,jdbcType=INTEGER},
      </if>
      <if test="record.exhustId != null">
        EXHUST_ID = #{record.exhustId,jdbcType=INTEGER},
      </if>
      <if test="record.yearrunDays != null">
        yearrun_days = #{record.yearrunDays,jdbcType=INTEGER},
      </if>
      <if test="record.designUnit != null">
        design_unit = #{record.designUnit,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update device
    set id = #{record.id,jdbcType=INTEGER},
      nk_no = #{record.nkNo,jdbcType=INTEGER},
      productrawtotal_id = #{record.productrawtotalId,jdbcType=INTEGER},
      name = #{record.name,jdbcType=VARCHAR},
      device_no = #{record.deviceNo,jdbcType=VARCHAR},
      device_flow = #{record.deviceFlow,jdbcType=VARCHAR},
      design_power = #{record.designPower,jdbcType=DOUBLE},
      practical_power = #{record.practicalPower,jdbcType=DOUBLE},
      EXHUST_NO = #{record.exhustNo,jdbcType=INTEGER},
      EXHUST_ID = #{record.exhustId,jdbcType=INTEGER},
      yearrun_days = #{record.yearrunDays,jdbcType=INTEGER},
      design_unit = #{record.designUnit,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Device">
    update device
    <set>
      <if test="nkNo != null">
        nk_no = #{nkNo,jdbcType=INTEGER},
      </if>
      <if test="productrawtotalId != null">
        productrawtotal_id = #{productrawtotalId,jdbcType=INTEGER},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="deviceNo != null">
        device_no = #{deviceNo,jdbcType=VARCHAR},
      </if>
      <if test="deviceFlow != null">
        device_flow = #{deviceFlow,jdbcType=VARCHAR},
      </if>
      <if test="designPower != null">
        design_power = #{designPower,jdbcType=DOUBLE},
      </if>
      <if test="practicalPower != null">
        practical_power = #{practicalPower,jdbcType=DOUBLE},
      </if>
      <if test="exhustNo != null">
        EXHUST_NO = #{exhustNo,jdbcType=INTEGER},
      </if>
      <if test="exhustId != null">
        EXHUST_ID = #{exhustId,jdbcType=INTEGER},
      </if>
      <if test="yearrunDays != null">
        yearrun_days = #{yearrunDays,jdbcType=INTEGER},
      </if>
      <if test="designUnit != null">
        design_unit = #{designUnit,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Device">
    update device
    set nk_no = #{nkNo,jdbcType=INTEGER},
      productrawtotal_id = #{productrawtotalId,jdbcType=INTEGER},
      name = #{name,jdbcType=VARCHAR},
      device_no = #{deviceNo,jdbcType=VARCHAR},
      device_flow = #{deviceFlow,jdbcType=VARCHAR},
      design_power = #{designPower,jdbcType=DOUBLE},
      practical_power = #{practicalPower,jdbcType=DOUBLE},
      EXHUST_NO = #{exhustNo,jdbcType=INTEGER},
      EXHUST_ID = #{exhustId,jdbcType=INTEGER},
      yearrun_days = #{yearrunDays,jdbcType=INTEGER},
      design_unit = #{designUnit,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>