<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.DustseasonFactorMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.DustseasonFactor">
    <id column="ds_id" jdbcType="INTEGER" property="dsId" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="season" jdbcType="CHAR" property="season" />
    <result column="soilindex" jdbcType="DOUBLE" property="soilindex" />
    <result column="surindex" jdbcType="DOUBLE" property="surindex" />
    <result column="noindex" jdbcType="DOUBLE" property="noindex" />
    <result column="pindex" jdbcType="DOUBLE" property="pindex" />
    <result column="dirtratio" jdbcType="DOUBLE" property="dirtratio" />
    <result column="waterratio" jdbcType="DOUBLE" property="waterratio" />
    <result column="load" jdbcType="DOUBLE" property="load" />
    <result column="pathtype" jdbcType="VARCHAR" property="pathtype" />
    <result column="ispave" jdbcType="BIT" property="ispave" />
    <result column="wind_threshold" jdbcType="DOUBLE" property="windThreshold" />
    <result column="uwind_value" jdbcType="DOUBLE" property="uwindValue" />
    <result column="m_windnum" jdbcType="INTEGER" property="mWindnum" />
    <result column="dusttype" jdbcType="TINYINT" property="dusttype" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    ds_id, year, season, soilindex, surindex, noindex, pindex, dirtratio, waterratio, 
    load, pathtype, ispave, wind_threshold, uwind_value, m_windnum, dusttype
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.DustseasonFactorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dustseason_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from dustseason_factor
    where ds_id = #{dsId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dustseason_factor
    where ds_id = #{dsId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.DustseasonFactorExample">
    delete from dustseason_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.DustseasonFactor">
    insert into dustseason_factor (ds_id, year, season, 
      soilindex, surindex, noindex, 
      pindex, dirtratio, waterratio, 
      load, pathtype, ispave, 
      wind_threshold, uwind_value, m_windnum, 
      dusttype)
    values (#{dsId,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, #{season,jdbcType=CHAR}, 
      #{soilindex,jdbcType=DOUBLE}, #{surindex,jdbcType=DOUBLE}, #{noindex,jdbcType=DOUBLE}, 
      #{pindex,jdbcType=DOUBLE}, #{dirtratio,jdbcType=DOUBLE}, #{waterratio,jdbcType=DOUBLE}, 
      #{load,jdbcType=DOUBLE}, #{pathtype,jdbcType=VARCHAR}, #{ispave,jdbcType=BIT}, 
      #{windThreshold,jdbcType=DOUBLE}, #{uwindValue,jdbcType=DOUBLE}, #{mWindnum,jdbcType=INTEGER}, 
      #{dusttype,jdbcType=TINYINT})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.DustseasonFactor">
    insert into dustseason_factor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dsId != null">
        ds_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="season != null">
        season,
      </if>
      <if test="soilindex != null">
        soilindex,
      </if>
      <if test="surindex != null">
        surindex,
      </if>
      <if test="noindex != null">
        noindex,
      </if>
      <if test="pindex != null">
        pindex,
      </if>
      <if test="dirtratio != null">
        dirtratio,
      </if>
      <if test="waterratio != null">
        waterratio,
      </if>
      <if test="load != null">
        load,
      </if>
      <if test="pathtype != null">
        pathtype,
      </if>
      <if test="ispave != null">
        ispave,
      </if>
      <if test="windThreshold != null">
        wind_threshold,
      </if>
      <if test="uwindValue != null">
        uwind_value,
      </if>
      <if test="mWindnum != null">
        m_windnum,
      </if>
      <if test="dusttype != null">
        dusttype,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dsId != null">
        #{dsId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="season != null">
        #{season,jdbcType=CHAR},
      </if>
      <if test="soilindex != null">
        #{soilindex,jdbcType=DOUBLE},
      </if>
      <if test="surindex != null">
        #{surindex,jdbcType=DOUBLE},
      </if>
      <if test="noindex != null">
        #{noindex,jdbcType=DOUBLE},
      </if>
      <if test="pindex != null">
        #{pindex,jdbcType=DOUBLE},
      </if>
      <if test="dirtratio != null">
        #{dirtratio,jdbcType=DOUBLE},
      </if>
      <if test="waterratio != null">
        #{waterratio,jdbcType=DOUBLE},
      </if>
      <if test="load != null">
        #{load,jdbcType=DOUBLE},
      </if>
      <if test="pathtype != null">
        #{pathtype,jdbcType=VARCHAR},
      </if>
      <if test="ispave != null">
        #{ispave,jdbcType=BIT},
      </if>
      <if test="windThreshold != null">
        #{windThreshold,jdbcType=DOUBLE},
      </if>
      <if test="uwindValue != null">
        #{uwindValue,jdbcType=DOUBLE},
      </if>
      <if test="mWindnum != null">
        #{mWindnum,jdbcType=INTEGER},
      </if>
      <if test="dusttype != null">
        #{dusttype,jdbcType=TINYINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.DustseasonFactorExample" resultType="java.lang.Long">
    select count(*) from dustseason_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dustseason_factor
    <set>
      <if test="record.dsId != null">
        ds_id = #{record.dsId,jdbcType=INTEGER},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=CHAR},
      </if>
      <if test="record.season != null">
        season = #{record.season,jdbcType=CHAR},
      </if>
      <if test="record.soilindex != null">
        soilindex = #{record.soilindex,jdbcType=DOUBLE},
      </if>
      <if test="record.surindex != null">
        surindex = #{record.surindex,jdbcType=DOUBLE},
      </if>
      <if test="record.noindex != null">
        noindex = #{record.noindex,jdbcType=DOUBLE},
      </if>
      <if test="record.pindex != null">
        pindex = #{record.pindex,jdbcType=DOUBLE},
      </if>
      <if test="record.dirtratio != null">
        dirtratio = #{record.dirtratio,jdbcType=DOUBLE},
      </if>
      <if test="record.waterratio != null">
        waterratio = #{record.waterratio,jdbcType=DOUBLE},
      </if>
      <if test="record.load != null">
        load = #{record.load,jdbcType=DOUBLE},
      </if>
      <if test="record.pathtype != null">
        pathtype = #{record.pathtype,jdbcType=VARCHAR},
      </if>
      <if test="record.ispave != null">
        ispave = #{record.ispave,jdbcType=BIT},
      </if>
      <if test="record.windThreshold != null">
        wind_threshold = #{record.windThreshold,jdbcType=DOUBLE},
      </if>
      <if test="record.uwindValue != null">
        uwind_value = #{record.uwindValue,jdbcType=DOUBLE},
      </if>
      <if test="record.mWindnum != null">
        m_windnum = #{record.mWindnum,jdbcType=INTEGER},
      </if>
      <if test="record.dusttype != null">
        dusttype = #{record.dusttype,jdbcType=TINYINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dustseason_factor
    set ds_id = #{record.dsId,jdbcType=INTEGER},
      year = #{record.year,jdbcType=CHAR},
      season = #{record.season,jdbcType=CHAR},
      soilindex = #{record.soilindex,jdbcType=DOUBLE},
      surindex = #{record.surindex,jdbcType=DOUBLE},
      noindex = #{record.noindex,jdbcType=DOUBLE},
      pindex = #{record.pindex,jdbcType=DOUBLE},
      dirtratio = #{record.dirtratio,jdbcType=DOUBLE},
      waterratio = #{record.waterratio,jdbcType=DOUBLE},
      load = #{record.load,jdbcType=DOUBLE},
      pathtype = #{record.pathtype,jdbcType=VARCHAR},
      ispave = #{record.ispave,jdbcType=BIT},
      wind_threshold = #{record.windThreshold,jdbcType=DOUBLE},
      uwind_value = #{record.uwindValue,jdbcType=DOUBLE},
      m_windnum = #{record.mWindnum,jdbcType=INTEGER},
      dusttype = #{record.dusttype,jdbcType=TINYINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.DustseasonFactor">
    update dustseason_factor
    <set>
      <if test="year != null">
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="season != null">
        season = #{season,jdbcType=CHAR},
      </if>
      <if test="soilindex != null">
        soilindex = #{soilindex,jdbcType=DOUBLE},
      </if>
      <if test="surindex != null">
        surindex = #{surindex,jdbcType=DOUBLE},
      </if>
      <if test="noindex != null">
        noindex = #{noindex,jdbcType=DOUBLE},
      </if>
      <if test="pindex != null">
        pindex = #{pindex,jdbcType=DOUBLE},
      </if>
      <if test="dirtratio != null">
        dirtratio = #{dirtratio,jdbcType=DOUBLE},
      </if>
      <if test="waterratio != null">
        waterratio = #{waterratio,jdbcType=DOUBLE},
      </if>
      <if test="load != null">
        load = #{load,jdbcType=DOUBLE},
      </if>
      <if test="pathtype != null">
        pathtype = #{pathtype,jdbcType=VARCHAR},
      </if>
      <if test="ispave != null">
        ispave = #{ispave,jdbcType=BIT},
      </if>
      <if test="windThreshold != null">
        wind_threshold = #{windThreshold,jdbcType=DOUBLE},
      </if>
      <if test="uwindValue != null">
        uwind_value = #{uwindValue,jdbcType=DOUBLE},
      </if>
      <if test="mWindnum != null">
        m_windnum = #{mWindnum,jdbcType=INTEGER},
      </if>
      <if test="dusttype != null">
        dusttype = #{dusttype,jdbcType=TINYINT},
      </if>
    </set>
    where ds_id = #{dsId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.DustseasonFactor">
    update dustseason_factor
    set year = #{year,jdbcType=CHAR},
      season = #{season,jdbcType=CHAR},
      soilindex = #{soilindex,jdbcType=DOUBLE},
      surindex = #{surindex,jdbcType=DOUBLE},
      noindex = #{noindex,jdbcType=DOUBLE},
      pindex = #{pindex,jdbcType=DOUBLE},
      dirtratio = #{dirtratio,jdbcType=DOUBLE},
      waterratio = #{waterratio,jdbcType=DOUBLE},
      load = #{load,jdbcType=DOUBLE},
      pathtype = #{pathtype,jdbcType=VARCHAR},
      ispave = #{ispave,jdbcType=BIT},
      wind_threshold = #{windThreshold,jdbcType=DOUBLE},
      uwind_value = #{uwindValue,jdbcType=DOUBLE},
      m_windnum = #{mWindnum,jdbcType=INTEGER},
      dusttype = #{dusttype,jdbcType=TINYINT}
    where ds_id = #{dsId,jdbcType=INTEGER}
  </update>
</mapper>