<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.DustconMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Dustcon">
    <id column="dc_id" jdbcType="INTEGER" property="dcId" />
    <result column="controlname" jdbcType="VARCHAR" property="controlname" />
    <result column="object" jdbcType="INTEGER" property="object" />
    <result column="dc_tspeffi" jdbcType="DOUBLE" property="dcTspeffi" />
    <result column="dc_pm25effi" jdbcType="DOUBLE" property="dcPm25effi" />
    <result column="dc_pm10effi" jdbcType="DOUBLE" property="dcPm10effi" />
    <result column="dusttype" jdbcType="INTEGER" property="dusttype" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.nankai.xining.bean.Dustcon">
    <result column="dustcon_note" jdbcType="LONGVARCHAR" property="dustconNote" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    dc_id, controlname, object, dc_tspeffi, dc_pm25effi, dc_pm10effi, dusttype
  </sql>
  <sql id="Blob_Column_List">
    dustcon_note
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.nankai.xining.bean.DustconExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dustcon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.DustconExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from dustcon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from dustcon
    where dc_id = #{dcId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from dustcon
    where dc_id = #{dcId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.DustconExample">
    delete from dustcon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Dustcon">
    insert into dustcon (dc_id, controlname, object, 
      dc_tspeffi, dc_pm25effi, dc_pm10effi, 
      dusttype, dustcon_note)
    values (#{dcId,jdbcType=INTEGER}, #{controlname,jdbcType=VARCHAR}, #{object,jdbcType=INTEGER}, 
      #{dcTspeffi,jdbcType=DOUBLE}, #{dcPm25effi,jdbcType=DOUBLE}, #{dcPm10effi,jdbcType=DOUBLE}, 
      #{dusttype,jdbcType=INTEGER}, #{dustconNote,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Dustcon">
    insert into dustcon
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        dc_id,
      </if>
      <if test="controlname != null">
        controlname,
      </if>
      <if test="object != null">
        object,
      </if>
      <if test="dcTspeffi != null">
        dc_tspeffi,
      </if>
      <if test="dcPm25effi != null">
        dc_pm25effi,
      </if>
      <if test="dcPm10effi != null">
        dc_pm10effi,
      </if>
      <if test="dusttype != null">
        dusttype,
      </if>
      <if test="dustconNote != null">
        dustcon_note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="dcId != null">
        #{dcId,jdbcType=INTEGER},
      </if>
      <if test="controlname != null">
        #{controlname,jdbcType=VARCHAR},
      </if>
      <if test="object != null">
        #{object,jdbcType=INTEGER},
      </if>
      <if test="dcTspeffi != null">
        #{dcTspeffi,jdbcType=DOUBLE},
      </if>
      <if test="dcPm25effi != null">
        #{dcPm25effi,jdbcType=DOUBLE},
      </if>
      <if test="dcPm10effi != null">
        #{dcPm10effi,jdbcType=DOUBLE},
      </if>
      <if test="dusttype != null">
        #{dusttype,jdbcType=INTEGER},
      </if>
      <if test="dustconNote != null">
        #{dustconNote,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.DustconExample" resultType="java.lang.Long">
    select count(*) from dustcon
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update dustcon
    <set>
      <if test="record.dcId != null">
        dc_id = #{record.dcId,jdbcType=INTEGER},
      </if>
      <if test="record.controlname != null">
        controlname = #{record.controlname,jdbcType=VARCHAR},
      </if>
      <if test="record.object != null">
        object = #{record.object,jdbcType=INTEGER},
      </if>
      <if test="record.dcTspeffi != null">
        dc_tspeffi = #{record.dcTspeffi,jdbcType=DOUBLE},
      </if>
      <if test="record.dcPm25effi != null">
        dc_pm25effi = #{record.dcPm25effi,jdbcType=DOUBLE},
      </if>
      <if test="record.dcPm10effi != null">
        dc_pm10effi = #{record.dcPm10effi,jdbcType=DOUBLE},
      </if>
      <if test="record.dusttype != null">
        dusttype = #{record.dusttype,jdbcType=INTEGER},
      </if>
      <if test="record.dustconNote != null">
        dustcon_note = #{record.dustconNote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update dustcon
    set dc_id = #{record.dcId,jdbcType=INTEGER},
      controlname = #{record.controlname,jdbcType=VARCHAR},
      object = #{record.object,jdbcType=INTEGER},
      dc_tspeffi = #{record.dcTspeffi,jdbcType=DOUBLE},
      dc_pm25effi = #{record.dcPm25effi,jdbcType=DOUBLE},
      dc_pm10effi = #{record.dcPm10effi,jdbcType=DOUBLE},
      dusttype = #{record.dusttype,jdbcType=INTEGER},
      dustcon_note = #{record.dustconNote,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update dustcon
    set dc_id = #{record.dcId,jdbcType=INTEGER},
      controlname = #{record.controlname,jdbcType=VARCHAR},
      object = #{record.object,jdbcType=INTEGER},
      dc_tspeffi = #{record.dcTspeffi,jdbcType=DOUBLE},
      dc_pm25effi = #{record.dcPm25effi,jdbcType=DOUBLE},
      dc_pm10effi = #{record.dcPm10effi,jdbcType=DOUBLE},
      dusttype = #{record.dusttype,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Dustcon">
    update dustcon
    <set>
      <if test="controlname != null">
        controlname = #{controlname,jdbcType=VARCHAR},
      </if>
      <if test="object != null">
        object = #{object,jdbcType=INTEGER},
      </if>
      <if test="dcTspeffi != null">
        dc_tspeffi = #{dcTspeffi,jdbcType=DOUBLE},
      </if>
      <if test="dcPm25effi != null">
        dc_pm25effi = #{dcPm25effi,jdbcType=DOUBLE},
      </if>
      <if test="dcPm10effi != null">
        dc_pm10effi = #{dcPm10effi,jdbcType=DOUBLE},
      </if>
      <if test="dusttype != null">
        dusttype = #{dusttype,jdbcType=INTEGER},
      </if>
      <if test="dustconNote != null">
        dustcon_note = #{dustconNote,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nankai.xining.bean.Dustcon">
    update dustcon
    set controlname = #{controlname,jdbcType=VARCHAR},
      object = #{object,jdbcType=INTEGER},
      dc_tspeffi = #{dcTspeffi,jdbcType=DOUBLE},
      dc_pm25effi = #{dcPm25effi,jdbcType=DOUBLE},
      dc_pm10effi = #{dcPm10effi,jdbcType=DOUBLE},
      dusttype = #{dusttype,jdbcType=INTEGER},
      dustcon_note = #{dustconNote,jdbcType=LONGVARCHAR}
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Dustcon">
    update dustcon
    set controlname = #{controlname,jdbcType=VARCHAR},
      object = #{object,jdbcType=INTEGER},
      dc_tspeffi = #{dcTspeffi,jdbcType=DOUBLE},
      dc_pm25effi = #{dcPm25effi,jdbcType=DOUBLE},
      dc_pm10effi = #{dcPm10effi,jdbcType=DOUBLE},
      dusttype = #{dusttype,jdbcType=INTEGER}
    where dc_id = #{dcId,jdbcType=INTEGER}
  </update>
</mapper>