<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.EmissionFactorMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.EmissionFactor">
    <id column="FACTORS_ID" jdbcType="CHAR" property="factorsId" />
    <result column="FACTORS_QUANTITY" jdbcType="INTEGER" property="factorsQuantity" />
    <result column="FACTORS_DISCRITIONS" jdbcType="CHAR" property="factorsDiscritions" />
    <result column="FACTOR1_NAME" jdbcType="CHAR" property="factor1Name" />
    <result column="FACTOR2_NAME" jdbcType="CHAR" property="factor2Name" />
    <result column="FACTOR3_NAME" jdbcType="CHAR" property="factor3Name" />
    <result column="FACTOR4_NAME" jdbcType="CHAR" property="factor4Name" />
    <result column="FACTOR5_NAME" jdbcType="CHAR" property="factor5Name" />
    <result column="FACTOR6_NAME" jdbcType="CHAR" property="factor6Name" />
    <result column="FACTOR7_NAME" jdbcType="CHAR" property="factor7Name" />
    <result column="FACTOR8_NAME" jdbcType="CHAR" property="factor8Name" />
    <result column="FACTOR9_NAME" jdbcType="CHAR" property="factor9Name" />
    <result column="FACTOR10_NAME" jdbcType="CHAR" property="factor10Name" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    FACTORS_ID, FACTORS_QUANTITY, FACTORS_DISCRITIONS, FACTOR1_NAME, FACTOR2_NAME, FACTOR3_NAME, 
    FACTOR4_NAME, FACTOR5_NAME, FACTOR6_NAME, FACTOR7_NAME, FACTOR8_NAME, FACTOR9_NAME, 
    FACTOR10_NAME
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.EmissionFactorExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from emission_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from emission_factor
    where FACTORS_ID = #{factorsId,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from emission_factor
    where FACTORS_ID = #{factorsId,jdbcType=CHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.EmissionFactorExample">
    delete from emission_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.EmissionFactor">
    insert into emission_factor (FACTORS_ID, FACTORS_QUANTITY, FACTORS_DISCRITIONS, 
      FACTOR1_NAME, FACTOR2_NAME, FACTOR3_NAME, 
      FACTOR4_NAME, FACTOR5_NAME, FACTOR6_NAME, 
      FACTOR7_NAME, FACTOR8_NAME, FACTOR9_NAME, 
      FACTOR10_NAME)
    values (#{factorsId,jdbcType=CHAR}, #{factorsQuantity,jdbcType=INTEGER}, #{factorsDiscritions,jdbcType=CHAR}, 
      #{factor1Name,jdbcType=CHAR}, #{factor2Name,jdbcType=CHAR}, #{factor3Name,jdbcType=CHAR}, 
      #{factor4Name,jdbcType=CHAR}, #{factor5Name,jdbcType=CHAR}, #{factor6Name,jdbcType=CHAR}, 
      #{factor7Name,jdbcType=CHAR}, #{factor8Name,jdbcType=CHAR}, #{factor9Name,jdbcType=CHAR}, 
      #{factor10Name,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.EmissionFactor">
    insert into emission_factor
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factorsId != null">
        FACTORS_ID,
      </if>
      <if test="factorsQuantity != null">
        FACTORS_QUANTITY,
      </if>
      <if test="factorsDiscritions != null">
        FACTORS_DISCRITIONS,
      </if>
      <if test="factor1Name != null">
        FACTOR1_NAME,
      </if>
      <if test="factor2Name != null">
        FACTOR2_NAME,
      </if>
      <if test="factor3Name != null">
        FACTOR3_NAME,
      </if>
      <if test="factor4Name != null">
        FACTOR4_NAME,
      </if>
      <if test="factor5Name != null">
        FACTOR5_NAME,
      </if>
      <if test="factor6Name != null">
        FACTOR6_NAME,
      </if>
      <if test="factor7Name != null">
        FACTOR7_NAME,
      </if>
      <if test="factor8Name != null">
        FACTOR8_NAME,
      </if>
      <if test="factor9Name != null">
        FACTOR9_NAME,
      </if>
      <if test="factor10Name != null">
        FACTOR10_NAME,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factorsId != null">
        #{factorsId,jdbcType=CHAR},
      </if>
      <if test="factorsQuantity != null">
        #{factorsQuantity,jdbcType=INTEGER},
      </if>
      <if test="factorsDiscritions != null">
        #{factorsDiscritions,jdbcType=CHAR},
      </if>
      <if test="factor1Name != null">
        #{factor1Name,jdbcType=CHAR},
      </if>
      <if test="factor2Name != null">
        #{factor2Name,jdbcType=CHAR},
      </if>
      <if test="factor3Name != null">
        #{factor3Name,jdbcType=CHAR},
      </if>
      <if test="factor4Name != null">
        #{factor4Name,jdbcType=CHAR},
      </if>
      <if test="factor5Name != null">
        #{factor5Name,jdbcType=CHAR},
      </if>
      <if test="factor6Name != null">
        #{factor6Name,jdbcType=CHAR},
      </if>
      <if test="factor7Name != null">
        #{factor7Name,jdbcType=CHAR},
      </if>
      <if test="factor8Name != null">
        #{factor8Name,jdbcType=CHAR},
      </if>
      <if test="factor9Name != null">
        #{factor9Name,jdbcType=CHAR},
      </if>
      <if test="factor10Name != null">
        #{factor10Name,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.EmissionFactorExample" resultType="java.lang.Long">
    select count(*) from emission_factor
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update emission_factor
    <set>
      <if test="record.factorsId != null">
        FACTORS_ID = #{record.factorsId,jdbcType=CHAR},
      </if>
      <if test="record.factorsQuantity != null">
        FACTORS_QUANTITY = #{record.factorsQuantity,jdbcType=INTEGER},
      </if>
      <if test="record.factorsDiscritions != null">
        FACTORS_DISCRITIONS = #{record.factorsDiscritions,jdbcType=CHAR},
      </if>
      <if test="record.factor1Name != null">
        FACTOR1_NAME = #{record.factor1Name,jdbcType=CHAR},
      </if>
      <if test="record.factor2Name != null">
        FACTOR2_NAME = #{record.factor2Name,jdbcType=CHAR},
      </if>
      <if test="record.factor3Name != null">
        FACTOR3_NAME = #{record.factor3Name,jdbcType=CHAR},
      </if>
      <if test="record.factor4Name != null">
        FACTOR4_NAME = #{record.factor4Name,jdbcType=CHAR},
      </if>
      <if test="record.factor5Name != null">
        FACTOR5_NAME = #{record.factor5Name,jdbcType=CHAR},
      </if>
      <if test="record.factor6Name != null">
        FACTOR6_NAME = #{record.factor6Name,jdbcType=CHAR},
      </if>
      <if test="record.factor7Name != null">
        FACTOR7_NAME = #{record.factor7Name,jdbcType=CHAR},
      </if>
      <if test="record.factor8Name != null">
        FACTOR8_NAME = #{record.factor8Name,jdbcType=CHAR},
      </if>
      <if test="record.factor9Name != null">
        FACTOR9_NAME = #{record.factor9Name,jdbcType=CHAR},
      </if>
      <if test="record.factor10Name != null">
        FACTOR10_NAME = #{record.factor10Name,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update emission_factor
    set FACTORS_ID = #{record.factorsId,jdbcType=CHAR},
      FACTORS_QUANTITY = #{record.factorsQuantity,jdbcType=INTEGER},
      FACTORS_DISCRITIONS = #{record.factorsDiscritions,jdbcType=CHAR},
      FACTOR1_NAME = #{record.factor1Name,jdbcType=CHAR},
      FACTOR2_NAME = #{record.factor2Name,jdbcType=CHAR},
      FACTOR3_NAME = #{record.factor3Name,jdbcType=CHAR},
      FACTOR4_NAME = #{record.factor4Name,jdbcType=CHAR},
      FACTOR5_NAME = #{record.factor5Name,jdbcType=CHAR},
      FACTOR6_NAME = #{record.factor6Name,jdbcType=CHAR},
      FACTOR7_NAME = #{record.factor7Name,jdbcType=CHAR},
      FACTOR8_NAME = #{record.factor8Name,jdbcType=CHAR},
      FACTOR9_NAME = #{record.factor9Name,jdbcType=CHAR},
      FACTOR10_NAME = #{record.factor10Name,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.EmissionFactor">
    update emission_factor
    <set>
      <if test="factorsQuantity != null">
        FACTORS_QUANTITY = #{factorsQuantity,jdbcType=INTEGER},
      </if>
      <if test="factorsDiscritions != null">
        FACTORS_DISCRITIONS = #{factorsDiscritions,jdbcType=CHAR},
      </if>
      <if test="factor1Name != null">
        FACTOR1_NAME = #{factor1Name,jdbcType=CHAR},
      </if>
      <if test="factor2Name != null">
        FACTOR2_NAME = #{factor2Name,jdbcType=CHAR},
      </if>
      <if test="factor3Name != null">
        FACTOR3_NAME = #{factor3Name,jdbcType=CHAR},
      </if>
      <if test="factor4Name != null">
        FACTOR4_NAME = #{factor4Name,jdbcType=CHAR},
      </if>
      <if test="factor5Name != null">
        FACTOR5_NAME = #{factor5Name,jdbcType=CHAR},
      </if>
      <if test="factor6Name != null">
        FACTOR6_NAME = #{factor6Name,jdbcType=CHAR},
      </if>
      <if test="factor7Name != null">
        FACTOR7_NAME = #{factor7Name,jdbcType=CHAR},
      </if>
      <if test="factor8Name != null">
        FACTOR8_NAME = #{factor8Name,jdbcType=CHAR},
      </if>
      <if test="factor9Name != null">
        FACTOR9_NAME = #{factor9Name,jdbcType=CHAR},
      </if>
      <if test="factor10Name != null">
        FACTOR10_NAME = #{factor10Name,jdbcType=CHAR},
      </if>
    </set>
    where FACTORS_ID = #{factorsId,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.EmissionFactor">
    update emission_factor
    set FACTORS_QUANTITY = #{factorsQuantity,jdbcType=INTEGER},
      FACTORS_DISCRITIONS = #{factorsDiscritions,jdbcType=CHAR},
      FACTOR1_NAME = #{factor1Name,jdbcType=CHAR},
      FACTOR2_NAME = #{factor2Name,jdbcType=CHAR},
      FACTOR3_NAME = #{factor3Name,jdbcType=CHAR},
      FACTOR4_NAME = #{factor4Name,jdbcType=CHAR},
      FACTOR5_NAME = #{factor5Name,jdbcType=CHAR},
      FACTOR6_NAME = #{factor6Name,jdbcType=CHAR},
      FACTOR7_NAME = #{factor7Name,jdbcType=CHAR},
      FACTOR8_NAME = #{factor8Name,jdbcType=CHAR},
      FACTOR9_NAME = #{factor9Name,jdbcType=CHAR},
      FACTOR10_NAME = #{factor10Name,jdbcType=CHAR}
    where FACTORS_ID = #{factorsId,jdbcType=CHAR}
  </update>
</mapper>