<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.FactoryMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Factory">
    <id column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="factory_no" jdbcType="CHAR" property="factoryNo" />
    <result column="legalperson" jdbcType="VARCHAR" property="legalperson" />
    <result column="factory_name" jdbcType="VARCHAR" property="factoryName" />
    <result column="factory_usedname" jdbcType="VARCHAR" property="factoryUsedname" />
    <result column="factory_size" jdbcType="VARCHAR" property="factorySize" />
    <result column="county_id" jdbcType="CHAR" property="countyId" />
    <result column="industry_bigid" jdbcType="CHAR" property="industryBigid" />
    <result column="industry_id" jdbcType="CHAR" property="industryId" />
    <result column="address" jdbcType="CHAR" property="address" />
    <result column="power_amount" jdbcType="DOUBLE" property="powerAmount" />
    <result column="address_register" jdbcType="VARCHAR" property="addressRegister" />
    <result column="countyid_register" jdbcType="CHAR" property="countyidRegister" />
    <result column="factory_longitude" jdbcType="DOUBLE" property="factoryLongitude" />
    <result column="factory_latitude" jdbcType="DOUBLE" property="factoryLatitude" />
    <result column="source_type" jdbcType="CHAR" property="sourceType" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="last_changed_time" jdbcType="TIMESTAMP" property="lastChangedTime" />
    <result column="audit_time" jdbcType="TIMESTAMP" property="auditTime" />
    <result column="filling_time" jdbcType="TIMESTAMP" property="fillingTime" />
    <result column="Year_days" jdbcType="INTEGER" property="yearDays" />
    <result column="Days_hours" jdbcType="INTEGER" property="daysHours" />
    <result column="total_output" jdbcType="DOUBLE" property="totalOutput" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="principal_name" jdbcType="VARCHAR" property="principalName" />
    <result column="principal_phone" jdbcType="VARCHAR" property="principalPhone" />
    <result column="principal_mobile" jdbcType="VARCHAR" property="principalMobile" />
    <result column="principal_email" jdbcType="VARCHAR" property="principalEmail" />
    <result column="lat1" jdbcType="DOUBLE" property="lat1" />
    <result column="lon1" jdbcType="DOUBLE" property="lon1" />
    <result column="lat2" jdbcType="DOUBLE" property="lat2" />
    <result column="lon2" jdbcType="DOUBLE" property="lon2" />
    <result column="lat3" jdbcType="DOUBLE" property="lat3" />
    <result column="lon3" jdbcType="DOUBLE" property="lon3" />
    <result column="lat4" jdbcType="DOUBLE" property="lat4" />
    <result column="lon4" jdbcType="DOUBLE" property="lon4" />
    <result column="lat5" jdbcType="DOUBLE" property="lat5" />
    <result column="lon5" jdbcType="DOUBLE" property="lon5" />
    <result column="lat6" jdbcType="DOUBLE" property="lat6" />
    <result column="lon6" jdbcType="DOUBLE" property="lon6" />
    <result column="lat7" jdbcType="DOUBLE" property="lat7" />
    <result column="lon7" jdbcType="DOUBLE" property="lon7" />
    <result column="exhaust_count" jdbcType="INTEGER" property="exhaustCount" />
    <result column="boiler_count" jdbcType="INTEGER" property="boilerCount" />
    <result column="kiln_count" jdbcType="INTEGER" property="kilnCount" />
    <result column="device_count" jdbcType="INTEGER" property="deviceCount" />
    <result column="device_product_count" jdbcType="INTEGER" property="deviceProductCount" />
    <result column="device_raw_count" jdbcType="INTEGER" property="deviceRawCount" />
    <result column="rongji_product_count" jdbcType="INTEGER" property="rongjiProductCount" />
    <result column="rongji_raw_count" jdbcType="INTEGER" property="rongjiRawCount" />
    <result column="feiqi_count" jdbcType="INTEGER" property="feiqiCount" />
    <result column="soil_dust_count" jdbcType="INTEGER" property="soilDustCount" />
    <result column="con_dust_count" jdbcType="INTEGER" property="conDustCount" />
    <result column="road_dust_count" jdbcType="INTEGER" property="roadDustCount" />
    <result column="yard_dust_count" jdbcType="INTEGER" property="yardDustCount" />
    <result column="no_org_work_count" jdbcType="INTEGER" property="noOrgWorkCount" />
    <result column="flag" jdbcType="BIT" property="flag" />
    <result column="important" jdbcType="INTEGER" property="important" />
  </resultMap>
  <resultMap extends="BaseResultMap" id="ResultMapWithBLOBs" type="com.nankai.xining.bean.Factory">
    <result column="note" jdbcType="LONGVARCHAR" property="note" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    factory_id, factory_no, legalperson, factory_name, factory_usedname, factory_size, 
    county_id, industry_bigid, industry_id, address, power_amount, address_register, 
    countyid_register, factory_longitude, factory_latitude, source_type, year, last_changed_time, 
    audit_time, filling_time, Year_days, Days_hours, total_output, status, principal_name, 
    principal_phone, principal_mobile, principal_email, lat1, lon1, lat2, lon2, lat3, 
    lon3, lat4, lon4, lat5, lon5, lat6, lon6, lat7, lon7, exhaust_count, boiler_count, 
    kiln_count, device_count, device_product_count, device_raw_count, rongji_product_count, 
    rongji_raw_count, feiqi_count, soil_dust_count, con_dust_count, road_dust_count, 
    yard_dust_count, no_org_work_count, flag, important
  </sql>
  <sql id="Blob_Column_List">
    note
  </sql>
  <select id="selectByExampleWithBLOBs" parameterType="com.nankai.xining.bean.FactoryExample" resultMap="ResultMapWithBLOBs">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from factory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.FactoryExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from factory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="ResultMapWithBLOBs">
    select 
    <include refid="Base_Column_List" />
    ,
    <include refid="Blob_Column_List" />
    from factory
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from factory
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.FactoryExample">
    delete from factory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Factory">
    insert into factory (factory_id, factory_no, legalperson, 
      factory_name, factory_usedname, factory_size, 
      county_id, industry_bigid, industry_id, 
      address, power_amount, address_register, 
      countyid_register, factory_longitude, factory_latitude, 
      source_type, year, last_changed_time, 
      audit_time, filling_time, Year_days, 
      Days_hours, total_output, status, 
      principal_name, principal_phone, principal_mobile, 
      principal_email, lat1, lon1, 
      lat2, lon2, lat3, lon3, 
      lat4, lon4, lat5, lon5, 
      lat6, lon6, lat7, lon7, 
      exhaust_count, boiler_count, kiln_count, 
      device_count, device_product_count, device_raw_count, 
      rongji_product_count, rongji_raw_count, feiqi_count, 
      soil_dust_count, con_dust_count, road_dust_count, 
      yard_dust_count, no_org_work_count, flag, 
      important, note)
    values (#{factoryId,jdbcType=INTEGER}, #{factoryNo,jdbcType=CHAR}, #{legalperson,jdbcType=VARCHAR}, 
      #{factoryName,jdbcType=VARCHAR}, #{factoryUsedname,jdbcType=VARCHAR}, #{factorySize,jdbcType=VARCHAR}, 
      #{countyId,jdbcType=CHAR}, #{industryBigid,jdbcType=CHAR}, #{industryId,jdbcType=CHAR}, 
      #{address,jdbcType=CHAR}, #{powerAmount,jdbcType=DOUBLE}, #{addressRegister,jdbcType=VARCHAR}, 
      #{countyidRegister,jdbcType=CHAR}, #{factoryLongitude,jdbcType=DOUBLE}, #{factoryLatitude,jdbcType=DOUBLE}, 
      #{sourceType,jdbcType=CHAR}, #{year,jdbcType=CHAR}, #{lastChangedTime,jdbcType=TIMESTAMP}, 
      #{auditTime,jdbcType=TIMESTAMP}, #{fillingTime,jdbcType=TIMESTAMP}, #{yearDays,jdbcType=INTEGER}, 
      #{daysHours,jdbcType=INTEGER}, #{totalOutput,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER}, 
      #{principalName,jdbcType=VARCHAR}, #{principalPhone,jdbcType=VARCHAR}, #{principalMobile,jdbcType=VARCHAR}, 
      #{principalEmail,jdbcType=VARCHAR}, #{lat1,jdbcType=DOUBLE}, #{lon1,jdbcType=DOUBLE}, 
      #{lat2,jdbcType=DOUBLE}, #{lon2,jdbcType=DOUBLE}, #{lat3,jdbcType=DOUBLE}, #{lon3,jdbcType=DOUBLE}, 
      #{lat4,jdbcType=DOUBLE}, #{lon4,jdbcType=DOUBLE}, #{lat5,jdbcType=DOUBLE}, #{lon5,jdbcType=DOUBLE}, 
      #{lat6,jdbcType=DOUBLE}, #{lon6,jdbcType=DOUBLE}, #{lat7,jdbcType=DOUBLE}, #{lon7,jdbcType=DOUBLE}, 
      #{exhaustCount,jdbcType=INTEGER}, #{boilerCount,jdbcType=INTEGER}, #{kilnCount,jdbcType=INTEGER}, 
      #{deviceCount,jdbcType=INTEGER}, #{deviceProductCount,jdbcType=INTEGER}, #{deviceRawCount,jdbcType=INTEGER}, 
      #{rongjiProductCount,jdbcType=INTEGER}, #{rongjiRawCount,jdbcType=INTEGER}, #{feiqiCount,jdbcType=INTEGER}, 
      #{soilDustCount,jdbcType=INTEGER}, #{conDustCount,jdbcType=INTEGER}, #{roadDustCount,jdbcType=INTEGER}, 
      #{yardDustCount,jdbcType=INTEGER}, #{noOrgWorkCount,jdbcType=INTEGER}, #{flag,jdbcType=BIT}, 
      #{important,jdbcType=INTEGER}, #{note,jdbcType=LONGVARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Factory">
    insert into factory
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="factoryNo != null">
        factory_no,
      </if>
      <if test="legalperson != null">
        legalperson,
      </if>
      <if test="factoryName != null">
        factory_name,
      </if>
      <if test="factoryUsedname != null">
        factory_usedname,
      </if>
      <if test="factorySize != null">
        factory_size,
      </if>
      <if test="countyId != null">
        county_id,
      </if>
      <if test="industryBigid != null">
        industry_bigid,
      </if>
      <if test="industryId != null">
        industry_id,
      </if>
      <if test="address != null">
        address,
      </if>
      <if test="powerAmount != null">
        power_amount,
      </if>
      <if test="addressRegister != null">
        address_register,
      </if>
      <if test="countyidRegister != null">
        countyid_register,
      </if>
      <if test="factoryLongitude != null">
        factory_longitude,
      </if>
      <if test="factoryLatitude != null">
        factory_latitude,
      </if>
      <if test="sourceType != null">
        source_type,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="lastChangedTime != null">
        last_changed_time,
      </if>
      <if test="auditTime != null">
        audit_time,
      </if>
      <if test="fillingTime != null">
        filling_time,
      </if>
      <if test="yearDays != null">
        Year_days,
      </if>
      <if test="daysHours != null">
        Days_hours,
      </if>
      <if test="totalOutput != null">
        total_output,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="principalName != null">
        principal_name,
      </if>
      <if test="principalPhone != null">
        principal_phone,
      </if>
      <if test="principalMobile != null">
        principal_mobile,
      </if>
      <if test="principalEmail != null">
        principal_email,
      </if>
      <if test="lat1 != null">
        lat1,
      </if>
      <if test="lon1 != null">
        lon1,
      </if>
      <if test="lat2 != null">
        lat2,
      </if>
      <if test="lon2 != null">
        lon2,
      </if>
      <if test="lat3 != null">
        lat3,
      </if>
      <if test="lon3 != null">
        lon3,
      </if>
      <if test="lat4 != null">
        lat4,
      </if>
      <if test="lon4 != null">
        lon4,
      </if>
      <if test="lat5 != null">
        lat5,
      </if>
      <if test="lon5 != null">
        lon5,
      </if>
      <if test="lat6 != null">
        lat6,
      </if>
      <if test="lon6 != null">
        lon6,
      </if>
      <if test="lat7 != null">
        lat7,
      </if>
      <if test="lon7 != null">
        lon7,
      </if>
      <if test="exhaustCount != null">
        exhaust_count,
      </if>
      <if test="boilerCount != null">
        boiler_count,
      </if>
      <if test="kilnCount != null">
        kiln_count,
      </if>
      <if test="deviceCount != null">
        device_count,
      </if>
      <if test="deviceProductCount != null">
        device_product_count,
      </if>
      <if test="deviceRawCount != null">
        device_raw_count,
      </if>
      <if test="rongjiProductCount != null">
        rongji_product_count,
      </if>
      <if test="rongjiRawCount != null">
        rongji_raw_count,
      </if>
      <if test="feiqiCount != null">
        feiqi_count,
      </if>
      <if test="soilDustCount != null">
        soil_dust_count,
      </if>
      <if test="conDustCount != null">
        con_dust_count,
      </if>
      <if test="roadDustCount != null">
        road_dust_count,
      </if>
      <if test="yardDustCount != null">
        yard_dust_count,
      </if>
      <if test="noOrgWorkCount != null">
        no_org_work_count,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="important != null">
        important,
      </if>
      <if test="note != null">
        note,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="factoryNo != null">
        #{factoryNo,jdbcType=CHAR},
      </if>
      <if test="legalperson != null">
        #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryUsedname != null">
        #{factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="factorySize != null">
        #{factorySize,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        #{countyId,jdbcType=CHAR},
      </if>
      <if test="industryBigid != null">
        #{industryBigid,jdbcType=CHAR},
      </if>
      <if test="industryId != null">
        #{industryId,jdbcType=CHAR},
      </if>
      <if test="address != null">
        #{address,jdbcType=CHAR},
      </if>
      <if test="powerAmount != null">
        #{powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="addressRegister != null">
        #{addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="countyidRegister != null">
        #{countyidRegister,jdbcType=CHAR},
      </if>
      <if test="factoryLongitude != null">
        #{factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="factoryLatitude != null">
        #{factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="sourceType != null">
        #{sourceType,jdbcType=CHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="lastChangedTime != null">
        #{lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fillingTime != null">
        #{fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yearDays != null">
        #{yearDays,jdbcType=INTEGER},
      </if>
      <if test="daysHours != null">
        #{daysHours,jdbcType=INTEGER},
      </if>
      <if test="totalOutput != null">
        #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null">
        #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalMobile != null">
        #{principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="principalEmail != null">
        #{principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="lat1 != null">
        #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lon1 != null">
        #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null">
        #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null">
        #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null">
        #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null">
        #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null">
        #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null">
        #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat5 != null">
        #{lat5,jdbcType=DOUBLE},
      </if>
      <if test="lon5 != null">
        #{lon5,jdbcType=DOUBLE},
      </if>
      <if test="lat6 != null">
        #{lat6,jdbcType=DOUBLE},
      </if>
      <if test="lon6 != null">
        #{lon6,jdbcType=DOUBLE},
      </if>
      <if test="lat7 != null">
        #{lat7,jdbcType=DOUBLE},
      </if>
      <if test="lon7 != null">
        #{lon7,jdbcType=DOUBLE},
      </if>
      <if test="exhaustCount != null">
        #{exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="boilerCount != null">
        #{boilerCount,jdbcType=INTEGER},
      </if>
      <if test="kilnCount != null">
        #{kilnCount,jdbcType=INTEGER},
      </if>
      <if test="deviceCount != null">
        #{deviceCount,jdbcType=INTEGER},
      </if>
      <if test="deviceProductCount != null">
        #{deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="deviceRawCount != null">
        #{deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiProductCount != null">
        #{rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiRawCount != null">
        #{rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="feiqiCount != null">
        #{feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="soilDustCount != null">
        #{soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="conDustCount != null">
        #{conDustCount,jdbcType=INTEGER},
      </if>
      <if test="roadDustCount != null">
        #{roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="yardDustCount != null">
        #{yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="noOrgWorkCount != null">
        #{noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=BIT},
      </if>
      <if test="important != null">
        #{important,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        #{note,jdbcType=LONGVARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.FactoryExample" resultType="java.lang.Long">
    select count(*) from factory
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update factory
    <set>
      <if test="record.factoryId != null">
        factory_id = #{record.factoryId,jdbcType=INTEGER},
      </if>
      <if test="record.factoryNo != null">
        factory_no = #{record.factoryNo,jdbcType=CHAR},
      </if>
      <if test="record.legalperson != null">
        legalperson = #{record.legalperson,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryName != null">
        factory_name = #{record.factoryName,jdbcType=VARCHAR},
      </if>
      <if test="record.factoryUsedname != null">
        factory_usedname = #{record.factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="record.factorySize != null">
        factory_size = #{record.factorySize,jdbcType=VARCHAR},
      </if>
      <if test="record.countyId != null">
        county_id = #{record.countyId,jdbcType=CHAR},
      </if>
      <if test="record.industryBigid != null">
        industry_bigid = #{record.industryBigid,jdbcType=CHAR},
      </if>
      <if test="record.industryId != null">
        industry_id = #{record.industryId,jdbcType=CHAR},
      </if>
      <if test="record.address != null">
        address = #{record.address,jdbcType=CHAR},
      </if>
      <if test="record.powerAmount != null">
        power_amount = #{record.powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="record.addressRegister != null">
        address_register = #{record.addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="record.countyidRegister != null">
        countyid_register = #{record.countyidRegister,jdbcType=CHAR},
      </if>
      <if test="record.factoryLongitude != null">
        factory_longitude = #{record.factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="record.factoryLatitude != null">
        factory_latitude = #{record.factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="record.sourceType != null">
        source_type = #{record.sourceType,jdbcType=CHAR},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=CHAR},
      </if>
      <if test="record.lastChangedTime != null">
        last_changed_time = #{record.lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.auditTime != null">
        audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.fillingTime != null">
        filling_time = #{record.fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.yearDays != null">
        Year_days = #{record.yearDays,jdbcType=INTEGER},
      </if>
      <if test="record.daysHours != null">
        Days_hours = #{record.daysHours,jdbcType=INTEGER},
      </if>
      <if test="record.totalOutput != null">
        total_output = #{record.totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.principalName != null">
        principal_name = #{record.principalName,jdbcType=VARCHAR},
      </if>
      <if test="record.principalPhone != null">
        principal_phone = #{record.principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="record.principalMobile != null">
        principal_mobile = #{record.principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="record.principalEmail != null">
        principal_email = #{record.principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="record.lat1 != null">
        lat1 = #{record.lat1,jdbcType=DOUBLE},
      </if>
      <if test="record.lon1 != null">
        lon1 = #{record.lon1,jdbcType=DOUBLE},
      </if>
      <if test="record.lat2 != null">
        lat2 = #{record.lat2,jdbcType=DOUBLE},
      </if>
      <if test="record.lon2 != null">
        lon2 = #{record.lon2,jdbcType=DOUBLE},
      </if>
      <if test="record.lat3 != null">
        lat3 = #{record.lat3,jdbcType=DOUBLE},
      </if>
      <if test="record.lon3 != null">
        lon3 = #{record.lon3,jdbcType=DOUBLE},
      </if>
      <if test="record.lat4 != null">
        lat4 = #{record.lat4,jdbcType=DOUBLE},
      </if>
      <if test="record.lon4 != null">
        lon4 = #{record.lon4,jdbcType=DOUBLE},
      </if>
      <if test="record.lat5 != null">
        lat5 = #{record.lat5,jdbcType=DOUBLE},
      </if>
      <if test="record.lon5 != null">
        lon5 = #{record.lon5,jdbcType=DOUBLE},
      </if>
      <if test="record.lat6 != null">
        lat6 = #{record.lat6,jdbcType=DOUBLE},
      </if>
      <if test="record.lon6 != null">
        lon6 = #{record.lon6,jdbcType=DOUBLE},
      </if>
      <if test="record.lat7 != null">
        lat7 = #{record.lat7,jdbcType=DOUBLE},
      </if>
      <if test="record.lon7 != null">
        lon7 = #{record.lon7,jdbcType=DOUBLE},
      </if>
      <if test="record.exhaustCount != null">
        exhaust_count = #{record.exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="record.boilerCount != null">
        boiler_count = #{record.boilerCount,jdbcType=INTEGER},
      </if>
      <if test="record.kilnCount != null">
        kiln_count = #{record.kilnCount,jdbcType=INTEGER},
      </if>
      <if test="record.deviceCount != null">
        device_count = #{record.deviceCount,jdbcType=INTEGER},
      </if>
      <if test="record.deviceProductCount != null">
        device_product_count = #{record.deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="record.deviceRawCount != null">
        device_raw_count = #{record.deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="record.rongjiProductCount != null">
        rongji_product_count = #{record.rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="record.rongjiRawCount != null">
        rongji_raw_count = #{record.rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="record.feiqiCount != null">
        feiqi_count = #{record.feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="record.soilDustCount != null">
        soil_dust_count = #{record.soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="record.conDustCount != null">
        con_dust_count = #{record.conDustCount,jdbcType=INTEGER},
      </if>
      <if test="record.roadDustCount != null">
        road_dust_count = #{record.roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="record.yardDustCount != null">
        yard_dust_count = #{record.yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="record.noOrgWorkCount != null">
        no_org_work_count = #{record.noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=BIT},
      </if>
      <if test="record.important != null">
        important = #{record.important,jdbcType=INTEGER},
      </if>
      <if test="record.note != null">
        note = #{record.note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExampleWithBLOBs" parameterType="map">
    update factory
    set factory_id = #{record.factoryId,jdbcType=INTEGER},
      factory_no = #{record.factoryNo,jdbcType=CHAR},
      legalperson = #{record.legalperson,jdbcType=VARCHAR},
      factory_name = #{record.factoryName,jdbcType=VARCHAR},
      factory_usedname = #{record.factoryUsedname,jdbcType=VARCHAR},
      factory_size = #{record.factorySize,jdbcType=VARCHAR},
      county_id = #{record.countyId,jdbcType=CHAR},
      industry_bigid = #{record.industryBigid,jdbcType=CHAR},
      industry_id = #{record.industryId,jdbcType=CHAR},
      address = #{record.address,jdbcType=CHAR},
      power_amount = #{record.powerAmount,jdbcType=DOUBLE},
      address_register = #{record.addressRegister,jdbcType=VARCHAR},
      countyid_register = #{record.countyidRegister,jdbcType=CHAR},
      factory_longitude = #{record.factoryLongitude,jdbcType=DOUBLE},
      factory_latitude = #{record.factoryLatitude,jdbcType=DOUBLE},
      source_type = #{record.sourceType,jdbcType=CHAR},
      year = #{record.year,jdbcType=CHAR},
      last_changed_time = #{record.lastChangedTime,jdbcType=TIMESTAMP},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      filling_time = #{record.fillingTime,jdbcType=TIMESTAMP},
      Year_days = #{record.yearDays,jdbcType=INTEGER},
      Days_hours = #{record.daysHours,jdbcType=INTEGER},
      total_output = #{record.totalOutput,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=INTEGER},
      principal_name = #{record.principalName,jdbcType=VARCHAR},
      principal_phone = #{record.principalPhone,jdbcType=VARCHAR},
      principal_mobile = #{record.principalMobile,jdbcType=VARCHAR},
      principal_email = #{record.principalEmail,jdbcType=VARCHAR},
      lat1 = #{record.lat1,jdbcType=DOUBLE},
      lon1 = #{record.lon1,jdbcType=DOUBLE},
      lat2 = #{record.lat2,jdbcType=DOUBLE},
      lon2 = #{record.lon2,jdbcType=DOUBLE},
      lat3 = #{record.lat3,jdbcType=DOUBLE},
      lon3 = #{record.lon3,jdbcType=DOUBLE},
      lat4 = #{record.lat4,jdbcType=DOUBLE},
      lon4 = #{record.lon4,jdbcType=DOUBLE},
      lat5 = #{record.lat5,jdbcType=DOUBLE},
      lon5 = #{record.lon5,jdbcType=DOUBLE},
      lat6 = #{record.lat6,jdbcType=DOUBLE},
      lon6 = #{record.lon6,jdbcType=DOUBLE},
      lat7 = #{record.lat7,jdbcType=DOUBLE},
      lon7 = #{record.lon7,jdbcType=DOUBLE},
      exhaust_count = #{record.exhaustCount,jdbcType=INTEGER},
      boiler_count = #{record.boilerCount,jdbcType=INTEGER},
      kiln_count = #{record.kilnCount,jdbcType=INTEGER},
      device_count = #{record.deviceCount,jdbcType=INTEGER},
      device_product_count = #{record.deviceProductCount,jdbcType=INTEGER},
      device_raw_count = #{record.deviceRawCount,jdbcType=INTEGER},
      rongji_product_count = #{record.rongjiProductCount,jdbcType=INTEGER},
      rongji_raw_count = #{record.rongjiRawCount,jdbcType=INTEGER},
      feiqi_count = #{record.feiqiCount,jdbcType=INTEGER},
      soil_dust_count = #{record.soilDustCount,jdbcType=INTEGER},
      con_dust_count = #{record.conDustCount,jdbcType=INTEGER},
      road_dust_count = #{record.roadDustCount,jdbcType=INTEGER},
      yard_dust_count = #{record.yardDustCount,jdbcType=INTEGER},
      no_org_work_count = #{record.noOrgWorkCount,jdbcType=INTEGER},
      flag = #{record.flag,jdbcType=BIT},
      important = #{record.important,jdbcType=INTEGER},
      note = #{record.note,jdbcType=LONGVARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update factory
    set factory_id = #{record.factoryId,jdbcType=INTEGER},
      factory_no = #{record.factoryNo,jdbcType=CHAR},
      legalperson = #{record.legalperson,jdbcType=VARCHAR},
      factory_name = #{record.factoryName,jdbcType=VARCHAR},
      factory_usedname = #{record.factoryUsedname,jdbcType=VARCHAR},
      factory_size = #{record.factorySize,jdbcType=VARCHAR},
      county_id = #{record.countyId,jdbcType=CHAR},
      industry_bigid = #{record.industryBigid,jdbcType=CHAR},
      industry_id = #{record.industryId,jdbcType=CHAR},
      address = #{record.address,jdbcType=CHAR},
      power_amount = #{record.powerAmount,jdbcType=DOUBLE},
      address_register = #{record.addressRegister,jdbcType=VARCHAR},
      countyid_register = #{record.countyidRegister,jdbcType=CHAR},
      factory_longitude = #{record.factoryLongitude,jdbcType=DOUBLE},
      factory_latitude = #{record.factoryLatitude,jdbcType=DOUBLE},
      source_type = #{record.sourceType,jdbcType=CHAR},
      year = #{record.year,jdbcType=CHAR},
      last_changed_time = #{record.lastChangedTime,jdbcType=TIMESTAMP},
      audit_time = #{record.auditTime,jdbcType=TIMESTAMP},
      filling_time = #{record.fillingTime,jdbcType=TIMESTAMP},
      Year_days = #{record.yearDays,jdbcType=INTEGER},
      Days_hours = #{record.daysHours,jdbcType=INTEGER},
      total_output = #{record.totalOutput,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=INTEGER},
      principal_name = #{record.principalName,jdbcType=VARCHAR},
      principal_phone = #{record.principalPhone,jdbcType=VARCHAR},
      principal_mobile = #{record.principalMobile,jdbcType=VARCHAR},
      principal_email = #{record.principalEmail,jdbcType=VARCHAR},
      lat1 = #{record.lat1,jdbcType=DOUBLE},
      lon1 = #{record.lon1,jdbcType=DOUBLE},
      lat2 = #{record.lat2,jdbcType=DOUBLE},
      lon2 = #{record.lon2,jdbcType=DOUBLE},
      lat3 = #{record.lat3,jdbcType=DOUBLE},
      lon3 = #{record.lon3,jdbcType=DOUBLE},
      lat4 = #{record.lat4,jdbcType=DOUBLE},
      lon4 = #{record.lon4,jdbcType=DOUBLE},
      lat5 = #{record.lat5,jdbcType=DOUBLE},
      lon5 = #{record.lon5,jdbcType=DOUBLE},
      lat6 = #{record.lat6,jdbcType=DOUBLE},
      lon6 = #{record.lon6,jdbcType=DOUBLE},
      lat7 = #{record.lat7,jdbcType=DOUBLE},
      lon7 = #{record.lon7,jdbcType=DOUBLE},
      exhaust_count = #{record.exhaustCount,jdbcType=INTEGER},
      boiler_count = #{record.boilerCount,jdbcType=INTEGER},
      kiln_count = #{record.kilnCount,jdbcType=INTEGER},
      device_count = #{record.deviceCount,jdbcType=INTEGER},
      device_product_count = #{record.deviceProductCount,jdbcType=INTEGER},
      device_raw_count = #{record.deviceRawCount,jdbcType=INTEGER},
      rongji_product_count = #{record.rongjiProductCount,jdbcType=INTEGER},
      rongji_raw_count = #{record.rongjiRawCount,jdbcType=INTEGER},
      feiqi_count = #{record.feiqiCount,jdbcType=INTEGER},
      soil_dust_count = #{record.soilDustCount,jdbcType=INTEGER},
      con_dust_count = #{record.conDustCount,jdbcType=INTEGER},
      road_dust_count = #{record.roadDustCount,jdbcType=INTEGER},
      yard_dust_count = #{record.yardDustCount,jdbcType=INTEGER},
      no_org_work_count = #{record.noOrgWorkCount,jdbcType=INTEGER},
      flag = #{record.flag,jdbcType=BIT},
      important = #{record.important,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Factory">
    update factory
    <set>
      <if test="factoryNo != null">
        factory_no = #{factoryNo,jdbcType=CHAR},
      </if>
      <if test="legalperson != null">
        legalperson = #{legalperson,jdbcType=VARCHAR},
      </if>
      <if test="factoryName != null">
        factory_name = #{factoryName,jdbcType=VARCHAR},
      </if>
      <if test="factoryUsedname != null">
        factory_usedname = #{factoryUsedname,jdbcType=VARCHAR},
      </if>
      <if test="factorySize != null">
        factory_size = #{factorySize,jdbcType=VARCHAR},
      </if>
      <if test="countyId != null">
        county_id = #{countyId,jdbcType=CHAR},
      </if>
      <if test="industryBigid != null">
        industry_bigid = #{industryBigid,jdbcType=CHAR},
      </if>
      <if test="industryId != null">
        industry_id = #{industryId,jdbcType=CHAR},
      </if>
      <if test="address != null">
        address = #{address,jdbcType=CHAR},
      </if>
      <if test="powerAmount != null">
        power_amount = #{powerAmount,jdbcType=DOUBLE},
      </if>
      <if test="addressRegister != null">
        address_register = #{addressRegister,jdbcType=VARCHAR},
      </if>
      <if test="countyidRegister != null">
        countyid_register = #{countyidRegister,jdbcType=CHAR},
      </if>
      <if test="factoryLongitude != null">
        factory_longitude = #{factoryLongitude,jdbcType=DOUBLE},
      </if>
      <if test="factoryLatitude != null">
        factory_latitude = #{factoryLatitude,jdbcType=DOUBLE},
      </if>
      <if test="sourceType != null">
        source_type = #{sourceType,jdbcType=CHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="lastChangedTime != null">
        last_changed_time = #{lastChangedTime,jdbcType=TIMESTAMP},
      </if>
      <if test="auditTime != null">
        audit_time = #{auditTime,jdbcType=TIMESTAMP},
      </if>
      <if test="fillingTime != null">
        filling_time = #{fillingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="yearDays != null">
        Year_days = #{yearDays,jdbcType=INTEGER},
      </if>
      <if test="daysHours != null">
        Days_hours = #{daysHours,jdbcType=INTEGER},
      </if>
      <if test="totalOutput != null">
        total_output = #{totalOutput,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="principalName != null">
        principal_name = #{principalName,jdbcType=VARCHAR},
      </if>
      <if test="principalPhone != null">
        principal_phone = #{principalPhone,jdbcType=VARCHAR},
      </if>
      <if test="principalMobile != null">
        principal_mobile = #{principalMobile,jdbcType=VARCHAR},
      </if>
      <if test="principalEmail != null">
        principal_email = #{principalEmail,jdbcType=VARCHAR},
      </if>
      <if test="lat1 != null">
        lat1 = #{lat1,jdbcType=DOUBLE},
      </if>
      <if test="lon1 != null">
        lon1 = #{lon1,jdbcType=DOUBLE},
      </if>
      <if test="lat2 != null">
        lat2 = #{lat2,jdbcType=DOUBLE},
      </if>
      <if test="lon2 != null">
        lon2 = #{lon2,jdbcType=DOUBLE},
      </if>
      <if test="lat3 != null">
        lat3 = #{lat3,jdbcType=DOUBLE},
      </if>
      <if test="lon3 != null">
        lon3 = #{lon3,jdbcType=DOUBLE},
      </if>
      <if test="lat4 != null">
        lat4 = #{lat4,jdbcType=DOUBLE},
      </if>
      <if test="lon4 != null">
        lon4 = #{lon4,jdbcType=DOUBLE},
      </if>
      <if test="lat5 != null">
        lat5 = #{lat5,jdbcType=DOUBLE},
      </if>
      <if test="lon5 != null">
        lon5 = #{lon5,jdbcType=DOUBLE},
      </if>
      <if test="lat6 != null">
        lat6 = #{lat6,jdbcType=DOUBLE},
      </if>
      <if test="lon6 != null">
        lon6 = #{lon6,jdbcType=DOUBLE},
      </if>
      <if test="lat7 != null">
        lat7 = #{lat7,jdbcType=DOUBLE},
      </if>
      <if test="lon7 != null">
        lon7 = #{lon7,jdbcType=DOUBLE},
      </if>
      <if test="exhaustCount != null">
        exhaust_count = #{exhaustCount,jdbcType=INTEGER},
      </if>
      <if test="boilerCount != null">
        boiler_count = #{boilerCount,jdbcType=INTEGER},
      </if>
      <if test="kilnCount != null">
        kiln_count = #{kilnCount,jdbcType=INTEGER},
      </if>
      <if test="deviceCount != null">
        device_count = #{deviceCount,jdbcType=INTEGER},
      </if>
      <if test="deviceProductCount != null">
        device_product_count = #{deviceProductCount,jdbcType=INTEGER},
      </if>
      <if test="deviceRawCount != null">
        device_raw_count = #{deviceRawCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiProductCount != null">
        rongji_product_count = #{rongjiProductCount,jdbcType=INTEGER},
      </if>
      <if test="rongjiRawCount != null">
        rongji_raw_count = #{rongjiRawCount,jdbcType=INTEGER},
      </if>
      <if test="feiqiCount != null">
        feiqi_count = #{feiqiCount,jdbcType=INTEGER},
      </if>
      <if test="soilDustCount != null">
        soil_dust_count = #{soilDustCount,jdbcType=INTEGER},
      </if>
      <if test="conDustCount != null">
        con_dust_count = #{conDustCount,jdbcType=INTEGER},
      </if>
      <if test="roadDustCount != null">
        road_dust_count = #{roadDustCount,jdbcType=INTEGER},
      </if>
      <if test="yardDustCount != null">
        yard_dust_count = #{yardDustCount,jdbcType=INTEGER},
      </if>
      <if test="noOrgWorkCount != null">
        no_org_work_count = #{noOrgWorkCount,jdbcType=INTEGER},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=BIT},
      </if>
      <if test="important != null">
        important = #{important,jdbcType=INTEGER},
      </if>
      <if test="note != null">
        note = #{note,jdbcType=LONGVARCHAR},
      </if>
    </set>
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKeyWithBLOBs" parameterType="com.nankai.xining.bean.Factory">
    update factory
    set factory_no = #{factoryNo,jdbcType=CHAR},
      legalperson = #{legalperson,jdbcType=VARCHAR},
      factory_name = #{factoryName,jdbcType=VARCHAR},
      factory_usedname = #{factoryUsedname,jdbcType=VARCHAR},
      factory_size = #{factorySize,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=CHAR},
      industry_bigid = #{industryBigid,jdbcType=CHAR},
      industry_id = #{industryId,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      power_amount = #{powerAmount,jdbcType=DOUBLE},
      address_register = #{addressRegister,jdbcType=VARCHAR},
      countyid_register = #{countyidRegister,jdbcType=CHAR},
      factory_longitude = #{factoryLongitude,jdbcType=DOUBLE},
      factory_latitude = #{factoryLatitude,jdbcType=DOUBLE},
      source_type = #{sourceType,jdbcType=CHAR},
      year = #{year,jdbcType=CHAR},
      last_changed_time = #{lastChangedTime,jdbcType=TIMESTAMP},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      filling_time = #{fillingTime,jdbcType=TIMESTAMP},
      Year_days = #{yearDays,jdbcType=INTEGER},
      Days_hours = #{daysHours,jdbcType=INTEGER},
      total_output = #{totalOutput,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      principal_name = #{principalName,jdbcType=VARCHAR},
      principal_phone = #{principalPhone,jdbcType=VARCHAR},
      principal_mobile = #{principalMobile,jdbcType=VARCHAR},
      principal_email = #{principalEmail,jdbcType=VARCHAR},
      lat1 = #{lat1,jdbcType=DOUBLE},
      lon1 = #{lon1,jdbcType=DOUBLE},
      lat2 = #{lat2,jdbcType=DOUBLE},
      lon2 = #{lon2,jdbcType=DOUBLE},
      lat3 = #{lat3,jdbcType=DOUBLE},
      lon3 = #{lon3,jdbcType=DOUBLE},
      lat4 = #{lat4,jdbcType=DOUBLE},
      lon4 = #{lon4,jdbcType=DOUBLE},
      lat5 = #{lat5,jdbcType=DOUBLE},
      lon5 = #{lon5,jdbcType=DOUBLE},
      lat6 = #{lat6,jdbcType=DOUBLE},
      lon6 = #{lon6,jdbcType=DOUBLE},
      lat7 = #{lat7,jdbcType=DOUBLE},
      lon7 = #{lon7,jdbcType=DOUBLE},
      exhaust_count = #{exhaustCount,jdbcType=INTEGER},
      boiler_count = #{boilerCount,jdbcType=INTEGER},
      kiln_count = #{kilnCount,jdbcType=INTEGER},
      device_count = #{deviceCount,jdbcType=INTEGER},
      device_product_count = #{deviceProductCount,jdbcType=INTEGER},
      device_raw_count = #{deviceRawCount,jdbcType=INTEGER},
      rongji_product_count = #{rongjiProductCount,jdbcType=INTEGER},
      rongji_raw_count = #{rongjiRawCount,jdbcType=INTEGER},
      feiqi_count = #{feiqiCount,jdbcType=INTEGER},
      soil_dust_count = #{soilDustCount,jdbcType=INTEGER},
      con_dust_count = #{conDustCount,jdbcType=INTEGER},
      road_dust_count = #{roadDustCount,jdbcType=INTEGER},
      yard_dust_count = #{yardDustCount,jdbcType=INTEGER},
      no_org_work_count = #{noOrgWorkCount,jdbcType=INTEGER},
      flag = #{flag,jdbcType=BIT},
      important = #{important,jdbcType=INTEGER},
      note = #{note,jdbcType=LONGVARCHAR}
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Factory">
    update factory
    set factory_no = #{factoryNo,jdbcType=CHAR},
      legalperson = #{legalperson,jdbcType=VARCHAR},
      factory_name = #{factoryName,jdbcType=VARCHAR},
      factory_usedname = #{factoryUsedname,jdbcType=VARCHAR},
      factory_size = #{factorySize,jdbcType=VARCHAR},
      county_id = #{countyId,jdbcType=CHAR},
      industry_bigid = #{industryBigid,jdbcType=CHAR},
      industry_id = #{industryId,jdbcType=CHAR},
      address = #{address,jdbcType=CHAR},
      power_amount = #{powerAmount,jdbcType=DOUBLE},
      address_register = #{addressRegister,jdbcType=VARCHAR},
      countyid_register = #{countyidRegister,jdbcType=CHAR},
      factory_longitude = #{factoryLongitude,jdbcType=DOUBLE},
      factory_latitude = #{factoryLatitude,jdbcType=DOUBLE},
      source_type = #{sourceType,jdbcType=CHAR},
      year = #{year,jdbcType=CHAR},
      last_changed_time = #{lastChangedTime,jdbcType=TIMESTAMP},
      audit_time = #{auditTime,jdbcType=TIMESTAMP},
      filling_time = #{fillingTime,jdbcType=TIMESTAMP},
      Year_days = #{yearDays,jdbcType=INTEGER},
      Days_hours = #{daysHours,jdbcType=INTEGER},
      total_output = #{totalOutput,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER},
      principal_name = #{principalName,jdbcType=VARCHAR},
      principal_phone = #{principalPhone,jdbcType=VARCHAR},
      principal_mobile = #{principalMobile,jdbcType=VARCHAR},
      principal_email = #{principalEmail,jdbcType=VARCHAR},
      lat1 = #{lat1,jdbcType=DOUBLE},
      lon1 = #{lon1,jdbcType=DOUBLE},
      lat2 = #{lat2,jdbcType=DOUBLE},
      lon2 = #{lon2,jdbcType=DOUBLE},
      lat3 = #{lat3,jdbcType=DOUBLE},
      lon3 = #{lon3,jdbcType=DOUBLE},
      lat4 = #{lat4,jdbcType=DOUBLE},
      lon4 = #{lon4,jdbcType=DOUBLE},
      lat5 = #{lat5,jdbcType=DOUBLE},
      lon5 = #{lon5,jdbcType=DOUBLE},
      lat6 = #{lat6,jdbcType=DOUBLE},
      lon6 = #{lon6,jdbcType=DOUBLE},
      lat7 = #{lat7,jdbcType=DOUBLE},
      lon7 = #{lon7,jdbcType=DOUBLE},
      exhaust_count = #{exhaustCount,jdbcType=INTEGER},
      boiler_count = #{boilerCount,jdbcType=INTEGER},
      kiln_count = #{kilnCount,jdbcType=INTEGER},
      device_count = #{deviceCount,jdbcType=INTEGER},
      device_product_count = #{deviceProductCount,jdbcType=INTEGER},
      device_raw_count = #{deviceRawCount,jdbcType=INTEGER},
      rongji_product_count = #{rongjiProductCount,jdbcType=INTEGER},
      rongji_raw_count = #{rongjiRawCount,jdbcType=INTEGER},
      feiqi_count = #{feiqiCount,jdbcType=INTEGER},
      soil_dust_count = #{soilDustCount,jdbcType=INTEGER},
      con_dust_count = #{conDustCount,jdbcType=INTEGER},
      road_dust_count = #{roadDustCount,jdbcType=INTEGER},
      yard_dust_count = #{yardDustCount,jdbcType=INTEGER},
      no_org_work_count = #{noOrgWorkCount,jdbcType=INTEGER},
      flag = #{flag,jdbcType=BIT},
      important = #{important,jdbcType=INTEGER}
    where factory_id = #{factoryId,jdbcType=INTEGER}
  </update>

  <select id="getCitybyCountry" parameterType="java.lang.String" resultType="java.lang.String">
    SELECT city_code
  FROM county WHERE COUNTY_ID = #{countryID,jdbcType=VARCHAR}
  </select>
</mapper>