<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.FueltypeMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Fueltype">
    <id column="fueltypeid" jdbcType="INTEGER" property="fueltypeid" />
    <result column="fuelname" jdbcType="VARCHAR" property="fuelname" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    fueltypeid, fuelname
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.FueltypeExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from fueltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from fueltype
    where fueltypeid = #{fueltypeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from fueltype
    where fueltypeid = #{fueltypeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.FueltypeExample">
    delete from fueltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Fueltype">
    insert into fueltype (fueltypeid, fuelname)
    values (#{fueltypeid,jdbcType=INTEGER}, #{fuelname,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Fueltype">
    insert into fueltype
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fueltypeid != null">
        fueltypeid,
      </if>
      <if test="fuelname != null">
        fuelname,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fueltypeid != null">
        #{fueltypeid,jdbcType=INTEGER},
      </if>
      <if test="fuelname != null">
        #{fuelname,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.FueltypeExample" resultType="java.lang.Long">
    select count(*) from fueltype
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update fueltype
    <set>
      <if test="record.fueltypeid != null">
        fueltypeid = #{record.fueltypeid,jdbcType=INTEGER},
      </if>
      <if test="record.fuelname != null">
        fuelname = #{record.fuelname,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update fueltype
    set fueltypeid = #{record.fueltypeid,jdbcType=INTEGER},
      fuelname = #{record.fuelname,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Fueltype">
    update fueltype
    <set>
      <if test="fuelname != null">
        fuelname = #{fuelname,jdbcType=VARCHAR},
      </if>
    </set>
    where fueltypeid = #{fueltypeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Fueltype">
    update fueltype
    set fuelname = #{fuelname,jdbcType=VARCHAR}
    where fueltypeid = #{fueltypeid,jdbcType=INTEGER}
  </update>
</mapper>