<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.GasSourceMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.GasSource">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="company_id" jdbcType="INTEGER" property="companyId" />
    <result column="year" jdbcType="CHAR" property="year" />
    <result column="gas_type" jdbcType="CHAR" property="gasType" />
    <result column="scccode" jdbcType="CHAR" property="scccode" />
    <result column="source_discrip" jdbcType="VARCHAR" property="sourceDiscrip" />
    <result column="sales_volume" jdbcType="DOUBLE" property="salesVolume" />
    <result column="emission" jdbcType="DOUBLE" property="emission" />
    <result column="flag" jdbcType="INTEGER" property="flag" />
    <result column="volume" jdbcType="DOUBLE" property="volume" />
    <result column="every_volume" jdbcType="DOUBLE" property="everyVolume" />
    <result column="volume_count" jdbcType="INTEGER" property="volumeCount" />
    <result column="gun_num" jdbcType="INTEGER" property="gunNum" />
    <result column="tank_num" jdbcType="INTEGER" property="tankNum" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, company_id, year, gas_type, scccode, source_discrip, sales_volume, emission, 
    flag, volume, every_volume, volume_count, gun_num, tank_num
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.GasSourceExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from gas_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from gas_source
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from gas_source
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.GasSourceExample">
    delete from gas_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.GasSource">
    insert into gas_source (id, company_id, year, 
      gas_type, scccode, source_discrip, 
      sales_volume, emission, flag, 
      volume, every_volume, volume_count, 
      gun_num, tank_num)
    values (#{id,jdbcType=INTEGER}, #{companyId,jdbcType=INTEGER}, #{year,jdbcType=CHAR}, 
      #{gasType,jdbcType=CHAR}, #{scccode,jdbcType=CHAR}, #{sourceDiscrip,jdbcType=VARCHAR}, 
      #{salesVolume,jdbcType=DOUBLE}, #{emission,jdbcType=DOUBLE}, #{flag,jdbcType=INTEGER}, 
      #{volume,jdbcType=DOUBLE}, #{everyVolume,jdbcType=DOUBLE}, #{volumeCount,jdbcType=INTEGER}, 
      #{gunNum,jdbcType=INTEGER}, #{tankNum,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.GasSource">
    insert into gas_source
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="companyId != null">
        company_id,
      </if>
      <if test="year != null">
        year,
      </if>
      <if test="gasType != null">
        gas_type,
      </if>
      <if test="scccode != null">
        scccode,
      </if>
      <if test="sourceDiscrip != null">
        source_discrip,
      </if>
      <if test="salesVolume != null">
        sales_volume,
      </if>
      <if test="emission != null">
        emission,
      </if>
      <if test="flag != null">
        flag,
      </if>
      <if test="volume != null">
        volume,
      </if>
      <if test="everyVolume != null">
        every_volume,
      </if>
      <if test="volumeCount != null">
        volume_count,
      </if>
      <if test="gunNum != null">
        gun_num,
      </if>
      <if test="tankNum != null">
        tank_num,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="companyId != null">
        #{companyId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        #{year,jdbcType=CHAR},
      </if>
      <if test="gasType != null">
        #{gasType,jdbcType=CHAR},
      </if>
      <if test="scccode != null">
        #{scccode,jdbcType=CHAR},
      </if>
      <if test="sourceDiscrip != null">
        #{sourceDiscrip,jdbcType=VARCHAR},
      </if>
      <if test="salesVolume != null">
        #{salesVolume,jdbcType=DOUBLE},
      </if>
      <if test="emission != null">
        #{emission,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        #{flag,jdbcType=INTEGER},
      </if>
      <if test="volume != null">
        #{volume,jdbcType=DOUBLE},
      </if>
      <if test="everyVolume != null">
        #{everyVolume,jdbcType=DOUBLE},
      </if>
      <if test="volumeCount != null">
        #{volumeCount,jdbcType=INTEGER},
      </if>
      <if test="gunNum != null">
        #{gunNum,jdbcType=INTEGER},
      </if>
      <if test="tankNum != null">
        #{tankNum,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.GasSourceExample" resultType="java.lang.Long">
    select count(*) from gas_source
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update gas_source
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.companyId != null">
        company_id = #{record.companyId,jdbcType=INTEGER},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=CHAR},
      </if>
      <if test="record.gasType != null">
        gas_type = #{record.gasType,jdbcType=CHAR},
      </if>
      <if test="record.scccode != null">
        scccode = #{record.scccode,jdbcType=CHAR},
      </if>
      <if test="record.sourceDiscrip != null">
        source_discrip = #{record.sourceDiscrip,jdbcType=VARCHAR},
      </if>
      <if test="record.salesVolume != null">
        sales_volume = #{record.salesVolume,jdbcType=DOUBLE},
      </if>
      <if test="record.emission != null">
        emission = #{record.emission,jdbcType=DOUBLE},
      </if>
      <if test="record.flag != null">
        flag = #{record.flag,jdbcType=INTEGER},
      </if>
      <if test="record.volume != null">
        volume = #{record.volume,jdbcType=DOUBLE},
      </if>
      <if test="record.everyVolume != null">
        every_volume = #{record.everyVolume,jdbcType=DOUBLE},
      </if>
      <if test="record.volumeCount != null">
        volume_count = #{record.volumeCount,jdbcType=INTEGER},
      </if>
      <if test="record.gunNum != null">
        gun_num = #{record.gunNum,jdbcType=INTEGER},
      </if>
      <if test="record.tankNum != null">
        tank_num = #{record.tankNum,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update gas_source
    set id = #{record.id,jdbcType=INTEGER},
      company_id = #{record.companyId,jdbcType=INTEGER},
      year = #{record.year,jdbcType=CHAR},
      gas_type = #{record.gasType,jdbcType=CHAR},
      scccode = #{record.scccode,jdbcType=CHAR},
      source_discrip = #{record.sourceDiscrip,jdbcType=VARCHAR},
      sales_volume = #{record.salesVolume,jdbcType=DOUBLE},
      emission = #{record.emission,jdbcType=DOUBLE},
      flag = #{record.flag,jdbcType=INTEGER},
      volume = #{record.volume,jdbcType=DOUBLE},
      every_volume = #{record.everyVolume,jdbcType=DOUBLE},
      volume_count = #{record.volumeCount,jdbcType=INTEGER},
      gun_num = #{record.gunNum,jdbcType=INTEGER},
      tank_num = #{record.tankNum,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.GasSource">
    update gas_source
    <set>
      <if test="companyId != null">
        company_id = #{companyId,jdbcType=INTEGER},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=CHAR},
      </if>
      <if test="gasType != null">
        gas_type = #{gasType,jdbcType=CHAR},
      </if>
      <if test="scccode != null">
        scccode = #{scccode,jdbcType=CHAR},
      </if>
      <if test="sourceDiscrip != null">
        source_discrip = #{sourceDiscrip,jdbcType=VARCHAR},
      </if>
      <if test="salesVolume != null">
        sales_volume = #{salesVolume,jdbcType=DOUBLE},
      </if>
      <if test="emission != null">
        emission = #{emission,jdbcType=DOUBLE},
      </if>
      <if test="flag != null">
        flag = #{flag,jdbcType=INTEGER},
      </if>
      <if test="volume != null">
        volume = #{volume,jdbcType=DOUBLE},
      </if>
      <if test="everyVolume != null">
        every_volume = #{everyVolume,jdbcType=DOUBLE},
      </if>
      <if test="volumeCount != null">
        volume_count = #{volumeCount,jdbcType=INTEGER},
      </if>
      <if test="gunNum != null">
        gun_num = #{gunNum,jdbcType=INTEGER},
      </if>
      <if test="tankNum != null">
        tank_num = #{tankNum,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.GasSource">
    update gas_source
    set company_id = #{companyId,jdbcType=INTEGER},
      year = #{year,jdbcType=CHAR},
      gas_type = #{gasType,jdbcType=CHAR},
      scccode = #{scccode,jdbcType=CHAR},
      source_discrip = #{sourceDiscrip,jdbcType=VARCHAR},
      sales_volume = #{salesVolume,jdbcType=DOUBLE},
      emission = #{emission,jdbcType=DOUBLE},
      flag = #{flag,jdbcType=INTEGER},
      volume = #{volume,jdbcType=DOUBLE},
      every_volume = #{everyVolume,jdbcType=DOUBLE},
      volume_count = #{volumeCount,jdbcType=INTEGER},
      gun_num = #{gunNum,jdbcType=INTEGER},
      tank_num = #{tankNum,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>