<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.GridMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Grid">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="gridid" jdbcType="CHAR" property="gridid" />
    <result column="countyid" jdbcType="CHAR" property="countyid" />
    <result column="col" jdbcType="CHAR" property="col" />
    <result column="row" jdbcType="CHAR" property="row" />
    <result column="rate" jdbcType="DOUBLE" property="rate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, gridid, countyid, col, row, rate
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.GridExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from grid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from grid
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from grid
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.GridExample">
    delete from grid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Grid">
    insert into grid (id, gridid, countyid, 
      col, row, rate)
    values (#{id,jdbcType=INTEGER}, #{gridid,jdbcType=CHAR}, #{countyid,jdbcType=CHAR}, 
      #{col,jdbcType=CHAR}, #{row,jdbcType=CHAR}, #{rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Grid">
    insert into grid
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="gridid != null">
        gridid,
      </if>
      <if test="countyid != null">
        countyid,
      </if>
      <if test="col != null">
        col,
      </if>
      <if test="row != null">
        row,
      </if>
      <if test="rate != null">
        rate,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gridid != null">
        #{gridid,jdbcType=CHAR},
      </if>
      <if test="countyid != null">
        #{countyid,jdbcType=CHAR},
      </if>
      <if test="col != null">
        #{col,jdbcType=CHAR},
      </if>
      <if test="row != null">
        #{row,jdbcType=CHAR},
      </if>
      <if test="rate != null">
        #{rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.GridExample" resultType="java.lang.Long">
    select count(*) from grid
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update grid
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.gridid != null">
        gridid = #{record.gridid,jdbcType=CHAR},
      </if>
      <if test="record.countyid != null">
        countyid = #{record.countyid,jdbcType=CHAR},
      </if>
      <if test="record.col != null">
        col = #{record.col,jdbcType=CHAR},
      </if>
      <if test="record.row != null">
        row = #{record.row,jdbcType=CHAR},
      </if>
      <if test="record.rate != null">
        rate = #{record.rate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update grid
    set id = #{record.id,jdbcType=INTEGER},
      gridid = #{record.gridid,jdbcType=CHAR},
      countyid = #{record.countyid,jdbcType=CHAR},
      col = #{record.col,jdbcType=CHAR},
      row = #{record.row,jdbcType=CHAR},
      rate = #{record.rate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Grid">
    update grid
    <set>
      <if test="gridid != null">
        gridid = #{gridid,jdbcType=CHAR},
      </if>
      <if test="countyid != null">
        countyid = #{countyid,jdbcType=CHAR},
      </if>
      <if test="col != null">
        col = #{col,jdbcType=CHAR},
      </if>
      <if test="row != null">
        row = #{row,jdbcType=CHAR},
      </if>
      <if test="rate != null">
        rate = #{rate,jdbcType=DOUBLE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Grid">
    update grid
    set gridid = #{gridid,jdbcType=CHAR},
      countyid = #{countyid,jdbcType=CHAR},
      col = #{col,jdbcType=CHAR},
      row = #{row,jdbcType=CHAR},
      rate = #{rate,jdbcType=DOUBLE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>