<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.LoadingprocessformalMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Loadingprocessformal">
    <id column="loadingid" jdbcType="INTEGER" property="loadingid" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="reporter" jdbcType="VARCHAR" property="reporter" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="reportdate" jdbcType="VARCHAR" property="reportdate" />
    <result column="transportation" jdbcType="VARCHAR" property="transportation" />
    <result column="operateschema" jdbcType="VARCHAR" property="operateschema" />
    <result column="loadingvolume" jdbcType="DOUBLE" property="loadingvolume" />
    <result column="factor" jdbcType="DOUBLE" property="factor" />
    <result column="realpressure" jdbcType="DOUBLE" property="realpressure" />
    <result column="weight" jdbcType="DOUBLE" property="weight" />
    <result column="temperature" jdbcType="DOUBLE" property="temperature" />
    <result column="loadingloss" jdbcType="DOUBLE" property="loadingloss" />
    <result column="voczhili" jdbcType="INTEGER" property="voczhili" />
    <result column="efficiency" jdbcType="DOUBLE" property="efficiency" />
    <result column="capcity" jdbcType="DOUBLE" property="capcity" />
    <result column="status" jdbcType="INTEGER" property="status" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    loadingid, factory_id, reporter, phone, reportdate, transportation, operateschema, 
    loadingvolume, factor, realpressure, weight, temperature, loadingloss, voczhili, 
    efficiency, capcity, status
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.LoadingprocessformalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from loadingprocessformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from loadingprocessformal
    where loadingid = #{loadingid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from loadingprocessformal
    where loadingid = #{loadingid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.LoadingprocessformalExample">
    delete from loadingprocessformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Loadingprocessformal">
    insert into loadingprocessformal (loadingid, factory_id, reporter, 
      phone, reportdate, transportation, 
      operateschema, loadingvolume, factor, 
      realpressure, weight, temperature, 
      loadingloss, voczhili, efficiency, 
      capcity, status)
    values (#{loadingid,jdbcType=INTEGER}, #{factoryId,jdbcType=INTEGER}, #{reporter,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{reportdate,jdbcType=VARCHAR}, #{transportation,jdbcType=VARCHAR}, 
      #{operateschema,jdbcType=VARCHAR}, #{loadingvolume,jdbcType=DOUBLE}, #{factor,jdbcType=DOUBLE}, 
      #{realpressure,jdbcType=DOUBLE}, #{weight,jdbcType=DOUBLE}, #{temperature,jdbcType=DOUBLE}, 
      #{loadingloss,jdbcType=DOUBLE}, #{voczhili,jdbcType=INTEGER}, #{efficiency,jdbcType=DOUBLE}, 
      #{capcity,jdbcType=DOUBLE}, #{status,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Loadingprocessformal">
    insert into loadingprocessformal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="loadingid != null">
        loadingid,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="reporter != null">
        reporter,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="reportdate != null">
        reportdate,
      </if>
      <if test="transportation != null">
        transportation,
      </if>
      <if test="operateschema != null">
        operateschema,
      </if>
      <if test="loadingvolume != null">
        loadingvolume,
      </if>
      <if test="factor != null">
        factor,
      </if>
      <if test="realpressure != null">
        realpressure,
      </if>
      <if test="weight != null">
        weight,
      </if>
      <if test="temperature != null">
        temperature,
      </if>
      <if test="loadingloss != null">
        loadingloss,
      </if>
      <if test="voczhili != null">
        voczhili,
      </if>
      <if test="efficiency != null">
        efficiency,
      </if>
      <if test="capcity != null">
        capcity,
      </if>
      <if test="status != null">
        status,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="loadingid != null">
        #{loadingid,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="reporter != null">
        #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="transportation != null">
        #{transportation,jdbcType=VARCHAR},
      </if>
      <if test="operateschema != null">
        #{operateschema,jdbcType=VARCHAR},
      </if>
      <if test="loadingvolume != null">
        #{loadingvolume,jdbcType=DOUBLE},
      </if>
      <if test="factor != null">
        #{factor,jdbcType=DOUBLE},
      </if>
      <if test="realpressure != null">
        #{realpressure,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        #{weight,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null">
        #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="loadingloss != null">
        #{loadingloss,jdbcType=DOUBLE},
      </if>
      <if test="voczhili != null">
        #{voczhili,jdbcType=INTEGER},
      </if>
      <if test="efficiency != null">
        #{efficiency,jdbcType=DOUBLE},
      </if>
      <if test="capcity != null">
        #{capcity,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.LoadingprocessformalExample" resultType="java.lang.Long">
    select count(*) from loadingprocessformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update loadingprocessformal
    <set>
      <if test="record.loadingid != null">
        loadingid = #{record.loadingid,jdbcType=INTEGER},
      </if>
      <if test="record.factoryId != null">
        factory_id = #{record.factoryId,jdbcType=INTEGER},
      </if>
      <if test="record.reporter != null">
        reporter = #{record.reporter,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.reportdate != null">
        reportdate = #{record.reportdate,jdbcType=VARCHAR},
      </if>
      <if test="record.transportation != null">
        transportation = #{record.transportation,jdbcType=VARCHAR},
      </if>
      <if test="record.operateschema != null">
        operateschema = #{record.operateschema,jdbcType=VARCHAR},
      </if>
      <if test="record.loadingvolume != null">
        loadingvolume = #{record.loadingvolume,jdbcType=DOUBLE},
      </if>
      <if test="record.factor != null">
        factor = #{record.factor,jdbcType=DOUBLE},
      </if>
      <if test="record.realpressure != null">
        realpressure = #{record.realpressure,jdbcType=DOUBLE},
      </if>
      <if test="record.weight != null">
        weight = #{record.weight,jdbcType=DOUBLE},
      </if>
      <if test="record.temperature != null">
        temperature = #{record.temperature,jdbcType=DOUBLE},
      </if>
      <if test="record.loadingloss != null">
        loadingloss = #{record.loadingloss,jdbcType=DOUBLE},
      </if>
      <if test="record.voczhili != null">
        voczhili = #{record.voczhili,jdbcType=INTEGER},
      </if>
      <if test="record.efficiency != null">
        efficiency = #{record.efficiency,jdbcType=DOUBLE},
      </if>
      <if test="record.capcity != null">
        capcity = #{record.capcity,jdbcType=DOUBLE},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update loadingprocessformal
    set loadingid = #{record.loadingid,jdbcType=INTEGER},
      factory_id = #{record.factoryId,jdbcType=INTEGER},
      reporter = #{record.reporter,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      reportdate = #{record.reportdate,jdbcType=VARCHAR},
      transportation = #{record.transportation,jdbcType=VARCHAR},
      operateschema = #{record.operateschema,jdbcType=VARCHAR},
      loadingvolume = #{record.loadingvolume,jdbcType=DOUBLE},
      factor = #{record.factor,jdbcType=DOUBLE},
      realpressure = #{record.realpressure,jdbcType=DOUBLE},
      weight = #{record.weight,jdbcType=DOUBLE},
      temperature = #{record.temperature,jdbcType=DOUBLE},
      loadingloss = #{record.loadingloss,jdbcType=DOUBLE},
      voczhili = #{record.voczhili,jdbcType=INTEGER},
      efficiency = #{record.efficiency,jdbcType=DOUBLE},
      capcity = #{record.capcity,jdbcType=DOUBLE},
      status = #{record.status,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Loadingprocessformal">
    update loadingprocessformal
    <set>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="reporter != null">
        reporter = #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        reportdate = #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="transportation != null">
        transportation = #{transportation,jdbcType=VARCHAR},
      </if>
      <if test="operateschema != null">
        operateschema = #{operateschema,jdbcType=VARCHAR},
      </if>
      <if test="loadingvolume != null">
        loadingvolume = #{loadingvolume,jdbcType=DOUBLE},
      </if>
      <if test="factor != null">
        factor = #{factor,jdbcType=DOUBLE},
      </if>
      <if test="realpressure != null">
        realpressure = #{realpressure,jdbcType=DOUBLE},
      </if>
      <if test="weight != null">
        weight = #{weight,jdbcType=DOUBLE},
      </if>
      <if test="temperature != null">
        temperature = #{temperature,jdbcType=DOUBLE},
      </if>
      <if test="loadingloss != null">
        loadingloss = #{loadingloss,jdbcType=DOUBLE},
      </if>
      <if test="voczhili != null">
        voczhili = #{voczhili,jdbcType=INTEGER},
      </if>
      <if test="efficiency != null">
        efficiency = #{efficiency,jdbcType=DOUBLE},
      </if>
      <if test="capcity != null">
        capcity = #{capcity,jdbcType=DOUBLE},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
    </set>
    where loadingid = #{loadingid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Loadingprocessformal">
    update loadingprocessformal
    set factory_id = #{factoryId,jdbcType=INTEGER},
      reporter = #{reporter,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      reportdate = #{reportdate,jdbcType=VARCHAR},
      transportation = #{transportation,jdbcType=VARCHAR},
      operateschema = #{operateschema,jdbcType=VARCHAR},
      loadingvolume = #{loadingvolume,jdbcType=DOUBLE},
      factor = #{factor,jdbcType=DOUBLE},
      realpressure = #{realpressure,jdbcType=DOUBLE},
      weight = #{weight,jdbcType=DOUBLE},
      temperature = #{temperature,jdbcType=DOUBLE},
      loadingloss = #{loadingloss,jdbcType=DOUBLE},
      voczhili = #{voczhili,jdbcType=INTEGER},
      efficiency = #{efficiency,jdbcType=DOUBLE},
      capcity = #{capcity,jdbcType=DOUBLE},
      status = #{status,jdbcType=INTEGER}
    where loadingid = #{loadingid,jdbcType=INTEGER}
  </update>
</mapper>