<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.NongmuWeightMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.NongmuWeight">
    <id column="Fishnet_ID" jdbcType="INTEGER" property="fishnetId" />
    <result column="nongtian_weight" jdbcType="DOUBLE" property="nongtianWeight" />
    <result column="nongtian_county" jdbcType="VARCHAR" property="nongtianCounty" />
    <result column="freestock_weight" jdbcType="DOUBLE" property="freestockWeight" />
    <result column="freestock_county" jdbcType="VARCHAR" property="freestockCounty" />
    <result column="year" jdbcType="INTEGER" property="year" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    Fishnet_ID, nongtian_weight, nongtian_county, freestock_weight, freestock_county, 
    year
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.NongmuWeightExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from nongmu_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from nongmu_weight
    where Fishnet_ID = #{fishnetId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from nongmu_weight
    where Fishnet_ID = #{fishnetId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.NongmuWeightExample">
    delete from nongmu_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.NongmuWeight">
    insert into nongmu_weight (Fishnet_ID, nongtian_weight, nongtian_county, 
      freestock_weight, freestock_county, year
      )
    values (#{fishnetId,jdbcType=INTEGER}, #{nongtianWeight,jdbcType=DOUBLE}, #{nongtianCounty,jdbcType=VARCHAR}, 
      #{freestockWeight,jdbcType=DOUBLE}, #{freestockCounty,jdbcType=VARCHAR}, #{year,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.NongmuWeight">
    insert into nongmu_weight
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="fishnetId != null">
        Fishnet_ID,
      </if>
      <if test="nongtianWeight != null">
        nongtian_weight,
      </if>
      <if test="nongtianCounty != null">
        nongtian_county,
      </if>
      <if test="freestockWeight != null">
        freestock_weight,
      </if>
      <if test="freestockCounty != null">
        freestock_county,
      </if>
      <if test="year != null">
        year,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="fishnetId != null">
        #{fishnetId,jdbcType=INTEGER},
      </if>
      <if test="nongtianWeight != null">
        #{nongtianWeight,jdbcType=DOUBLE},
      </if>
      <if test="nongtianCounty != null">
        #{nongtianCounty,jdbcType=VARCHAR},
      </if>
      <if test="freestockWeight != null">
        #{freestockWeight,jdbcType=DOUBLE},
      </if>
      <if test="freestockCounty != null">
        #{freestockCounty,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        #{year,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.NongmuWeightExample" resultType="java.lang.Long">
    select count(*) from nongmu_weight
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update nongmu_weight
    <set>
      <if test="record.fishnetId != null">
        Fishnet_ID = #{record.fishnetId,jdbcType=INTEGER},
      </if>
      <if test="record.nongtianWeight != null">
        nongtian_weight = #{record.nongtianWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.nongtianCounty != null">
        nongtian_county = #{record.nongtianCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.freestockWeight != null">
        freestock_weight = #{record.freestockWeight,jdbcType=DOUBLE},
      </if>
      <if test="record.freestockCounty != null">
        freestock_county = #{record.freestockCounty,jdbcType=VARCHAR},
      </if>
      <if test="record.year != null">
        year = #{record.year,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update nongmu_weight
    set Fishnet_ID = #{record.fishnetId,jdbcType=INTEGER},
      nongtian_weight = #{record.nongtianWeight,jdbcType=DOUBLE},
      nongtian_county = #{record.nongtianCounty,jdbcType=VARCHAR},
      freestock_weight = #{record.freestockWeight,jdbcType=DOUBLE},
      freestock_county = #{record.freestockCounty,jdbcType=VARCHAR},
      year = #{record.year,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.NongmuWeight">
    update nongmu_weight
    <set>
      <if test="nongtianWeight != null">
        nongtian_weight = #{nongtianWeight,jdbcType=DOUBLE},
      </if>
      <if test="nongtianCounty != null">
        nongtian_county = #{nongtianCounty,jdbcType=VARCHAR},
      </if>
      <if test="freestockWeight != null">
        freestock_weight = #{freestockWeight,jdbcType=DOUBLE},
      </if>
      <if test="freestockCounty != null">
        freestock_county = #{freestockCounty,jdbcType=VARCHAR},
      </if>
      <if test="year != null">
        year = #{year,jdbcType=INTEGER},
      </if>
    </set>
    where Fishnet_ID = #{fishnetId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.NongmuWeight">
    update nongmu_weight
    set nongtian_weight = #{nongtianWeight,jdbcType=DOUBLE},
      nongtian_county = #{nongtianCounty,jdbcType=VARCHAR},
      freestock_weight = #{freestockWeight,jdbcType=DOUBLE},
      freestock_county = #{freestockCounty,jdbcType=VARCHAR},
      year = #{year,jdbcType=INTEGER}
    where Fishnet_ID = #{fishnetId,jdbcType=INTEGER}
  </update>
</mapper>