<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.PreemisMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Preemis">
    <id column="CellID" jdbcType="CHAR" property="cellid" />
    <id column="DateID" jdbcType="TIMESTAMP" property="dateid" />
    <result column="pre_VOC" jdbcType="DOUBLE" property="preVoc" />
    <result column="pre_NH3" jdbcType="DOUBLE" property="preNh3" />
    <result column="pre_NO" jdbcType="DOUBLE" property="preNo" />
    <result column="pre_NO2" jdbcType="DOUBLE" property="preNo2" />
    <result column="pre_NOX" jdbcType="DOUBLE" property="preNox" />
    <result column="pre_CO" jdbcType="DOUBLE" property="preCo" />
    <result column="pre_SO2" jdbcType="DOUBLE" property="preSo2" />
    <result column="pre_PM10" jdbcType="DOUBLE" property="prePm10" />
    <result column="pre_PM25" jdbcType="DOUBLE" property="prePm25" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    CellID, DateID, pre_VOC, pre_NH3, pre_NO, pre_NO2, pre_NOX, pre_CO, pre_SO2, pre_PM10, 
    pre_PM25
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.PreemisExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from preemis
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="com.nankai.xining.bean.PreemisKey" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from preemis
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="com.nankai.xining.bean.PreemisKey">
    delete from preemis
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.PreemisExample">
    delete from preemis
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Preemis">
    insert into preemis (CellID, DateID, pre_VOC, 
      pre_NH3, pre_NO, pre_NO2, 
      pre_NOX, pre_CO, pre_SO2, 
      pre_PM10, pre_PM25)
    values (#{cellid,jdbcType=CHAR}, #{dateid,jdbcType=TIMESTAMP}, #{preVoc,jdbcType=DOUBLE}, 
      #{preNh3,jdbcType=DOUBLE}, #{preNo,jdbcType=DOUBLE}, #{preNo2,jdbcType=DOUBLE}, 
      #{preNox,jdbcType=DOUBLE}, #{preCo,jdbcType=DOUBLE}, #{preSo2,jdbcType=DOUBLE}, 
      #{prePm10,jdbcType=DOUBLE}, #{prePm25,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Preemis">
    insert into preemis
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        CellID,
      </if>
      <if test="dateid != null">
        DateID,
      </if>
      <if test="preVoc != null">
        pre_VOC,
      </if>
      <if test="preNh3 != null">
        pre_NH3,
      </if>
      <if test="preNo != null">
        pre_NO,
      </if>
      <if test="preNo2 != null">
        pre_NO2,
      </if>
      <if test="preNox != null">
        pre_NOX,
      </if>
      <if test="preCo != null">
        pre_CO,
      </if>
      <if test="preSo2 != null">
        pre_SO2,
      </if>
      <if test="prePm10 != null">
        pre_PM10,
      </if>
      <if test="prePm25 != null">
        pre_PM25,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="cellid != null">
        #{cellid,jdbcType=CHAR},
      </if>
      <if test="dateid != null">
        #{dateid,jdbcType=TIMESTAMP},
      </if>
      <if test="preVoc != null">
        #{preVoc,jdbcType=DOUBLE},
      </if>
      <if test="preNh3 != null">
        #{preNh3,jdbcType=DOUBLE},
      </if>
      <if test="preNo != null">
        #{preNo,jdbcType=DOUBLE},
      </if>
      <if test="preNo2 != null">
        #{preNo2,jdbcType=DOUBLE},
      </if>
      <if test="preNox != null">
        #{preNox,jdbcType=DOUBLE},
      </if>
      <if test="preCo != null">
        #{preCo,jdbcType=DOUBLE},
      </if>
      <if test="preSo2 != null">
        #{preSo2,jdbcType=DOUBLE},
      </if>
      <if test="prePm10 != null">
        #{prePm10,jdbcType=DOUBLE},
      </if>
      <if test="prePm25 != null">
        #{prePm25,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.PreemisExample" resultType="java.lang.Long">
    select count(*) from preemis
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update preemis
    <set>
      <if test="record.cellid != null">
        CellID = #{record.cellid,jdbcType=CHAR},
      </if>
      <if test="record.dateid != null">
        DateID = #{record.dateid,jdbcType=TIMESTAMP},
      </if>
      <if test="record.preVoc != null">
        pre_VOC = #{record.preVoc,jdbcType=DOUBLE},
      </if>
      <if test="record.preNh3 != null">
        pre_NH3 = #{record.preNh3,jdbcType=DOUBLE},
      </if>
      <if test="record.preNo != null">
        pre_NO = #{record.preNo,jdbcType=DOUBLE},
      </if>
      <if test="record.preNo2 != null">
        pre_NO2 = #{record.preNo2,jdbcType=DOUBLE},
      </if>
      <if test="record.preNox != null">
        pre_NOX = #{record.preNox,jdbcType=DOUBLE},
      </if>
      <if test="record.preCo != null">
        pre_CO = #{record.preCo,jdbcType=DOUBLE},
      </if>
      <if test="record.preSo2 != null">
        pre_SO2 = #{record.preSo2,jdbcType=DOUBLE},
      </if>
      <if test="record.prePm10 != null">
        pre_PM10 = #{record.prePm10,jdbcType=DOUBLE},
      </if>
      <if test="record.prePm25 != null">
        pre_PM25 = #{record.prePm25,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update preemis
    set CellID = #{record.cellid,jdbcType=CHAR},
      DateID = #{record.dateid,jdbcType=TIMESTAMP},
      pre_VOC = #{record.preVoc,jdbcType=DOUBLE},
      pre_NH3 = #{record.preNh3,jdbcType=DOUBLE},
      pre_NO = #{record.preNo,jdbcType=DOUBLE},
      pre_NO2 = #{record.preNo2,jdbcType=DOUBLE},
      pre_NOX = #{record.preNox,jdbcType=DOUBLE},
      pre_CO = #{record.preCo,jdbcType=DOUBLE},
      pre_SO2 = #{record.preSo2,jdbcType=DOUBLE},
      pre_PM10 = #{record.prePm10,jdbcType=DOUBLE},
      pre_PM25 = #{record.prePm25,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Preemis">
    update preemis
    <set>
      <if test="preVoc != null">
        pre_VOC = #{preVoc,jdbcType=DOUBLE},
      </if>
      <if test="preNh3 != null">
        pre_NH3 = #{preNh3,jdbcType=DOUBLE},
      </if>
      <if test="preNo != null">
        pre_NO = #{preNo,jdbcType=DOUBLE},
      </if>
      <if test="preNo2 != null">
        pre_NO2 = #{preNo2,jdbcType=DOUBLE},
      </if>
      <if test="preNox != null">
        pre_NOX = #{preNox,jdbcType=DOUBLE},
      </if>
      <if test="preCo != null">
        pre_CO = #{preCo,jdbcType=DOUBLE},
      </if>
      <if test="preSo2 != null">
        pre_SO2 = #{preSo2,jdbcType=DOUBLE},
      </if>
      <if test="prePm10 != null">
        pre_PM10 = #{prePm10,jdbcType=DOUBLE},
      </if>
      <if test="prePm25 != null">
        pre_PM25 = #{prePm25,jdbcType=DOUBLE},
      </if>
    </set>
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Preemis">
    update preemis
    set pre_VOC = #{preVoc,jdbcType=DOUBLE},
      pre_NH3 = #{preNh3,jdbcType=DOUBLE},
      pre_NO = #{preNo,jdbcType=DOUBLE},
      pre_NO2 = #{preNo2,jdbcType=DOUBLE},
      pre_NOX = #{preNox,jdbcType=DOUBLE},
      pre_CO = #{preCo,jdbcType=DOUBLE},
      pre_SO2 = #{preSo2,jdbcType=DOUBLE},
      pre_PM10 = #{prePm10,jdbcType=DOUBLE},
      pre_PM25 = #{prePm25,jdbcType=DOUBLE}
    where CellID = #{cellid,jdbcType=CHAR}
      and DateID = #{dateid,jdbcType=TIMESTAMP}
  </update>
</mapper>