<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.ProfilePm25Mapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.ProfilePm25">
    <id column="PM25_ID" jdbcType="INTEGER" property="pm25Id" />
    <result column="PSO4_MOLECULAR" jdbcType="DOUBLE" property="pso4Molecular" />
    <result column="PSO4_DENOMINATOR" jdbcType="DOUBLE" property="pso4Denominator" />
    <result column="PSO4_RATE" jdbcType="DOUBLE" property="pso4Rate" />
    <result column="PNO3_MOLECULAR" jdbcType="DOUBLE" property="pno3Molecular" />
    <result column="PNO3_DENOMINATOR" jdbcType="DOUBLE" property="pno3Denominator" />
    <result column="PNO3_RATE" jdbcType="DOUBLE" property="pno3Rate" />
    <result column="PEC_MOLECULAR" jdbcType="DOUBLE" property="pecMolecular" />
    <result column="PEC_DENOMINATOR" jdbcType="DOUBLE" property="pecDenominator" />
    <result column="PEC_RATE" jdbcType="DOUBLE" property="pecRate" />
    <result column="POC_MOLECULAR" jdbcType="DOUBLE" property="pocMolecular" />
    <result column="POC_DENOMINATOR" jdbcType="DOUBLE" property="pocDenominator" />
    <result column="POC_RATE" jdbcType="DOUBLE" property="pocRate" />
    <result column="PMOTHR_MOLECULAR" jdbcType="DOUBLE" property="pmothrMolecular" />
    <result column="PMOTHR_DENOMINATOR" jdbcType="DOUBLE" property="pmothrDenominator" />
    <result column="PMOTHR_RATE" jdbcType="DOUBLE" property="pmothrRate" />
    <result column="PCA_MOLECULAR" jdbcType="DOUBLE" property="pcaMolecular" />
    <result column="PCA_DENOMINATOR" jdbcType="DOUBLE" property="pcaDenominator" />
    <result column="PCA_RATE" jdbcType="DOUBLE" property="pcaRate" />
    <result column="PMG_MOLECULAR" jdbcType="DOUBLE" property="pmgMolecular" />
    <result column="PMG_DENOMINATOR" jdbcType="DOUBLE" property="pmgDenominator" />
    <result column="PMG_RATE" jdbcType="DOUBLE" property="pmgRate" />
    <result column="PK_MOLECULAR" jdbcType="DOUBLE" property="pkMolecular" />
    <result column="PK_DENOMINATOR" jdbcType="DOUBLE" property="pkDenominator" />
    <result column="PK_RATE" jdbcType="DOUBLE" property="pkRate" />
    <result column="PNCOM_MOLECULAR" jdbcType="DOUBLE" property="pncomMolecular" />
    <result column="PNCOM_DENOMINATOR" jdbcType="DOUBLE" property="pncomDenominator" />
    <result column="PNCOM_RATE" jdbcType="DOUBLE" property="pncomRate" />
    <result column="PFE_MOLECULAR" jdbcType="DOUBLE" property="pfeMolecular" />
    <result column="PFE_DENOMINATOR" jdbcType="DOUBLE" property="pfeDenominator" />
    <result column="PFE_RATE" jdbcType="DOUBLE" property="pfeRate" />
    <result column="PAL_MOLECULAR" jdbcType="DOUBLE" property="palMolecular" />
    <result column="PAL_DENOMINATOR" jdbcType="DOUBLE" property="palDenominator" />
    <result column="PAL_RATE" jdbcType="DOUBLE" property="palRate" />
    <result column="PSI_MOLECULAR" jdbcType="DOUBLE" property="psiMolecular" />
    <result column="PSI_DENOMINATOR" jdbcType="DOUBLE" property="psiDenominator" />
    <result column="PSI_RATE" jdbcType="DOUBLE" property="psiRate" />
    <result column="PTI_MOLECULAR" jdbcType="DOUBLE" property="ptiMolecular" />
    <result column="PTI_DENOMINATOR" jdbcType="DOUBLE" property="ptiDenominator" />
    <result column="PTI_RATE" jdbcType="DOUBLE" property="ptiRate" />
    <result column="PMN_MOLECULAR" jdbcType="DOUBLE" property="pmnMolecular" />
    <result column="PMN_DENOMINATOR" jdbcType="DOUBLE" property="pmnDenominator" />
    <result column="PMN_RATE" jdbcType="DOUBLE" property="pmnRate" />
    <result column="PCL_MOLECULAR" jdbcType="DOUBLE" property="pclMolecular" />
    <result column="PCL_DENOMINATOR" jdbcType="DOUBLE" property="pclDenominator" />
    <result column="PCL_RATE" jdbcType="DOUBLE" property="pclRate" />
    <result column="PNH4_MOLECULAR" jdbcType="DOUBLE" property="pnh4Molecular" />
    <result column="PNH4_DENOMINATOR" jdbcType="DOUBLE" property="pnh4Denominator" />
    <result column="PNH4_RATE" jdbcType="DOUBLE" property="pnh4Rate" />
    <result column="PNA_MOLECULAR" jdbcType="DOUBLE" property="pnaMolecular" />
    <result column="PNA_DENOMINATOR" jdbcType="DOUBLE" property="pnaDenominator" />
    <result column="PNA_RATE" jdbcType="DOUBLE" property="pnaRate" />
    <result column="PH2O_MOLECULAR" jdbcType="DOUBLE" property="ph2oMolecular" />
    <result column="PH2O_DENOMINATOR" jdbcType="DOUBLE" property="ph2oDenominator" />
    <result column="PH2O_RATE" jdbcType="DOUBLE" property="ph2oRate" />
    <result column="PMC_MOLECULAR" jdbcType="DOUBLE" property="pmcMolecular" />
    <result column="PMC_DENOMINATOR" jdbcType="DOUBLE" property="pmcDenominator" />
    <result column="PMC_RATE" jdbcType="DOUBLE" property="pmcRate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    PM25_ID, PSO4_MOLECULAR, PSO4_DENOMINATOR, PSO4_RATE, PNO3_MOLECULAR, PNO3_DENOMINATOR, 
    PNO3_RATE, PEC_MOLECULAR, PEC_DENOMINATOR, PEC_RATE, POC_MOLECULAR, POC_DENOMINATOR, 
    POC_RATE, PMOTHR_MOLECULAR, PMOTHR_DENOMINATOR, PMOTHR_RATE, PCA_MOLECULAR, PCA_DENOMINATOR, 
    PCA_RATE, PMG_MOLECULAR, PMG_DENOMINATOR, PMG_RATE, PK_MOLECULAR, PK_DENOMINATOR, 
    PK_RATE, PNCOM_MOLECULAR, PNCOM_DENOMINATOR, PNCOM_RATE, PFE_MOLECULAR, PFE_DENOMINATOR, 
    PFE_RATE, PAL_MOLECULAR, PAL_DENOMINATOR, PAL_RATE, PSI_MOLECULAR, PSI_DENOMINATOR, 
    PSI_RATE, PTI_MOLECULAR, PTI_DENOMINATOR, PTI_RATE, PMN_MOLECULAR, PMN_DENOMINATOR, 
    PMN_RATE, PCL_MOLECULAR, PCL_DENOMINATOR, PCL_RATE, PNH4_MOLECULAR, PNH4_DENOMINATOR, 
    PNH4_RATE, PNA_MOLECULAR, PNA_DENOMINATOR, PNA_RATE, PH2O_MOLECULAR, PH2O_DENOMINATOR, 
    PH2O_RATE, PMC_MOLECULAR, PMC_DENOMINATOR, PMC_RATE
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.ProfilePm25Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from profile_pm25
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_pm25
    where PM25_ID = #{pm25Id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from profile_pm25
    where PM25_ID = #{pm25Id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.ProfilePm25Example">
    delete from profile_pm25
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.ProfilePm25">
    insert into profile_pm25 (PM25_ID, PSO4_MOLECULAR, PSO4_DENOMINATOR, 
      PSO4_RATE, PNO3_MOLECULAR, PNO3_DENOMINATOR, 
      PNO3_RATE, PEC_MOLECULAR, PEC_DENOMINATOR, 
      PEC_RATE, POC_MOLECULAR, POC_DENOMINATOR, 
      POC_RATE, PMOTHR_MOLECULAR, PMOTHR_DENOMINATOR, 
      PMOTHR_RATE, PCA_MOLECULAR, PCA_DENOMINATOR, 
      PCA_RATE, PMG_MOLECULAR, PMG_DENOMINATOR, 
      PMG_RATE, PK_MOLECULAR, PK_DENOMINATOR, 
      PK_RATE, PNCOM_MOLECULAR, PNCOM_DENOMINATOR, 
      PNCOM_RATE, PFE_MOLECULAR, PFE_DENOMINATOR, 
      PFE_RATE, PAL_MOLECULAR, PAL_DENOMINATOR, 
      PAL_RATE, PSI_MOLECULAR, PSI_DENOMINATOR, 
      PSI_RATE, PTI_MOLECULAR, PTI_DENOMINATOR, 
      PTI_RATE, PMN_MOLECULAR, PMN_DENOMINATOR, 
      PMN_RATE, PCL_MOLECULAR, PCL_DENOMINATOR, 
      PCL_RATE, PNH4_MOLECULAR, PNH4_DENOMINATOR, 
      PNH4_RATE, PNA_MOLECULAR, PNA_DENOMINATOR, 
      PNA_RATE, PH2O_MOLECULAR, PH2O_DENOMINATOR, 
      PH2O_RATE, PMC_MOLECULAR, PMC_DENOMINATOR, 
      PMC_RATE)
    values (#{pm25Id,jdbcType=INTEGER}, #{pso4Molecular,jdbcType=DOUBLE}, #{pso4Denominator,jdbcType=DOUBLE}, 
      #{pso4Rate,jdbcType=DOUBLE}, #{pno3Molecular,jdbcType=DOUBLE}, #{pno3Denominator,jdbcType=DOUBLE}, 
      #{pno3Rate,jdbcType=DOUBLE}, #{pecMolecular,jdbcType=DOUBLE}, #{pecDenominator,jdbcType=DOUBLE}, 
      #{pecRate,jdbcType=DOUBLE}, #{pocMolecular,jdbcType=DOUBLE}, #{pocDenominator,jdbcType=DOUBLE}, 
      #{pocRate,jdbcType=DOUBLE}, #{pmothrMolecular,jdbcType=DOUBLE}, #{pmothrDenominator,jdbcType=DOUBLE}, 
      #{pmothrRate,jdbcType=DOUBLE}, #{pcaMolecular,jdbcType=DOUBLE}, #{pcaDenominator,jdbcType=DOUBLE}, 
      #{pcaRate,jdbcType=DOUBLE}, #{pmgMolecular,jdbcType=DOUBLE}, #{pmgDenominator,jdbcType=DOUBLE}, 
      #{pmgRate,jdbcType=DOUBLE}, #{pkMolecular,jdbcType=DOUBLE}, #{pkDenominator,jdbcType=DOUBLE}, 
      #{pkRate,jdbcType=DOUBLE}, #{pncomMolecular,jdbcType=DOUBLE}, #{pncomDenominator,jdbcType=DOUBLE}, 
      #{pncomRate,jdbcType=DOUBLE}, #{pfeMolecular,jdbcType=DOUBLE}, #{pfeDenominator,jdbcType=DOUBLE}, 
      #{pfeRate,jdbcType=DOUBLE}, #{palMolecular,jdbcType=DOUBLE}, #{palDenominator,jdbcType=DOUBLE}, 
      #{palRate,jdbcType=DOUBLE}, #{psiMolecular,jdbcType=DOUBLE}, #{psiDenominator,jdbcType=DOUBLE}, 
      #{psiRate,jdbcType=DOUBLE}, #{ptiMolecular,jdbcType=DOUBLE}, #{ptiDenominator,jdbcType=DOUBLE}, 
      #{ptiRate,jdbcType=DOUBLE}, #{pmnMolecular,jdbcType=DOUBLE}, #{pmnDenominator,jdbcType=DOUBLE}, 
      #{pmnRate,jdbcType=DOUBLE}, #{pclMolecular,jdbcType=DOUBLE}, #{pclDenominator,jdbcType=DOUBLE}, 
      #{pclRate,jdbcType=DOUBLE}, #{pnh4Molecular,jdbcType=DOUBLE}, #{pnh4Denominator,jdbcType=DOUBLE}, 
      #{pnh4Rate,jdbcType=DOUBLE}, #{pnaMolecular,jdbcType=DOUBLE}, #{pnaDenominator,jdbcType=DOUBLE}, 
      #{pnaRate,jdbcType=DOUBLE}, #{ph2oMolecular,jdbcType=DOUBLE}, #{ph2oDenominator,jdbcType=DOUBLE}, 
      #{ph2oRate,jdbcType=DOUBLE}, #{pmcMolecular,jdbcType=DOUBLE}, #{pmcDenominator,jdbcType=DOUBLE}, 
      #{pmcRate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.ProfilePm25">
    insert into profile_pm25
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="pm25Id != null">
        PM25_ID,
      </if>
      <if test="pso4Molecular != null">
        PSO4_MOLECULAR,
      </if>
      <if test="pso4Denominator != null">
        PSO4_DENOMINATOR,
      </if>
      <if test="pso4Rate != null">
        PSO4_RATE,
      </if>
      <if test="pno3Molecular != null">
        PNO3_MOLECULAR,
      </if>
      <if test="pno3Denominator != null">
        PNO3_DENOMINATOR,
      </if>
      <if test="pno3Rate != null">
        PNO3_RATE,
      </if>
      <if test="pecMolecular != null">
        PEC_MOLECULAR,
      </if>
      <if test="pecDenominator != null">
        PEC_DENOMINATOR,
      </if>
      <if test="pecRate != null">
        PEC_RATE,
      </if>
      <if test="pocMolecular != null">
        POC_MOLECULAR,
      </if>
      <if test="pocDenominator != null">
        POC_DENOMINATOR,
      </if>
      <if test="pocRate != null">
        POC_RATE,
      </if>
      <if test="pmothrMolecular != null">
        PMOTHR_MOLECULAR,
      </if>
      <if test="pmothrDenominator != null">
        PMOTHR_DENOMINATOR,
      </if>
      <if test="pmothrRate != null">
        PMOTHR_RATE,
      </if>
      <if test="pcaMolecular != null">
        PCA_MOLECULAR,
      </if>
      <if test="pcaDenominator != null">
        PCA_DENOMINATOR,
      </if>
      <if test="pcaRate != null">
        PCA_RATE,
      </if>
      <if test="pmgMolecular != null">
        PMG_MOLECULAR,
      </if>
      <if test="pmgDenominator != null">
        PMG_DENOMINATOR,
      </if>
      <if test="pmgRate != null">
        PMG_RATE,
      </if>
      <if test="pkMolecular != null">
        PK_MOLECULAR,
      </if>
      <if test="pkDenominator != null">
        PK_DENOMINATOR,
      </if>
      <if test="pkRate != null">
        PK_RATE,
      </if>
      <if test="pncomMolecular != null">
        PNCOM_MOLECULAR,
      </if>
      <if test="pncomDenominator != null">
        PNCOM_DENOMINATOR,
      </if>
      <if test="pncomRate != null">
        PNCOM_RATE,
      </if>
      <if test="pfeMolecular != null">
        PFE_MOLECULAR,
      </if>
      <if test="pfeDenominator != null">
        PFE_DENOMINATOR,
      </if>
      <if test="pfeRate != null">
        PFE_RATE,
      </if>
      <if test="palMolecular != null">
        PAL_MOLECULAR,
      </if>
      <if test="palDenominator != null">
        PAL_DENOMINATOR,
      </if>
      <if test="palRate != null">
        PAL_RATE,
      </if>
      <if test="psiMolecular != null">
        PSI_MOLECULAR,
      </if>
      <if test="psiDenominator != null">
        PSI_DENOMINATOR,
      </if>
      <if test="psiRate != null">
        PSI_RATE,
      </if>
      <if test="ptiMolecular != null">
        PTI_MOLECULAR,
      </if>
      <if test="ptiDenominator != null">
        PTI_DENOMINATOR,
      </if>
      <if test="ptiRate != null">
        PTI_RATE,
      </if>
      <if test="pmnMolecular != null">
        PMN_MOLECULAR,
      </if>
      <if test="pmnDenominator != null">
        PMN_DENOMINATOR,
      </if>
      <if test="pmnRate != null">
        PMN_RATE,
      </if>
      <if test="pclMolecular != null">
        PCL_MOLECULAR,
      </if>
      <if test="pclDenominator != null">
        PCL_DENOMINATOR,
      </if>
      <if test="pclRate != null">
        PCL_RATE,
      </if>
      <if test="pnh4Molecular != null">
        PNH4_MOLECULAR,
      </if>
      <if test="pnh4Denominator != null">
        PNH4_DENOMINATOR,
      </if>
      <if test="pnh4Rate != null">
        PNH4_RATE,
      </if>
      <if test="pnaMolecular != null">
        PNA_MOLECULAR,
      </if>
      <if test="pnaDenominator != null">
        PNA_DENOMINATOR,
      </if>
      <if test="pnaRate != null">
        PNA_RATE,
      </if>
      <if test="ph2oMolecular != null">
        PH2O_MOLECULAR,
      </if>
      <if test="ph2oDenominator != null">
        PH2O_DENOMINATOR,
      </if>
      <if test="ph2oRate != null">
        PH2O_RATE,
      </if>
      <if test="pmcMolecular != null">
        PMC_MOLECULAR,
      </if>
      <if test="pmcDenominator != null">
        PMC_DENOMINATOR,
      </if>
      <if test="pmcRate != null">
        PMC_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="pm25Id != null">
        #{pm25Id,jdbcType=INTEGER},
      </if>
      <if test="pso4Molecular != null">
        #{pso4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pso4Denominator != null">
        #{pso4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pso4Rate != null">
        #{pso4Rate,jdbcType=DOUBLE},
      </if>
      <if test="pno3Molecular != null">
        #{pno3Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pno3Denominator != null">
        #{pno3Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pno3Rate != null">
        #{pno3Rate,jdbcType=DOUBLE},
      </if>
      <if test="pecMolecular != null">
        #{pecMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pecDenominator != null">
        #{pecDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pecRate != null">
        #{pecRate,jdbcType=DOUBLE},
      </if>
      <if test="pocMolecular != null">
        #{pocMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pocDenominator != null">
        #{pocDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pocRate != null">
        #{pocRate,jdbcType=DOUBLE},
      </if>
      <if test="pmothrMolecular != null">
        #{pmothrMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmothrDenominator != null">
        #{pmothrDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmothrRate != null">
        #{pmothrRate,jdbcType=DOUBLE},
      </if>
      <if test="pcaMolecular != null">
        #{pcaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pcaDenominator != null">
        #{pcaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pcaRate != null">
        #{pcaRate,jdbcType=DOUBLE},
      </if>
      <if test="pmgMolecular != null">
        #{pmgMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmgDenominator != null">
        #{pmgDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmgRate != null">
        #{pmgRate,jdbcType=DOUBLE},
      </if>
      <if test="pkMolecular != null">
        #{pkMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pkDenominator != null">
        #{pkDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pkRate != null">
        #{pkRate,jdbcType=DOUBLE},
      </if>
      <if test="pncomMolecular != null">
        #{pncomMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pncomDenominator != null">
        #{pncomDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pncomRate != null">
        #{pncomRate,jdbcType=DOUBLE},
      </if>
      <if test="pfeMolecular != null">
        #{pfeMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pfeDenominator != null">
        #{pfeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pfeRate != null">
        #{pfeRate,jdbcType=DOUBLE},
      </if>
      <if test="palMolecular != null">
        #{palMolecular,jdbcType=DOUBLE},
      </if>
      <if test="palDenominator != null">
        #{palDenominator,jdbcType=DOUBLE},
      </if>
      <if test="palRate != null">
        #{palRate,jdbcType=DOUBLE},
      </if>
      <if test="psiMolecular != null">
        #{psiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="psiDenominator != null">
        #{psiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="psiRate != null">
        #{psiRate,jdbcType=DOUBLE},
      </if>
      <if test="ptiMolecular != null">
        #{ptiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="ptiDenominator != null">
        #{ptiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="ptiRate != null">
        #{ptiRate,jdbcType=DOUBLE},
      </if>
      <if test="pmnMolecular != null">
        #{pmnMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmnDenominator != null">
        #{pmnDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmnRate != null">
        #{pmnRate,jdbcType=DOUBLE},
      </if>
      <if test="pclMolecular != null">
        #{pclMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pclDenominator != null">
        #{pclDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pclRate != null">
        #{pclRate,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Molecular != null">
        #{pnh4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Denominator != null">
        #{pnh4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Rate != null">
        #{pnh4Rate,jdbcType=DOUBLE},
      </if>
      <if test="pnaMolecular != null">
        #{pnaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pnaDenominator != null">
        #{pnaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pnaRate != null">
        #{pnaRate,jdbcType=DOUBLE},
      </if>
      <if test="ph2oMolecular != null">
        #{ph2oMolecular,jdbcType=DOUBLE},
      </if>
      <if test="ph2oDenominator != null">
        #{ph2oDenominator,jdbcType=DOUBLE},
      </if>
      <if test="ph2oRate != null">
        #{ph2oRate,jdbcType=DOUBLE},
      </if>
      <if test="pmcMolecular != null">
        #{pmcMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmcDenominator != null">
        #{pmcDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmcRate != null">
        #{pmcRate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.ProfilePm25Example" resultType="java.lang.Long">
    select count(*) from profile_pm25
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update profile_pm25
    <set>
      <if test="record.pm25Id != null">
        PM25_ID = #{record.pm25Id,jdbcType=INTEGER},
      </if>
      <if test="record.pso4Molecular != null">
        PSO4_MOLECULAR = #{record.pso4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pso4Denominator != null">
        PSO4_DENOMINATOR = #{record.pso4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pso4Rate != null">
        PSO4_RATE = #{record.pso4Rate,jdbcType=DOUBLE},
      </if>
      <if test="record.pno3Molecular != null">
        PNO3_MOLECULAR = #{record.pno3Molecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pno3Denominator != null">
        PNO3_DENOMINATOR = #{record.pno3Denominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pno3Rate != null">
        PNO3_RATE = #{record.pno3Rate,jdbcType=DOUBLE},
      </if>
      <if test="record.pecMolecular != null">
        PEC_MOLECULAR = #{record.pecMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pecDenominator != null">
        PEC_DENOMINATOR = #{record.pecDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pecRate != null">
        PEC_RATE = #{record.pecRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pocMolecular != null">
        POC_MOLECULAR = #{record.pocMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pocDenominator != null">
        POC_DENOMINATOR = #{record.pocDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pocRate != null">
        POC_RATE = #{record.pocRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pmothrMolecular != null">
        PMOTHR_MOLECULAR = #{record.pmothrMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pmothrDenominator != null">
        PMOTHR_DENOMINATOR = #{record.pmothrDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pmothrRate != null">
        PMOTHR_RATE = #{record.pmothrRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pcaMolecular != null">
        PCA_MOLECULAR = #{record.pcaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pcaDenominator != null">
        PCA_DENOMINATOR = #{record.pcaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pcaRate != null">
        PCA_RATE = #{record.pcaRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pmgMolecular != null">
        PMG_MOLECULAR = #{record.pmgMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pmgDenominator != null">
        PMG_DENOMINATOR = #{record.pmgDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pmgRate != null">
        PMG_RATE = #{record.pmgRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pkMolecular != null">
        PK_MOLECULAR = #{record.pkMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pkDenominator != null">
        PK_DENOMINATOR = #{record.pkDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pkRate != null">
        PK_RATE = #{record.pkRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pncomMolecular != null">
        PNCOM_MOLECULAR = #{record.pncomMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pncomDenominator != null">
        PNCOM_DENOMINATOR = #{record.pncomDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pncomRate != null">
        PNCOM_RATE = #{record.pncomRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pfeMolecular != null">
        PFE_MOLECULAR = #{record.pfeMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pfeDenominator != null">
        PFE_DENOMINATOR = #{record.pfeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pfeRate != null">
        PFE_RATE = #{record.pfeRate,jdbcType=DOUBLE},
      </if>
      <if test="record.palMolecular != null">
        PAL_MOLECULAR = #{record.palMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.palDenominator != null">
        PAL_DENOMINATOR = #{record.palDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.palRate != null">
        PAL_RATE = #{record.palRate,jdbcType=DOUBLE},
      </if>
      <if test="record.psiMolecular != null">
        PSI_MOLECULAR = #{record.psiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.psiDenominator != null">
        PSI_DENOMINATOR = #{record.psiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.psiRate != null">
        PSI_RATE = #{record.psiRate,jdbcType=DOUBLE},
      </if>
      <if test="record.ptiMolecular != null">
        PTI_MOLECULAR = #{record.ptiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.ptiDenominator != null">
        PTI_DENOMINATOR = #{record.ptiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.ptiRate != null">
        PTI_RATE = #{record.ptiRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pmnMolecular != null">
        PMN_MOLECULAR = #{record.pmnMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pmnDenominator != null">
        PMN_DENOMINATOR = #{record.pmnDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pmnRate != null">
        PMN_RATE = #{record.pmnRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pclMolecular != null">
        PCL_MOLECULAR = #{record.pclMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pclDenominator != null">
        PCL_DENOMINATOR = #{record.pclDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pclRate != null">
        PCL_RATE = #{record.pclRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pnh4Molecular != null">
        PNH4_MOLECULAR = #{record.pnh4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pnh4Denominator != null">
        PNH4_DENOMINATOR = #{record.pnh4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pnh4Rate != null">
        PNH4_RATE = #{record.pnh4Rate,jdbcType=DOUBLE},
      </if>
      <if test="record.pnaMolecular != null">
        PNA_MOLECULAR = #{record.pnaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pnaDenominator != null">
        PNA_DENOMINATOR = #{record.pnaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pnaRate != null">
        PNA_RATE = #{record.pnaRate,jdbcType=DOUBLE},
      </if>
      <if test="record.ph2oMolecular != null">
        PH2O_MOLECULAR = #{record.ph2oMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.ph2oDenominator != null">
        PH2O_DENOMINATOR = #{record.ph2oDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.ph2oRate != null">
        PH2O_RATE = #{record.ph2oRate,jdbcType=DOUBLE},
      </if>
      <if test="record.pmcMolecular != null">
        PMC_MOLECULAR = #{record.pmcMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.pmcDenominator != null">
        PMC_DENOMINATOR = #{record.pmcDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.pmcRate != null">
        PMC_RATE = #{record.pmcRate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update profile_pm25
    set PM25_ID = #{record.pm25Id,jdbcType=INTEGER},
      PSO4_MOLECULAR = #{record.pso4Molecular,jdbcType=DOUBLE},
      PSO4_DENOMINATOR = #{record.pso4Denominator,jdbcType=DOUBLE},
      PSO4_RATE = #{record.pso4Rate,jdbcType=DOUBLE},
      PNO3_MOLECULAR = #{record.pno3Molecular,jdbcType=DOUBLE},
      PNO3_DENOMINATOR = #{record.pno3Denominator,jdbcType=DOUBLE},
      PNO3_RATE = #{record.pno3Rate,jdbcType=DOUBLE},
      PEC_MOLECULAR = #{record.pecMolecular,jdbcType=DOUBLE},
      PEC_DENOMINATOR = #{record.pecDenominator,jdbcType=DOUBLE},
      PEC_RATE = #{record.pecRate,jdbcType=DOUBLE},
      POC_MOLECULAR = #{record.pocMolecular,jdbcType=DOUBLE},
      POC_DENOMINATOR = #{record.pocDenominator,jdbcType=DOUBLE},
      POC_RATE = #{record.pocRate,jdbcType=DOUBLE},
      PMOTHR_MOLECULAR = #{record.pmothrMolecular,jdbcType=DOUBLE},
      PMOTHR_DENOMINATOR = #{record.pmothrDenominator,jdbcType=DOUBLE},
      PMOTHR_RATE = #{record.pmothrRate,jdbcType=DOUBLE},
      PCA_MOLECULAR = #{record.pcaMolecular,jdbcType=DOUBLE},
      PCA_DENOMINATOR = #{record.pcaDenominator,jdbcType=DOUBLE},
      PCA_RATE = #{record.pcaRate,jdbcType=DOUBLE},
      PMG_MOLECULAR = #{record.pmgMolecular,jdbcType=DOUBLE},
      PMG_DENOMINATOR = #{record.pmgDenominator,jdbcType=DOUBLE},
      PMG_RATE = #{record.pmgRate,jdbcType=DOUBLE},
      PK_MOLECULAR = #{record.pkMolecular,jdbcType=DOUBLE},
      PK_DENOMINATOR = #{record.pkDenominator,jdbcType=DOUBLE},
      PK_RATE = #{record.pkRate,jdbcType=DOUBLE},
      PNCOM_MOLECULAR = #{record.pncomMolecular,jdbcType=DOUBLE},
      PNCOM_DENOMINATOR = #{record.pncomDenominator,jdbcType=DOUBLE},
      PNCOM_RATE = #{record.pncomRate,jdbcType=DOUBLE},
      PFE_MOLECULAR = #{record.pfeMolecular,jdbcType=DOUBLE},
      PFE_DENOMINATOR = #{record.pfeDenominator,jdbcType=DOUBLE},
      PFE_RATE = #{record.pfeRate,jdbcType=DOUBLE},
      PAL_MOLECULAR = #{record.palMolecular,jdbcType=DOUBLE},
      PAL_DENOMINATOR = #{record.palDenominator,jdbcType=DOUBLE},
      PAL_RATE = #{record.palRate,jdbcType=DOUBLE},
      PSI_MOLECULAR = #{record.psiMolecular,jdbcType=DOUBLE},
      PSI_DENOMINATOR = #{record.psiDenominator,jdbcType=DOUBLE},
      PSI_RATE = #{record.psiRate,jdbcType=DOUBLE},
      PTI_MOLECULAR = #{record.ptiMolecular,jdbcType=DOUBLE},
      PTI_DENOMINATOR = #{record.ptiDenominator,jdbcType=DOUBLE},
      PTI_RATE = #{record.ptiRate,jdbcType=DOUBLE},
      PMN_MOLECULAR = #{record.pmnMolecular,jdbcType=DOUBLE},
      PMN_DENOMINATOR = #{record.pmnDenominator,jdbcType=DOUBLE},
      PMN_RATE = #{record.pmnRate,jdbcType=DOUBLE},
      PCL_MOLECULAR = #{record.pclMolecular,jdbcType=DOUBLE},
      PCL_DENOMINATOR = #{record.pclDenominator,jdbcType=DOUBLE},
      PCL_RATE = #{record.pclRate,jdbcType=DOUBLE},
      PNH4_MOLECULAR = #{record.pnh4Molecular,jdbcType=DOUBLE},
      PNH4_DENOMINATOR = #{record.pnh4Denominator,jdbcType=DOUBLE},
      PNH4_RATE = #{record.pnh4Rate,jdbcType=DOUBLE},
      PNA_MOLECULAR = #{record.pnaMolecular,jdbcType=DOUBLE},
      PNA_DENOMINATOR = #{record.pnaDenominator,jdbcType=DOUBLE},
      PNA_RATE = #{record.pnaRate,jdbcType=DOUBLE},
      PH2O_MOLECULAR = #{record.ph2oMolecular,jdbcType=DOUBLE},
      PH2O_DENOMINATOR = #{record.ph2oDenominator,jdbcType=DOUBLE},
      PH2O_RATE = #{record.ph2oRate,jdbcType=DOUBLE},
      PMC_MOLECULAR = #{record.pmcMolecular,jdbcType=DOUBLE},
      PMC_DENOMINATOR = #{record.pmcDenominator,jdbcType=DOUBLE},
      PMC_RATE = #{record.pmcRate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.ProfilePm25">
    update profile_pm25
    <set>
      <if test="pso4Molecular != null">
        PSO4_MOLECULAR = #{pso4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pso4Denominator != null">
        PSO4_DENOMINATOR = #{pso4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pso4Rate != null">
        PSO4_RATE = #{pso4Rate,jdbcType=DOUBLE},
      </if>
      <if test="pno3Molecular != null">
        PNO3_MOLECULAR = #{pno3Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pno3Denominator != null">
        PNO3_DENOMINATOR = #{pno3Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pno3Rate != null">
        PNO3_RATE = #{pno3Rate,jdbcType=DOUBLE},
      </if>
      <if test="pecMolecular != null">
        PEC_MOLECULAR = #{pecMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pecDenominator != null">
        PEC_DENOMINATOR = #{pecDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pecRate != null">
        PEC_RATE = #{pecRate,jdbcType=DOUBLE},
      </if>
      <if test="pocMolecular != null">
        POC_MOLECULAR = #{pocMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pocDenominator != null">
        POC_DENOMINATOR = #{pocDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pocRate != null">
        POC_RATE = #{pocRate,jdbcType=DOUBLE},
      </if>
      <if test="pmothrMolecular != null">
        PMOTHR_MOLECULAR = #{pmothrMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmothrDenominator != null">
        PMOTHR_DENOMINATOR = #{pmothrDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmothrRate != null">
        PMOTHR_RATE = #{pmothrRate,jdbcType=DOUBLE},
      </if>
      <if test="pcaMolecular != null">
        PCA_MOLECULAR = #{pcaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pcaDenominator != null">
        PCA_DENOMINATOR = #{pcaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pcaRate != null">
        PCA_RATE = #{pcaRate,jdbcType=DOUBLE},
      </if>
      <if test="pmgMolecular != null">
        PMG_MOLECULAR = #{pmgMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmgDenominator != null">
        PMG_DENOMINATOR = #{pmgDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmgRate != null">
        PMG_RATE = #{pmgRate,jdbcType=DOUBLE},
      </if>
      <if test="pkMolecular != null">
        PK_MOLECULAR = #{pkMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pkDenominator != null">
        PK_DENOMINATOR = #{pkDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pkRate != null">
        PK_RATE = #{pkRate,jdbcType=DOUBLE},
      </if>
      <if test="pncomMolecular != null">
        PNCOM_MOLECULAR = #{pncomMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pncomDenominator != null">
        PNCOM_DENOMINATOR = #{pncomDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pncomRate != null">
        PNCOM_RATE = #{pncomRate,jdbcType=DOUBLE},
      </if>
      <if test="pfeMolecular != null">
        PFE_MOLECULAR = #{pfeMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pfeDenominator != null">
        PFE_DENOMINATOR = #{pfeDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pfeRate != null">
        PFE_RATE = #{pfeRate,jdbcType=DOUBLE},
      </if>
      <if test="palMolecular != null">
        PAL_MOLECULAR = #{palMolecular,jdbcType=DOUBLE},
      </if>
      <if test="palDenominator != null">
        PAL_DENOMINATOR = #{palDenominator,jdbcType=DOUBLE},
      </if>
      <if test="palRate != null">
        PAL_RATE = #{palRate,jdbcType=DOUBLE},
      </if>
      <if test="psiMolecular != null">
        PSI_MOLECULAR = #{psiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="psiDenominator != null">
        PSI_DENOMINATOR = #{psiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="psiRate != null">
        PSI_RATE = #{psiRate,jdbcType=DOUBLE},
      </if>
      <if test="ptiMolecular != null">
        PTI_MOLECULAR = #{ptiMolecular,jdbcType=DOUBLE},
      </if>
      <if test="ptiDenominator != null">
        PTI_DENOMINATOR = #{ptiDenominator,jdbcType=DOUBLE},
      </if>
      <if test="ptiRate != null">
        PTI_RATE = #{ptiRate,jdbcType=DOUBLE},
      </if>
      <if test="pmnMolecular != null">
        PMN_MOLECULAR = #{pmnMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmnDenominator != null">
        PMN_DENOMINATOR = #{pmnDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmnRate != null">
        PMN_RATE = #{pmnRate,jdbcType=DOUBLE},
      </if>
      <if test="pclMolecular != null">
        PCL_MOLECULAR = #{pclMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pclDenominator != null">
        PCL_DENOMINATOR = #{pclDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pclRate != null">
        PCL_RATE = #{pclRate,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Molecular != null">
        PNH4_MOLECULAR = #{pnh4Molecular,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Denominator != null">
        PNH4_DENOMINATOR = #{pnh4Denominator,jdbcType=DOUBLE},
      </if>
      <if test="pnh4Rate != null">
        PNH4_RATE = #{pnh4Rate,jdbcType=DOUBLE},
      </if>
      <if test="pnaMolecular != null">
        PNA_MOLECULAR = #{pnaMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pnaDenominator != null">
        PNA_DENOMINATOR = #{pnaDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pnaRate != null">
        PNA_RATE = #{pnaRate,jdbcType=DOUBLE},
      </if>
      <if test="ph2oMolecular != null">
        PH2O_MOLECULAR = #{ph2oMolecular,jdbcType=DOUBLE},
      </if>
      <if test="ph2oDenominator != null">
        PH2O_DENOMINATOR = #{ph2oDenominator,jdbcType=DOUBLE},
      </if>
      <if test="ph2oRate != null">
        PH2O_RATE = #{ph2oRate,jdbcType=DOUBLE},
      </if>
      <if test="pmcMolecular != null">
        PMC_MOLECULAR = #{pmcMolecular,jdbcType=DOUBLE},
      </if>
      <if test="pmcDenominator != null">
        PMC_DENOMINATOR = #{pmcDenominator,jdbcType=DOUBLE},
      </if>
      <if test="pmcRate != null">
        PMC_RATE = #{pmcRate,jdbcType=DOUBLE},
      </if>
    </set>
    where PM25_ID = #{pm25Id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.ProfilePm25">
    update profile_pm25
    set PSO4_MOLECULAR = #{pso4Molecular,jdbcType=DOUBLE},
      PSO4_DENOMINATOR = #{pso4Denominator,jdbcType=DOUBLE},
      PSO4_RATE = #{pso4Rate,jdbcType=DOUBLE},
      PNO3_MOLECULAR = #{pno3Molecular,jdbcType=DOUBLE},
      PNO3_DENOMINATOR = #{pno3Denominator,jdbcType=DOUBLE},
      PNO3_RATE = #{pno3Rate,jdbcType=DOUBLE},
      PEC_MOLECULAR = #{pecMolecular,jdbcType=DOUBLE},
      PEC_DENOMINATOR = #{pecDenominator,jdbcType=DOUBLE},
      PEC_RATE = #{pecRate,jdbcType=DOUBLE},
      POC_MOLECULAR = #{pocMolecular,jdbcType=DOUBLE},
      POC_DENOMINATOR = #{pocDenominator,jdbcType=DOUBLE},
      POC_RATE = #{pocRate,jdbcType=DOUBLE},
      PMOTHR_MOLECULAR = #{pmothrMolecular,jdbcType=DOUBLE},
      PMOTHR_DENOMINATOR = #{pmothrDenominator,jdbcType=DOUBLE},
      PMOTHR_RATE = #{pmothrRate,jdbcType=DOUBLE},
      PCA_MOLECULAR = #{pcaMolecular,jdbcType=DOUBLE},
      PCA_DENOMINATOR = #{pcaDenominator,jdbcType=DOUBLE},
      PCA_RATE = #{pcaRate,jdbcType=DOUBLE},
      PMG_MOLECULAR = #{pmgMolecular,jdbcType=DOUBLE},
      PMG_DENOMINATOR = #{pmgDenominator,jdbcType=DOUBLE},
      PMG_RATE = #{pmgRate,jdbcType=DOUBLE},
      PK_MOLECULAR = #{pkMolecular,jdbcType=DOUBLE},
      PK_DENOMINATOR = #{pkDenominator,jdbcType=DOUBLE},
      PK_RATE = #{pkRate,jdbcType=DOUBLE},
      PNCOM_MOLECULAR = #{pncomMolecular,jdbcType=DOUBLE},
      PNCOM_DENOMINATOR = #{pncomDenominator,jdbcType=DOUBLE},
      PNCOM_RATE = #{pncomRate,jdbcType=DOUBLE},
      PFE_MOLECULAR = #{pfeMolecular,jdbcType=DOUBLE},
      PFE_DENOMINATOR = #{pfeDenominator,jdbcType=DOUBLE},
      PFE_RATE = #{pfeRate,jdbcType=DOUBLE},
      PAL_MOLECULAR = #{palMolecular,jdbcType=DOUBLE},
      PAL_DENOMINATOR = #{palDenominator,jdbcType=DOUBLE},
      PAL_RATE = #{palRate,jdbcType=DOUBLE},
      PSI_MOLECULAR = #{psiMolecular,jdbcType=DOUBLE},
      PSI_DENOMINATOR = #{psiDenominator,jdbcType=DOUBLE},
      PSI_RATE = #{psiRate,jdbcType=DOUBLE},
      PTI_MOLECULAR = #{ptiMolecular,jdbcType=DOUBLE},
      PTI_DENOMINATOR = #{ptiDenominator,jdbcType=DOUBLE},
      PTI_RATE = #{ptiRate,jdbcType=DOUBLE},
      PMN_MOLECULAR = #{pmnMolecular,jdbcType=DOUBLE},
      PMN_DENOMINATOR = #{pmnDenominator,jdbcType=DOUBLE},
      PMN_RATE = #{pmnRate,jdbcType=DOUBLE},
      PCL_MOLECULAR = #{pclMolecular,jdbcType=DOUBLE},
      PCL_DENOMINATOR = #{pclDenominator,jdbcType=DOUBLE},
      PCL_RATE = #{pclRate,jdbcType=DOUBLE},
      PNH4_MOLECULAR = #{pnh4Molecular,jdbcType=DOUBLE},
      PNH4_DENOMINATOR = #{pnh4Denominator,jdbcType=DOUBLE},
      PNH4_RATE = #{pnh4Rate,jdbcType=DOUBLE},
      PNA_MOLECULAR = #{pnaMolecular,jdbcType=DOUBLE},
      PNA_DENOMINATOR = #{pnaDenominator,jdbcType=DOUBLE},
      PNA_RATE = #{pnaRate,jdbcType=DOUBLE},
      PH2O_MOLECULAR = #{ph2oMolecular,jdbcType=DOUBLE},
      PH2O_DENOMINATOR = #{ph2oDenominator,jdbcType=DOUBLE},
      PH2O_RATE = #{ph2oRate,jdbcType=DOUBLE},
      PMC_MOLECULAR = #{pmcMolecular,jdbcType=DOUBLE},
      PMC_DENOMINATOR = #{pmcDenominator,jdbcType=DOUBLE},
      PMC_RATE = #{pmcRate,jdbcType=DOUBLE}
    where PM25_ID = #{pm25Id,jdbcType=INTEGER}
  </update>
</mapper>