<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.ProfileNoxMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.ProfileNox">
    <id column="NOX_ID" jdbcType="INTEGER" property="noxId" />
    <result column="NO_MOLECULAR" jdbcType="DOUBLE" property="noMolecular" />
    <result column="NO_DENOMINATOR" jdbcType="DOUBLE" property="noDenominator" />
    <result column="NO_RATE" jdbcType="DOUBLE" property="noRate" />
    <result column="NO2_MOLECULAR" jdbcType="DOUBLE" property="no2Molecular" />
    <result column="NO2_DENOMINATOR" jdbcType="DOUBLE" property="no2Denominator" />
    <result column="NO2_RATE" jdbcType="DOUBLE" property="no2Rate" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    NOX_ID, NO_MOLECULAR, NO_DENOMINATOR, NO_RATE, NO2_MOLECULAR, NO2_DENOMINATOR, NO2_RATE
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.ProfileNoxExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from profile_nox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from profile_nox
    where NOX_ID = #{noxId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from profile_nox
    where NOX_ID = #{noxId,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.ProfileNoxExample">
    delete from profile_nox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.ProfileNox">
    insert into profile_nox (NOX_ID, NO_MOLECULAR, NO_DENOMINATOR, 
      NO_RATE, NO2_MOLECULAR, NO2_DENOMINATOR, 
      NO2_RATE)
    values (#{noxId,jdbcType=INTEGER}, #{noMolecular,jdbcType=DOUBLE}, #{noDenominator,jdbcType=DOUBLE}, 
      #{noRate,jdbcType=DOUBLE}, #{no2Molecular,jdbcType=DOUBLE}, #{no2Denominator,jdbcType=DOUBLE}, 
      #{no2Rate,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.ProfileNox">
    insert into profile_nox
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="noxId != null">
        NOX_ID,
      </if>
      <if test="noMolecular != null">
        NO_MOLECULAR,
      </if>
      <if test="noDenominator != null">
        NO_DENOMINATOR,
      </if>
      <if test="noRate != null">
        NO_RATE,
      </if>
      <if test="no2Molecular != null">
        NO2_MOLECULAR,
      </if>
      <if test="no2Denominator != null">
        NO2_DENOMINATOR,
      </if>
      <if test="no2Rate != null">
        NO2_RATE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="noxId != null">
        #{noxId,jdbcType=INTEGER},
      </if>
      <if test="noMolecular != null">
        #{noMolecular,jdbcType=DOUBLE},
      </if>
      <if test="noDenominator != null">
        #{noDenominator,jdbcType=DOUBLE},
      </if>
      <if test="noRate != null">
        #{noRate,jdbcType=DOUBLE},
      </if>
      <if test="no2Molecular != null">
        #{no2Molecular,jdbcType=DOUBLE},
      </if>
      <if test="no2Denominator != null">
        #{no2Denominator,jdbcType=DOUBLE},
      </if>
      <if test="no2Rate != null">
        #{no2Rate,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.ProfileNoxExample" resultType="java.lang.Long">
    select count(*) from profile_nox
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update profile_nox
    <set>
      <if test="record.noxId != null">
        NOX_ID = #{record.noxId,jdbcType=INTEGER},
      </if>
      <if test="record.noMolecular != null">
        NO_MOLECULAR = #{record.noMolecular,jdbcType=DOUBLE},
      </if>
      <if test="record.noDenominator != null">
        NO_DENOMINATOR = #{record.noDenominator,jdbcType=DOUBLE},
      </if>
      <if test="record.noRate != null">
        NO_RATE = #{record.noRate,jdbcType=DOUBLE},
      </if>
      <if test="record.no2Molecular != null">
        NO2_MOLECULAR = #{record.no2Molecular,jdbcType=DOUBLE},
      </if>
      <if test="record.no2Denominator != null">
        NO2_DENOMINATOR = #{record.no2Denominator,jdbcType=DOUBLE},
      </if>
      <if test="record.no2Rate != null">
        NO2_RATE = #{record.no2Rate,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update profile_nox
    set NOX_ID = #{record.noxId,jdbcType=INTEGER},
      NO_MOLECULAR = #{record.noMolecular,jdbcType=DOUBLE},
      NO_DENOMINATOR = #{record.noDenominator,jdbcType=DOUBLE},
      NO_RATE = #{record.noRate,jdbcType=DOUBLE},
      NO2_MOLECULAR = #{record.no2Molecular,jdbcType=DOUBLE},
      NO2_DENOMINATOR = #{record.no2Denominator,jdbcType=DOUBLE},
      NO2_RATE = #{record.no2Rate,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.ProfileNox">
    update profile_nox
    <set>
      <if test="noMolecular != null">
        NO_MOLECULAR = #{noMolecular,jdbcType=DOUBLE},
      </if>
      <if test="noDenominator != null">
        NO_DENOMINATOR = #{noDenominator,jdbcType=DOUBLE},
      </if>
      <if test="noRate != null">
        NO_RATE = #{noRate,jdbcType=DOUBLE},
      </if>
      <if test="no2Molecular != null">
        NO2_MOLECULAR = #{no2Molecular,jdbcType=DOUBLE},
      </if>
      <if test="no2Denominator != null">
        NO2_DENOMINATOR = #{no2Denominator,jdbcType=DOUBLE},
      </if>
      <if test="no2Rate != null">
        NO2_RATE = #{no2Rate,jdbcType=DOUBLE},
      </if>
    </set>
    where NOX_ID = #{noxId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.ProfileNox">
    update profile_nox
    set NO_MOLECULAR = #{noMolecular,jdbcType=DOUBLE},
      NO_DENOMINATOR = #{noDenominator,jdbcType=DOUBLE},
      NO_RATE = #{noRate,jdbcType=DOUBLE},
      NO2_MOLECULAR = #{no2Molecular,jdbcType=DOUBLE},
      NO2_DENOMINATOR = #{no2Denominator,jdbcType=DOUBLE},
      NO2_RATE = #{no2Rate,jdbcType=DOUBLE}
    where NOX_ID = #{noxId,jdbcType=INTEGER}
  </update>
</mapper>