<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.Scc3Mapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Scc3">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="scc_1" jdbcType="CHAR" property="scc1" />
    <result column="scc_2" jdbcType="CHAR" property="scc2" />
    <result column="scc_3" jdbcType="CHAR" property="scc3" />
    <result column="description" jdbcType="CHAR" property="description" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, scc_1, scc_2, scc_3, description
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.Scc3Example" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from scc_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from scc_3
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from scc_3
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.Scc3Example">
    delete from scc_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Scc3">
    insert into scc_3 (id, scc_1, scc_2, scc_3, 
      description)
    values (#{id,jdbcType=INTEGER}, #{scc1,jdbcType=CHAR}, #{scc2,jdbcType=CHAR}, #{scc3,jdbcType=CHAR}, 
      #{description,jdbcType=CHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Scc3">
    insert into scc_3
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="scc1 != null">
        scc_1,
      </if>
      <if test="scc2 != null">
        scc_2,
      </if>
      <if test="scc3 != null">
        scc_3,
      </if>
      <if test="description != null">
        description,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="scc1 != null">
        #{scc1,jdbcType=CHAR},
      </if>
      <if test="scc2 != null">
        #{scc2,jdbcType=CHAR},
      </if>
      <if test="scc3 != null">
        #{scc3,jdbcType=CHAR},
      </if>
      <if test="description != null">
        #{description,jdbcType=CHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.Scc3Example" resultType="java.lang.Long">
    select count(*) from scc_3
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update scc_3
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.scc1 != null">
        scc_1 = #{record.scc1,jdbcType=CHAR},
      </if>
      <if test="record.scc2 != null">
        scc_2 = #{record.scc2,jdbcType=CHAR},
      </if>
      <if test="record.scc3 != null">
        scc_3 = #{record.scc3,jdbcType=CHAR},
      </if>
      <if test="record.description != null">
        description = #{record.description,jdbcType=CHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update scc_3
    set id = #{record.id,jdbcType=INTEGER},
      scc_1 = #{record.scc1,jdbcType=CHAR},
      scc_2 = #{record.scc2,jdbcType=CHAR},
      scc_3 = #{record.scc3,jdbcType=CHAR},
      description = #{record.description,jdbcType=CHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Scc3">
    update scc_3
    <set>
      <if test="scc1 != null">
        scc_1 = #{scc1,jdbcType=CHAR},
      </if>
      <if test="scc2 != null">
        scc_2 = #{scc2,jdbcType=CHAR},
      </if>
      <if test="scc3 != null">
        scc_3 = #{scc3,jdbcType=CHAR},
      </if>
      <if test="description != null">
        description = #{description,jdbcType=CHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Scc3">
    update scc_3
    set scc_1 = #{scc1,jdbcType=CHAR},
      scc_2 = #{scc2,jdbcType=CHAR},
      scc_3 = #{scc3,jdbcType=CHAR},
      description = #{description,jdbcType=CHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>