<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.nankai.xining.repository.TankinfoformalMapper">
  <resultMap id="BaseResultMap" type="com.nankai.xining.bean.Tankinfoformal">
    <id column="tankid" jdbcType="INTEGER" property="tankid" />
    <result column="tanksurveyid" jdbcType="INTEGER" property="tanksurveyid" />
    <result column="reporter" jdbcType="VARCHAR" property="reporter" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="reportdate" jdbcType="VARCHAR" property="reportdate" />
    <result column="status" jdbcType="INTEGER" property="status" />
    <result column="factory_id" jdbcType="INTEGER" property="factoryId" />
    <result column="samenum" jdbcType="INTEGER" property="samenum" />
    <result column="tanktype" jdbcType="VARCHAR" property="tanktype" />
    <result column="tanklength" jdbcType="DOUBLE" property="tanklength" />
    <result column="tankdiameter" jdbcType="DOUBLE" property="tankdiameter" />
    <result column="workingvolumn" jdbcType="DOUBLE" property="workingvolumn" />
    <result column="frequency" jdbcType="DOUBLE" property="frequency" />
    <result column="capacity" jdbcType="DOUBLE" property="capacity" />
    <result column="maxheight" jdbcType="DOUBLE" property="maxheight" />
    <result column="averageheight" jdbcType="DOUBLE" property="averageheight" />
    <result column="innerstate" jdbcType="VARCHAR" property="innerstate" />
    <result column="tankcolor" jdbcType="VARCHAR" property="tankcolor" />
    <result column="paintstate" jdbcType="VARCHAR" property="paintstate" />
    <result column="uptanktopcolor" jdbcType="VARCHAR" property="uptanktopcolor" />
    <result column="uptanktoppaintstate" jdbcType="VARCHAR" property="uptanktoppaintstate" />
    <result column="uptanktoptype" jdbcType="VARCHAR" property="uptanktoptype" />
    <result column="uptanktopheight" jdbcType="DOUBLE" property="uptanktopheight" />
    <result column="uproundradius" jdbcType="DOUBLE" property="uproundradius" />
    <result column="uptanktopgrade" jdbcType="DOUBLE" property="uptanktopgrade" />
    <result column="vacuumset" jdbcType="DOUBLE" property="vacuumset" />
    <result column="pressureset" jdbcType="DOUBLE" property="pressureset" />
    <result column="issetheat" jdbcType="VARCHAR" property="issetheat" />
    <result column="isunderground" jdbcType="VARCHAR" property="isunderground" />
    <result column="outtanktoptype" jdbcType="VARCHAR" property="outtanktoptype" />
    <result column="outtanktopconfig" jdbcType="VARCHAR" property="outtanktopconfig" />
    <result column="tankstructure" jdbcType="VARCHAR" property="tankstructure" />
    <result column="intanktopcolor" jdbcType="VARCHAR" property="intanktopcolor" />
    <result column="intanktoppaintstate" jdbcType="VARCHAR" property="intanktoppaintstate" />
    <result column="inissupport" jdbcType="VARCHAR" property="inissupport" />
    <result column="insupportnum" jdbcType="INTEGER" property="insupportnum" />
    <result column="insupportradius" jdbcType="DOUBLE" property="insupportradius" />
    <result column="infloatconnect" jdbcType="VARCHAR" property="infloatconnect" />
    <result column="inweldtype" jdbcType="VARCHAR" property="inweldtype" />
    <result column="infloatpantype" jdbcType="VARCHAR" property="infloatpantype" />
    <result column="instructuretype" jdbcType="VARCHAR" property="instructuretype" />
    <result column="inconnectwidth" jdbcType="DOUBLE" property="inconnectwidth" />
    <result column="inplatesize" jdbcType="VARCHAR" property="inplatesize" />
    <result column="outinfirstseal" jdbcType="VARCHAR" property="outinfirstseal" />
    <result column="outinsecondseal" jdbcType="VARCHAR" property="outinsecondseal" />
    <result column="solutiontype" jdbcType="VARCHAR" property="solutiontype" />
    <result column="solutionname" jdbcType="VARCHAR" property="solutionname" />
    <result column="solutionversion" jdbcType="VARCHAR" property="solutionversion" />
    <result column="solutioncomposition" jdbcType="VARCHAR" property="solutioncomposition" />
    <result column="solutionfraction" jdbcType="VARCHAR" property="solutionfraction" />
    <result column="streampressure" jdbcType="DOUBLE" property="streampressure" />
    <result column="streamfraction" jdbcType="DOUBLE" property="streamfraction" />
    <result column="liquidfraction" jdbcType="DOUBLE" property="liquidfraction" />
    <result column="liquiddensity" jdbcType="DOUBLE" property="liquiddensity" />
    <result column="liquidmaxtem" jdbcType="DOUBLE" property="liquidmaxtem" />
    <result column="liquidmintem" jdbcType="DOUBLE" property="liquidmintem" />
    <result column="liquidavertem" jdbcType="DOUBLE" property="liquidavertem" />
    <result column="subjecttem" jdbcType="DOUBLE" property="subjecttem" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    tankid, tanksurveyid, reporter, phone, reportdate, status, factory_id, samenum, tanktype, 
    tanklength, tankdiameter, workingvolumn, frequency, capacity, maxheight, averageheight, 
    innerstate, tankcolor, paintstate, uptanktopcolor, uptanktoppaintstate, uptanktoptype, 
    uptanktopheight, uproundradius, uptanktopgrade, vacuumset, pressureset, issetheat, 
    isunderground, outtanktoptype, outtanktopconfig, tankstructure, intanktopcolor, intanktoppaintstate, 
    inissupport, insupportnum, insupportradius, infloatconnect, inweldtype, infloatpantype, 
    instructuretype, inconnectwidth, inplatesize, outinfirstseal, outinsecondseal, solutiontype, 
    solutionname, solutionversion, solutioncomposition, solutionfraction, streampressure, 
    streamfraction, liquidfraction, liquiddensity, liquidmaxtem, liquidmintem, liquidavertem, 
    subjecttem
  </sql>
  <select id="selectByExample" parameterType="com.nankai.xining.bean.TankinfoformalExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from tankinfoformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tankinfoformal
    where tankid = #{tankid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tankinfoformal
    where tankid = #{tankid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.nankai.xining.bean.TankinfoformalExample">
    delete from tankinfoformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.nankai.xining.bean.Tankinfoformal">
    insert into tankinfoformal (tankid, tanksurveyid, reporter, 
      phone, reportdate, status, 
      factory_id, samenum, tanktype, 
      tanklength, tankdiameter, workingvolumn, 
      frequency, capacity, maxheight, 
      averageheight, innerstate, tankcolor, 
      paintstate, uptanktopcolor, uptanktoppaintstate, 
      uptanktoptype, uptanktopheight, uproundradius, 
      uptanktopgrade, vacuumset, pressureset, 
      issetheat, isunderground, outtanktoptype, 
      outtanktopconfig, tankstructure, intanktopcolor, 
      intanktoppaintstate, inissupport, insupportnum, 
      insupportradius, infloatconnect, inweldtype, 
      infloatpantype, instructuretype, inconnectwidth, 
      inplatesize, outinfirstseal, outinsecondseal, 
      solutiontype, solutionname, solutionversion, 
      solutioncomposition, solutionfraction, 
      streampressure, streamfraction, liquidfraction, 
      liquiddensity, liquidmaxtem, liquidmintem, 
      liquidavertem, subjecttem)
    values (#{tankid,jdbcType=INTEGER}, #{tanksurveyid,jdbcType=INTEGER}, #{reporter,jdbcType=VARCHAR}, 
      #{phone,jdbcType=VARCHAR}, #{reportdate,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{factoryId,jdbcType=INTEGER}, #{samenum,jdbcType=INTEGER}, #{tanktype,jdbcType=VARCHAR}, 
      #{tanklength,jdbcType=DOUBLE}, #{tankdiameter,jdbcType=DOUBLE}, #{workingvolumn,jdbcType=DOUBLE}, 
      #{frequency,jdbcType=DOUBLE}, #{capacity,jdbcType=DOUBLE}, #{maxheight,jdbcType=DOUBLE}, 
      #{averageheight,jdbcType=DOUBLE}, #{innerstate,jdbcType=VARCHAR}, #{tankcolor,jdbcType=VARCHAR}, 
      #{paintstate,jdbcType=VARCHAR}, #{uptanktopcolor,jdbcType=VARCHAR}, #{uptanktoppaintstate,jdbcType=VARCHAR}, 
      #{uptanktoptype,jdbcType=VARCHAR}, #{uptanktopheight,jdbcType=DOUBLE}, #{uproundradius,jdbcType=DOUBLE}, 
      #{uptanktopgrade,jdbcType=DOUBLE}, #{vacuumset,jdbcType=DOUBLE}, #{pressureset,jdbcType=DOUBLE}, 
      #{issetheat,jdbcType=VARCHAR}, #{isunderground,jdbcType=VARCHAR}, #{outtanktoptype,jdbcType=VARCHAR}, 
      #{outtanktopconfig,jdbcType=VARCHAR}, #{tankstructure,jdbcType=VARCHAR}, #{intanktopcolor,jdbcType=VARCHAR}, 
      #{intanktoppaintstate,jdbcType=VARCHAR}, #{inissupport,jdbcType=VARCHAR}, #{insupportnum,jdbcType=INTEGER}, 
      #{insupportradius,jdbcType=DOUBLE}, #{infloatconnect,jdbcType=VARCHAR}, #{inweldtype,jdbcType=VARCHAR}, 
      #{infloatpantype,jdbcType=VARCHAR}, #{instructuretype,jdbcType=VARCHAR}, #{inconnectwidth,jdbcType=DOUBLE}, 
      #{inplatesize,jdbcType=VARCHAR}, #{outinfirstseal,jdbcType=VARCHAR}, #{outinsecondseal,jdbcType=VARCHAR}, 
      #{solutiontype,jdbcType=VARCHAR}, #{solutionname,jdbcType=VARCHAR}, #{solutionversion,jdbcType=VARCHAR}, 
      #{solutioncomposition,jdbcType=VARCHAR}, #{solutionfraction,jdbcType=VARCHAR}, 
      #{streampressure,jdbcType=DOUBLE}, #{streamfraction,jdbcType=DOUBLE}, #{liquidfraction,jdbcType=DOUBLE}, 
      #{liquiddensity,jdbcType=DOUBLE}, #{liquidmaxtem,jdbcType=DOUBLE}, #{liquidmintem,jdbcType=DOUBLE}, 
      #{liquidavertem,jdbcType=DOUBLE}, #{subjecttem,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="com.nankai.xining.bean.Tankinfoformal">
    insert into tankinfoformal
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="tankid != null">
        tankid,
      </if>
      <if test="tanksurveyid != null">
        tanksurveyid,
      </if>
      <if test="reporter != null">
        reporter,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="reportdate != null">
        reportdate,
      </if>
      <if test="status != null">
        status,
      </if>
      <if test="factoryId != null">
        factory_id,
      </if>
      <if test="samenum != null">
        samenum,
      </if>
      <if test="tanktype != null">
        tanktype,
      </if>
      <if test="tanklength != null">
        tanklength,
      </if>
      <if test="tankdiameter != null">
        tankdiameter,
      </if>
      <if test="workingvolumn != null">
        workingvolumn,
      </if>
      <if test="frequency != null">
        frequency,
      </if>
      <if test="capacity != null">
        capacity,
      </if>
      <if test="maxheight != null">
        maxheight,
      </if>
      <if test="averageheight != null">
        averageheight,
      </if>
      <if test="innerstate != null">
        innerstate,
      </if>
      <if test="tankcolor != null">
        tankcolor,
      </if>
      <if test="paintstate != null">
        paintstate,
      </if>
      <if test="uptanktopcolor != null">
        uptanktopcolor,
      </if>
      <if test="uptanktoppaintstate != null">
        uptanktoppaintstate,
      </if>
      <if test="uptanktoptype != null">
        uptanktoptype,
      </if>
      <if test="uptanktopheight != null">
        uptanktopheight,
      </if>
      <if test="uproundradius != null">
        uproundradius,
      </if>
      <if test="uptanktopgrade != null">
        uptanktopgrade,
      </if>
      <if test="vacuumset != null">
        vacuumset,
      </if>
      <if test="pressureset != null">
        pressureset,
      </if>
      <if test="issetheat != null">
        issetheat,
      </if>
      <if test="isunderground != null">
        isunderground,
      </if>
      <if test="outtanktoptype != null">
        outtanktoptype,
      </if>
      <if test="outtanktopconfig != null">
        outtanktopconfig,
      </if>
      <if test="tankstructure != null">
        tankstructure,
      </if>
      <if test="intanktopcolor != null">
        intanktopcolor,
      </if>
      <if test="intanktoppaintstate != null">
        intanktoppaintstate,
      </if>
      <if test="inissupport != null">
        inissupport,
      </if>
      <if test="insupportnum != null">
        insupportnum,
      </if>
      <if test="insupportradius != null">
        insupportradius,
      </if>
      <if test="infloatconnect != null">
        infloatconnect,
      </if>
      <if test="inweldtype != null">
        inweldtype,
      </if>
      <if test="infloatpantype != null">
        infloatpantype,
      </if>
      <if test="instructuretype != null">
        instructuretype,
      </if>
      <if test="inconnectwidth != null">
        inconnectwidth,
      </if>
      <if test="inplatesize != null">
        inplatesize,
      </if>
      <if test="outinfirstseal != null">
        outinfirstseal,
      </if>
      <if test="outinsecondseal != null">
        outinsecondseal,
      </if>
      <if test="solutiontype != null">
        solutiontype,
      </if>
      <if test="solutionname != null">
        solutionname,
      </if>
      <if test="solutionversion != null">
        solutionversion,
      </if>
      <if test="solutioncomposition != null">
        solutioncomposition,
      </if>
      <if test="solutionfraction != null">
        solutionfraction,
      </if>
      <if test="streampressure != null">
        streampressure,
      </if>
      <if test="streamfraction != null">
        streamfraction,
      </if>
      <if test="liquidfraction != null">
        liquidfraction,
      </if>
      <if test="liquiddensity != null">
        liquiddensity,
      </if>
      <if test="liquidmaxtem != null">
        liquidmaxtem,
      </if>
      <if test="liquidmintem != null">
        liquidmintem,
      </if>
      <if test="liquidavertem != null">
        liquidavertem,
      </if>
      <if test="subjecttem != null">
        subjecttem,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="tankid != null">
        #{tankid,jdbcType=INTEGER},
      </if>
      <if test="tanksurveyid != null">
        #{tanksurveyid,jdbcType=INTEGER},
      </if>
      <if test="reporter != null">
        #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        #{status,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="samenum != null">
        #{samenum,jdbcType=INTEGER},
      </if>
      <if test="tanktype != null">
        #{tanktype,jdbcType=VARCHAR},
      </if>
      <if test="tanklength != null">
        #{tanklength,jdbcType=DOUBLE},
      </if>
      <if test="tankdiameter != null">
        #{tankdiameter,jdbcType=DOUBLE},
      </if>
      <if test="workingvolumn != null">
        #{workingvolumn,jdbcType=DOUBLE},
      </if>
      <if test="frequency != null">
        #{frequency,jdbcType=DOUBLE},
      </if>
      <if test="capacity != null">
        #{capacity,jdbcType=DOUBLE},
      </if>
      <if test="maxheight != null">
        #{maxheight,jdbcType=DOUBLE},
      </if>
      <if test="averageheight != null">
        #{averageheight,jdbcType=DOUBLE},
      </if>
      <if test="innerstate != null">
        #{innerstate,jdbcType=VARCHAR},
      </if>
      <if test="tankcolor != null">
        #{tankcolor,jdbcType=VARCHAR},
      </if>
      <if test="paintstate != null">
        #{paintstate,jdbcType=VARCHAR},
      </if>
      <if test="uptanktopcolor != null">
        #{uptanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="uptanktoppaintstate != null">
        #{uptanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="uptanktoptype != null">
        #{uptanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="uptanktopheight != null">
        #{uptanktopheight,jdbcType=DOUBLE},
      </if>
      <if test="uproundradius != null">
        #{uproundradius,jdbcType=DOUBLE},
      </if>
      <if test="uptanktopgrade != null">
        #{uptanktopgrade,jdbcType=DOUBLE},
      </if>
      <if test="vacuumset != null">
        #{vacuumset,jdbcType=DOUBLE},
      </if>
      <if test="pressureset != null">
        #{pressureset,jdbcType=DOUBLE},
      </if>
      <if test="issetheat != null">
        #{issetheat,jdbcType=VARCHAR},
      </if>
      <if test="isunderground != null">
        #{isunderground,jdbcType=VARCHAR},
      </if>
      <if test="outtanktoptype != null">
        #{outtanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="outtanktopconfig != null">
        #{outtanktopconfig,jdbcType=VARCHAR},
      </if>
      <if test="tankstructure != null">
        #{tankstructure,jdbcType=VARCHAR},
      </if>
      <if test="intanktopcolor != null">
        #{intanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="intanktoppaintstate != null">
        #{intanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="inissupport != null">
        #{inissupport,jdbcType=VARCHAR},
      </if>
      <if test="insupportnum != null">
        #{insupportnum,jdbcType=INTEGER},
      </if>
      <if test="insupportradius != null">
        #{insupportradius,jdbcType=DOUBLE},
      </if>
      <if test="infloatconnect != null">
        #{infloatconnect,jdbcType=VARCHAR},
      </if>
      <if test="inweldtype != null">
        #{inweldtype,jdbcType=VARCHAR},
      </if>
      <if test="infloatpantype != null">
        #{infloatpantype,jdbcType=VARCHAR},
      </if>
      <if test="instructuretype != null">
        #{instructuretype,jdbcType=VARCHAR},
      </if>
      <if test="inconnectwidth != null">
        #{inconnectwidth,jdbcType=DOUBLE},
      </if>
      <if test="inplatesize != null">
        #{inplatesize,jdbcType=VARCHAR},
      </if>
      <if test="outinfirstseal != null">
        #{outinfirstseal,jdbcType=VARCHAR},
      </if>
      <if test="outinsecondseal != null">
        #{outinsecondseal,jdbcType=VARCHAR},
      </if>
      <if test="solutiontype != null">
        #{solutiontype,jdbcType=VARCHAR},
      </if>
      <if test="solutionname != null">
        #{solutionname,jdbcType=VARCHAR},
      </if>
      <if test="solutionversion != null">
        #{solutionversion,jdbcType=VARCHAR},
      </if>
      <if test="solutioncomposition != null">
        #{solutioncomposition,jdbcType=VARCHAR},
      </if>
      <if test="solutionfraction != null">
        #{solutionfraction,jdbcType=VARCHAR},
      </if>
      <if test="streampressure != null">
        #{streampressure,jdbcType=DOUBLE},
      </if>
      <if test="streamfraction != null">
        #{streamfraction,jdbcType=DOUBLE},
      </if>
      <if test="liquidfraction != null">
        #{liquidfraction,jdbcType=DOUBLE},
      </if>
      <if test="liquiddensity != null">
        #{liquiddensity,jdbcType=DOUBLE},
      </if>
      <if test="liquidmaxtem != null">
        #{liquidmaxtem,jdbcType=DOUBLE},
      </if>
      <if test="liquidmintem != null">
        #{liquidmintem,jdbcType=DOUBLE},
      </if>
      <if test="liquidavertem != null">
        #{liquidavertem,jdbcType=DOUBLE},
      </if>
      <if test="subjecttem != null">
        #{subjecttem,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.nankai.xining.bean.TankinfoformalExample" resultType="java.lang.Long">
    select count(*) from tankinfoformal
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update tankinfoformal
    <set>
      <if test="record.tankid != null">
        tankid = #{record.tankid,jdbcType=INTEGER},
      </if>
      <if test="record.tanksurveyid != null">
        tanksurveyid = #{record.tanksurveyid,jdbcType=INTEGER},
      </if>
      <if test="record.reporter != null">
        reporter = #{record.reporter,jdbcType=VARCHAR},
      </if>
      <if test="record.phone != null">
        phone = #{record.phone,jdbcType=VARCHAR},
      </if>
      <if test="record.reportdate != null">
        reportdate = #{record.reportdate,jdbcType=VARCHAR},
      </if>
      <if test="record.status != null">
        status = #{record.status,jdbcType=INTEGER},
      </if>
      <if test="record.factoryId != null">
        factory_id = #{record.factoryId,jdbcType=INTEGER},
      </if>
      <if test="record.samenum != null">
        samenum = #{record.samenum,jdbcType=INTEGER},
      </if>
      <if test="record.tanktype != null">
        tanktype = #{record.tanktype,jdbcType=VARCHAR},
      </if>
      <if test="record.tanklength != null">
        tanklength = #{record.tanklength,jdbcType=DOUBLE},
      </if>
      <if test="record.tankdiameter != null">
        tankdiameter = #{record.tankdiameter,jdbcType=DOUBLE},
      </if>
      <if test="record.workingvolumn != null">
        workingvolumn = #{record.workingvolumn,jdbcType=DOUBLE},
      </if>
      <if test="record.frequency != null">
        frequency = #{record.frequency,jdbcType=DOUBLE},
      </if>
      <if test="record.capacity != null">
        capacity = #{record.capacity,jdbcType=DOUBLE},
      </if>
      <if test="record.maxheight != null">
        maxheight = #{record.maxheight,jdbcType=DOUBLE},
      </if>
      <if test="record.averageheight != null">
        averageheight = #{record.averageheight,jdbcType=DOUBLE},
      </if>
      <if test="record.innerstate != null">
        innerstate = #{record.innerstate,jdbcType=VARCHAR},
      </if>
      <if test="record.tankcolor != null">
        tankcolor = #{record.tankcolor,jdbcType=VARCHAR},
      </if>
      <if test="record.paintstate != null">
        paintstate = #{record.paintstate,jdbcType=VARCHAR},
      </if>
      <if test="record.uptanktopcolor != null">
        uptanktopcolor = #{record.uptanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="record.uptanktoppaintstate != null">
        uptanktoppaintstate = #{record.uptanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="record.uptanktoptype != null">
        uptanktoptype = #{record.uptanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="record.uptanktopheight != null">
        uptanktopheight = #{record.uptanktopheight,jdbcType=DOUBLE},
      </if>
      <if test="record.uproundradius != null">
        uproundradius = #{record.uproundradius,jdbcType=DOUBLE},
      </if>
      <if test="record.uptanktopgrade != null">
        uptanktopgrade = #{record.uptanktopgrade,jdbcType=DOUBLE},
      </if>
      <if test="record.vacuumset != null">
        vacuumset = #{record.vacuumset,jdbcType=DOUBLE},
      </if>
      <if test="record.pressureset != null">
        pressureset = #{record.pressureset,jdbcType=DOUBLE},
      </if>
      <if test="record.issetheat != null">
        issetheat = #{record.issetheat,jdbcType=VARCHAR},
      </if>
      <if test="record.isunderground != null">
        isunderground = #{record.isunderground,jdbcType=VARCHAR},
      </if>
      <if test="record.outtanktoptype != null">
        outtanktoptype = #{record.outtanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="record.outtanktopconfig != null">
        outtanktopconfig = #{record.outtanktopconfig,jdbcType=VARCHAR},
      </if>
      <if test="record.tankstructure != null">
        tankstructure = #{record.tankstructure,jdbcType=VARCHAR},
      </if>
      <if test="record.intanktopcolor != null">
        intanktopcolor = #{record.intanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="record.intanktoppaintstate != null">
        intanktoppaintstate = #{record.intanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="record.inissupport != null">
        inissupport = #{record.inissupport,jdbcType=VARCHAR},
      </if>
      <if test="record.insupportnum != null">
        insupportnum = #{record.insupportnum,jdbcType=INTEGER},
      </if>
      <if test="record.insupportradius != null">
        insupportradius = #{record.insupportradius,jdbcType=DOUBLE},
      </if>
      <if test="record.infloatconnect != null">
        infloatconnect = #{record.infloatconnect,jdbcType=VARCHAR},
      </if>
      <if test="record.inweldtype != null">
        inweldtype = #{record.inweldtype,jdbcType=VARCHAR},
      </if>
      <if test="record.infloatpantype != null">
        infloatpantype = #{record.infloatpantype,jdbcType=VARCHAR},
      </if>
      <if test="record.instructuretype != null">
        instructuretype = #{record.instructuretype,jdbcType=VARCHAR},
      </if>
      <if test="record.inconnectwidth != null">
        inconnectwidth = #{record.inconnectwidth,jdbcType=DOUBLE},
      </if>
      <if test="record.inplatesize != null">
        inplatesize = #{record.inplatesize,jdbcType=VARCHAR},
      </if>
      <if test="record.outinfirstseal != null">
        outinfirstseal = #{record.outinfirstseal,jdbcType=VARCHAR},
      </if>
      <if test="record.outinsecondseal != null">
        outinsecondseal = #{record.outinsecondseal,jdbcType=VARCHAR},
      </if>
      <if test="record.solutiontype != null">
        solutiontype = #{record.solutiontype,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionname != null">
        solutionname = #{record.solutionname,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionversion != null">
        solutionversion = #{record.solutionversion,jdbcType=VARCHAR},
      </if>
      <if test="record.solutioncomposition != null">
        solutioncomposition = #{record.solutioncomposition,jdbcType=VARCHAR},
      </if>
      <if test="record.solutionfraction != null">
        solutionfraction = #{record.solutionfraction,jdbcType=VARCHAR},
      </if>
      <if test="record.streampressure != null">
        streampressure = #{record.streampressure,jdbcType=DOUBLE},
      </if>
      <if test="record.streamfraction != null">
        streamfraction = #{record.streamfraction,jdbcType=DOUBLE},
      </if>
      <if test="record.liquidfraction != null">
        liquidfraction = #{record.liquidfraction,jdbcType=DOUBLE},
      </if>
      <if test="record.liquiddensity != null">
        liquiddensity = #{record.liquiddensity,jdbcType=DOUBLE},
      </if>
      <if test="record.liquidmaxtem != null">
        liquidmaxtem = #{record.liquidmaxtem,jdbcType=DOUBLE},
      </if>
      <if test="record.liquidmintem != null">
        liquidmintem = #{record.liquidmintem,jdbcType=DOUBLE},
      </if>
      <if test="record.liquidavertem != null">
        liquidavertem = #{record.liquidavertem,jdbcType=DOUBLE},
      </if>
      <if test="record.subjecttem != null">
        subjecttem = #{record.subjecttem,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update tankinfoformal
    set tankid = #{record.tankid,jdbcType=INTEGER},
      tanksurveyid = #{record.tanksurveyid,jdbcType=INTEGER},
      reporter = #{record.reporter,jdbcType=VARCHAR},
      phone = #{record.phone,jdbcType=VARCHAR},
      reportdate = #{record.reportdate,jdbcType=VARCHAR},
      status = #{record.status,jdbcType=INTEGER},
      factory_id = #{record.factoryId,jdbcType=INTEGER},
      samenum = #{record.samenum,jdbcType=INTEGER},
      tanktype = #{record.tanktype,jdbcType=VARCHAR},
      tanklength = #{record.tanklength,jdbcType=DOUBLE},
      tankdiameter = #{record.tankdiameter,jdbcType=DOUBLE},
      workingvolumn = #{record.workingvolumn,jdbcType=DOUBLE},
      frequency = #{record.frequency,jdbcType=DOUBLE},
      capacity = #{record.capacity,jdbcType=DOUBLE},
      maxheight = #{record.maxheight,jdbcType=DOUBLE},
      averageheight = #{record.averageheight,jdbcType=DOUBLE},
      innerstate = #{record.innerstate,jdbcType=VARCHAR},
      tankcolor = #{record.tankcolor,jdbcType=VARCHAR},
      paintstate = #{record.paintstate,jdbcType=VARCHAR},
      uptanktopcolor = #{record.uptanktopcolor,jdbcType=VARCHAR},
      uptanktoppaintstate = #{record.uptanktoppaintstate,jdbcType=VARCHAR},
      uptanktoptype = #{record.uptanktoptype,jdbcType=VARCHAR},
      uptanktopheight = #{record.uptanktopheight,jdbcType=DOUBLE},
      uproundradius = #{record.uproundradius,jdbcType=DOUBLE},
      uptanktopgrade = #{record.uptanktopgrade,jdbcType=DOUBLE},
      vacuumset = #{record.vacuumset,jdbcType=DOUBLE},
      pressureset = #{record.pressureset,jdbcType=DOUBLE},
      issetheat = #{record.issetheat,jdbcType=VARCHAR},
      isunderground = #{record.isunderground,jdbcType=VARCHAR},
      outtanktoptype = #{record.outtanktoptype,jdbcType=VARCHAR},
      outtanktopconfig = #{record.outtanktopconfig,jdbcType=VARCHAR},
      tankstructure = #{record.tankstructure,jdbcType=VARCHAR},
      intanktopcolor = #{record.intanktopcolor,jdbcType=VARCHAR},
      intanktoppaintstate = #{record.intanktoppaintstate,jdbcType=VARCHAR},
      inissupport = #{record.inissupport,jdbcType=VARCHAR},
      insupportnum = #{record.insupportnum,jdbcType=INTEGER},
      insupportradius = #{record.insupportradius,jdbcType=DOUBLE},
      infloatconnect = #{record.infloatconnect,jdbcType=VARCHAR},
      inweldtype = #{record.inweldtype,jdbcType=VARCHAR},
      infloatpantype = #{record.infloatpantype,jdbcType=VARCHAR},
      instructuretype = #{record.instructuretype,jdbcType=VARCHAR},
      inconnectwidth = #{record.inconnectwidth,jdbcType=DOUBLE},
      inplatesize = #{record.inplatesize,jdbcType=VARCHAR},
      outinfirstseal = #{record.outinfirstseal,jdbcType=VARCHAR},
      outinsecondseal = #{record.outinsecondseal,jdbcType=VARCHAR},
      solutiontype = #{record.solutiontype,jdbcType=VARCHAR},
      solutionname = #{record.solutionname,jdbcType=VARCHAR},
      solutionversion = #{record.solutionversion,jdbcType=VARCHAR},
      solutioncomposition = #{record.solutioncomposition,jdbcType=VARCHAR},
      solutionfraction = #{record.solutionfraction,jdbcType=VARCHAR},
      streampressure = #{record.streampressure,jdbcType=DOUBLE},
      streamfraction = #{record.streamfraction,jdbcType=DOUBLE},
      liquidfraction = #{record.liquidfraction,jdbcType=DOUBLE},
      liquiddensity = #{record.liquiddensity,jdbcType=DOUBLE},
      liquidmaxtem = #{record.liquidmaxtem,jdbcType=DOUBLE},
      liquidmintem = #{record.liquidmintem,jdbcType=DOUBLE},
      liquidavertem = #{record.liquidavertem,jdbcType=DOUBLE},
      subjecttem = #{record.subjecttem,jdbcType=DOUBLE}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.nankai.xining.bean.Tankinfoformal">
    update tankinfoformal
    <set>
      <if test="tanksurveyid != null">
        tanksurveyid = #{tanksurveyid,jdbcType=INTEGER},
      </if>
      <if test="reporter != null">
        reporter = #{reporter,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        phone = #{phone,jdbcType=VARCHAR},
      </if>
      <if test="reportdate != null">
        reportdate = #{reportdate,jdbcType=VARCHAR},
      </if>
      <if test="status != null">
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="factoryId != null">
        factory_id = #{factoryId,jdbcType=INTEGER},
      </if>
      <if test="samenum != null">
        samenum = #{samenum,jdbcType=INTEGER},
      </if>
      <if test="tanktype != null">
        tanktype = #{tanktype,jdbcType=VARCHAR},
      </if>
      <if test="tanklength != null">
        tanklength = #{tanklength,jdbcType=DOUBLE},
      </if>
      <if test="tankdiameter != null">
        tankdiameter = #{tankdiameter,jdbcType=DOUBLE},
      </if>
      <if test="workingvolumn != null">
        workingvolumn = #{workingvolumn,jdbcType=DOUBLE},
      </if>
      <if test="frequency != null">
        frequency = #{frequency,jdbcType=DOUBLE},
      </if>
      <if test="capacity != null">
        capacity = #{capacity,jdbcType=DOUBLE},
      </if>
      <if test="maxheight != null">
        maxheight = #{maxheight,jdbcType=DOUBLE},
      </if>
      <if test="averageheight != null">
        averageheight = #{averageheight,jdbcType=DOUBLE},
      </if>
      <if test="innerstate != null">
        innerstate = #{innerstate,jdbcType=VARCHAR},
      </if>
      <if test="tankcolor != null">
        tankcolor = #{tankcolor,jdbcType=VARCHAR},
      </if>
      <if test="paintstate != null">
        paintstate = #{paintstate,jdbcType=VARCHAR},
      </if>
      <if test="uptanktopcolor != null">
        uptanktopcolor = #{uptanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="uptanktoppaintstate != null">
        uptanktoppaintstate = #{uptanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="uptanktoptype != null">
        uptanktoptype = #{uptanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="uptanktopheight != null">
        uptanktopheight = #{uptanktopheight,jdbcType=DOUBLE},
      </if>
      <if test="uproundradius != null">
        uproundradius = #{uproundradius,jdbcType=DOUBLE},
      </if>
      <if test="uptanktopgrade != null">
        uptanktopgrade = #{uptanktopgrade,jdbcType=DOUBLE},
      </if>
      <if test="vacuumset != null">
        vacuumset = #{vacuumset,jdbcType=DOUBLE},
      </if>
      <if test="pressureset != null">
        pressureset = #{pressureset,jdbcType=DOUBLE},
      </if>
      <if test="issetheat != null">
        issetheat = #{issetheat,jdbcType=VARCHAR},
      </if>
      <if test="isunderground != null">
        isunderground = #{isunderground,jdbcType=VARCHAR},
      </if>
      <if test="outtanktoptype != null">
        outtanktoptype = #{outtanktoptype,jdbcType=VARCHAR},
      </if>
      <if test="outtanktopconfig != null">
        outtanktopconfig = #{outtanktopconfig,jdbcType=VARCHAR},
      </if>
      <if test="tankstructure != null">
        tankstructure = #{tankstructure,jdbcType=VARCHAR},
      </if>
      <if test="intanktopcolor != null">
        intanktopcolor = #{intanktopcolor,jdbcType=VARCHAR},
      </if>
      <if test="intanktoppaintstate != null">
        intanktoppaintstate = #{intanktoppaintstate,jdbcType=VARCHAR},
      </if>
      <if test="inissupport != null">
        inissupport = #{inissupport,jdbcType=VARCHAR},
      </if>
      <if test="insupportnum != null">
        insupportnum = #{insupportnum,jdbcType=INTEGER},
      </if>
      <if test="insupportradius != null">
        insupportradius = #{insupportradius,jdbcType=DOUBLE},
      </if>
      <if test="infloatconnect != null">
        infloatconnect = #{infloatconnect,jdbcType=VARCHAR},
      </if>
      <if test="inweldtype != null">
        inweldtype = #{inweldtype,jdbcType=VARCHAR},
      </if>
      <if test="infloatpantype != null">
        infloatpantype = #{infloatpantype,jdbcType=VARCHAR},
      </if>
      <if test="instructuretype != null">
        instructuretype = #{instructuretype,jdbcType=VARCHAR},
      </if>
      <if test="inconnectwidth != null">
        inconnectwidth = #{inconnectwidth,jdbcType=DOUBLE},
      </if>
      <if test="inplatesize != null">
        inplatesize = #{inplatesize,jdbcType=VARCHAR},
      </if>
      <if test="outinfirstseal != null">
        outinfirstseal = #{outinfirstseal,jdbcType=VARCHAR},
      </if>
      <if test="outinsecondseal != null">
        outinsecondseal = #{outinsecondseal,jdbcType=VARCHAR},
      </if>
      <if test="solutiontype != null">
        solutiontype = #{solutiontype,jdbcType=VARCHAR},
      </if>
      <if test="solutionname != null">
        solutionname = #{solutionname,jdbcType=VARCHAR},
      </if>
      <if test="solutionversion != null">
        solutionversion = #{solutionversion,jdbcType=VARCHAR},
      </if>
      <if test="solutioncomposition != null">
        solutioncomposition = #{solutioncomposition,jdbcType=VARCHAR},
      </if>
      <if test="solutionfraction != null">
        solutionfraction = #{solutionfraction,jdbcType=VARCHAR},
      </if>
      <if test="streampressure != null">
        streampressure = #{streampressure,jdbcType=DOUBLE},
      </if>
      <if test="streamfraction != null">
        streamfraction = #{streamfraction,jdbcType=DOUBLE},
      </if>
      <if test="liquidfraction != null">
        liquidfraction = #{liquidfraction,jdbcType=DOUBLE},
      </if>
      <if test="liquiddensity != null">
        liquiddensity = #{liquiddensity,jdbcType=DOUBLE},
      </if>
      <if test="liquidmaxtem != null">
        liquidmaxtem = #{liquidmaxtem,jdbcType=DOUBLE},
      </if>
      <if test="liquidmintem != null">
        liquidmintem = #{liquidmintem,jdbcType=DOUBLE},
      </if>
      <if test="liquidavertem != null">
        liquidavertem = #{liquidavertem,jdbcType=DOUBLE},
      </if>
      <if test="subjecttem != null">
        subjecttem = #{subjecttem,jdbcType=DOUBLE},
      </if>
    </set>
    where tankid = #{tankid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.nankai.xining.bean.Tankinfoformal">
    update tankinfoformal
    set tanksurveyid = #{tanksurveyid,jdbcType=INTEGER},
      reporter = #{reporter,jdbcType=VARCHAR},
      phone = #{phone,jdbcType=VARCHAR},
      reportdate = #{reportdate,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      factory_id = #{factoryId,jdbcType=INTEGER},
      samenum = #{samenum,jdbcType=INTEGER},
      tanktype = #{tanktype,jdbcType=VARCHAR},
      tanklength = #{tanklength,jdbcType=DOUBLE},
      tankdiameter = #{tankdiameter,jdbcType=DOUBLE},
      workingvolumn = #{workingvolumn,jdbcType=DOUBLE},
      frequency = #{frequency,jdbcType=DOUBLE},
      capacity = #{capacity,jdbcType=DOUBLE},
      maxheight = #{maxheight,jdbcType=DOUBLE},
      averageheight = #{averageheight,jdbcType=DOUBLE},
      innerstate = #{innerstate,jdbcType=VARCHAR},
      tankcolor = #{tankcolor,jdbcType=VARCHAR},
      paintstate = #{paintstate,jdbcType=VARCHAR},
      uptanktopcolor = #{uptanktopcolor,jdbcType=VARCHAR},
      uptanktoppaintstate = #{uptanktoppaintstate,jdbcType=VARCHAR},
      uptanktoptype = #{uptanktoptype,jdbcType=VARCHAR},
      uptanktopheight = #{uptanktopheight,jdbcType=DOUBLE},
      uproundradius = #{uproundradius,jdbcType=DOUBLE},
      uptanktopgrade = #{uptanktopgrade,jdbcType=DOUBLE},
      vacuumset = #{vacuumset,jdbcType=DOUBLE},
      pressureset = #{pressureset,jdbcType=DOUBLE},
      issetheat = #{issetheat,jdbcType=VARCHAR},
      isunderground = #{isunderground,jdbcType=VARCHAR},
      outtanktoptype = #{outtanktoptype,jdbcType=VARCHAR},
      outtanktopconfig = #{outtanktopconfig,jdbcType=VARCHAR},
      tankstructure = #{tankstructure,jdbcType=VARCHAR},
      intanktopcolor = #{intanktopcolor,jdbcType=VARCHAR},
      intanktoppaintstate = #{intanktoppaintstate,jdbcType=VARCHAR},
      inissupport = #{inissupport,jdbcType=VARCHAR},
      insupportnum = #{insupportnum,jdbcType=INTEGER},
      insupportradius = #{insupportradius,jdbcType=DOUBLE},
      infloatconnect = #{infloatconnect,jdbcType=VARCHAR},
      inweldtype = #{inweldtype,jdbcType=VARCHAR},
      infloatpantype = #{infloatpantype,jdbcType=VARCHAR},
      instructuretype = #{instructuretype,jdbcType=VARCHAR},
      inconnectwidth = #{inconnectwidth,jdbcType=DOUBLE},
      inplatesize = #{inplatesize,jdbcType=VARCHAR},
      outinfirstseal = #{outinfirstseal,jdbcType=VARCHAR},
      outinsecondseal = #{outinsecondseal,jdbcType=VARCHAR},
      solutiontype = #{solutiontype,jdbcType=VARCHAR},
      solutionname = #{solutionname,jdbcType=VARCHAR},
      solutionversion = #{solutionversion,jdbcType=VARCHAR},
      solutioncomposition = #{solutioncomposition,jdbcType=VARCHAR},
      solutionfraction = #{solutionfraction,jdbcType=VARCHAR},
      streampressure = #{streampressure,jdbcType=DOUBLE},
      streamfraction = #{streamfraction,jdbcType=DOUBLE},
      liquidfraction = #{liquidfraction,jdbcType=DOUBLE},
      liquiddensity = #{liquiddensity,jdbcType=DOUBLE},
      liquidmaxtem = #{liquidmaxtem,jdbcType=DOUBLE},
      liquidmintem = #{liquidmintem,jdbcType=DOUBLE},
      liquidavertem = #{liquidavertem,jdbcType=DOUBLE},
      subjecttem = #{subjecttem,jdbcType=DOUBLE}
    where tankid = #{tankid,jdbcType=INTEGER}
  </update>
</mapper>