<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无组织车间</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">
    <link th:href="@{/themify-icons/themify-icons.min.css}" rel="stylesheet" >

    <link id="theme" href="/css/themes/type-b/theme-dark.min.css" rel="stylesheet">

    <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/validator/bootstrapValidator.min.css}" rel="stylesheet">

    <!--JAVASCRIPT libiaries-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/js/pace.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrap-select.min.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>
    <script  th:src="@{/plugins/validator/bootstrapValidator.js}"></script>
    <script  th:src="@{/plugins/validator/zh_CN.js}"></script>
    <script  th:src="@{/plugins/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/nifty.min.js}"></script>

    <!--JAVASCRIPT myself-->
    <!--=================================================-->
    <script th:src="@{/js/my/workshop.js}"></script>

    <!--STYLE CSS-->
    <!--=================================================-->
    <style type="text/css">
        label {
            color: black;
            font-size: 15px;
            font-family: Consolas;
        }
        .layui-form-pane .layui-form-label {
            width:190px;
        }
        input {
            color: black;
        }


    </style>

</head>

<!--<body class="container">


</body>-->

<body>
<div id="container" style="background-color: whitesmoke;">


    <!-- 内容大区块 -->
    <!-- =================================================================================== -->
    <div class="boxed" >

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div >
            <div id="page-title">
                <blockquote class="layui-elem-quote">
                    <span style="font-size: 15px;font-weight: lighter;color: darkgray;">生产辅助设施</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; "></i>
                    <span class="active">工厂车间信息</span>
                </blockquote>
            </div>
            <hr>



            <!--注意啦！开始啦！-->
            <!--主要内容写在这里-->
            <!--===================================================-->
            <div class="page-content " style="margin-left: 60px;padding-bottom: 100px;" th:object="${session.factoryInfo}">

                <div id="exfDom">

                    <div class="layui-card" style="margin-right: 60px;">
                        <div class="layui-card-header layui-bg-green" style="height: 55px;padding-top: 5px;">
                            <div style="float:left;">
                                <button id="addBtn" type="button" class="layui-btn layui-btn-radius">
                                    <i class="layui-icon" style="font-size: 26px; font-weight: bolder;">&#xe608;</i> 添加无组织车间
                                </button>
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <div style="height: 200px;">

                                <!--无组织车间信息放到modelandview中，在页面映射时完成-->
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th>经度</th>
                                        <th>纬度</th>
                                        <th>生产用途</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="workshop : ${workshopList}">
                                        <th><i class="layui-icon layui-icon-tips" ></i></th>
                                        <td th:text="${workshop.longitude}">neo</td>
                                        <td th:text="${workshop.latitude}">neo</td>
                                        <td th:text="${workshop.productionUse}">neo</td>
                                        <td><button th:value="${workshop.wsid}" @click="editworkshop($event)" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</button>
                                            <button th:value="${workshop.wsid}" @click="delworkshop($event)" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i>删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pageUtil" style="height: 60px;">
                                <input id="workshopCount" hidden="hidden" th:value="${workshopCount}"></input>
                                <script>
                                    var count = document.getElementById("workshopCount").value;
                                    var page = getQueryVariable("page");
                                    layui.use(['laypage', 'layer'], function(){
                                        var laypage = layui.laypage
                                            ,layer = layui.layer;
                                        //完整功能
                                        laypage.render({
                                            elem: 'pageUtil'
                                            ,count: count
                                            ,first: '首页'
                                            ,last: '尾页'
                                            ,limit: 3
                                            ,curr: page
                                            ,layout: ['count', 'prev', 'page', 'next']
                                            ,jump: function(obj,first){
                                                if(!first){
                                                    window.location.href="/Client/auxiliaryWorkshop?page="+obj.curr;
                                                }
                                            }
                                        });
                                    });
                                    function getQueryVariable(variable)
                                    {
                                        var query = window.location.search.substring(1);
                                        var vars = query.split("&");
                                        for (var i=0;i<vars.length;i++) {
                                            var pair = vars[i].split("=");
                                            if(pair[0] == variable){return pair[1];}
                                        }
                                        return(false);
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                    <!--=======================修改无组织车间Panel，默认隐藏=================================-->
                    <div id="updatePanel" hidden="hidden" >
                        <div class="panel-body">
                            <p>在这里修改无组织车间信息后点击确认按钮提交修改...</p>

                            <div class="layui-form layui-form-pane">
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                车间编号
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateworkshopid" name="updateworkshopid" v-model="workshop.workshopid" class="layui-input"   />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                经度
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatelongitude" name="updatelongitude" v-model="workshop.longitude" class="layui-input" placeholder="89.5833~103.0667"  />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                纬度
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatelatitude" name="updatelatitude" v-model="workshop.latitude" class="layui-input"  placeholder="31.1500~39.3167" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                生产用途
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateproductionUse" name="updateproductionUse" v-model="workshop.productionUse" class="layui-input"  />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                车间面积(m^2)
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateworkshopArea" name="updateworkshopArea" v-model="workshop.workshopArea" class="layui-input"   />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="updateworkshop"  class="btn btn-info btn-lg">确认修改车间信息</button>
                            </div><br>

                            <!--End page-content-->

                        </div>
                    </div>

                    <!--==============增加无组织车间Panel=====================================================-->
                    <div id="addPanel" hidden="hidden"  >
                        <div class="panel-body">
                            <p>在这里添加无组织车间...</p><br>

                            <div class="layui-form layui-form-pane">
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                车间编号
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="workshopid" name="workshopid" class="layui-input"   />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6"></div>
                                </div>
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                经度
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="longitude" name="longitude" class="layui-input" placeholder="89.5833~103.0667"  />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                纬度
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="latitude" name="latitude" class="layui-input"  placeholder="31.1500~39.3167" />
                                            </div>
                                        </div>

                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                生产用途
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="productionUse" name="productionUse" class="layui-input"  />
                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                车间面积(m^2)
                                                <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="workshopArea" name="workshopArea" class="layui-input"   />
                                            </div>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="addworkshop" onclick="updatedata();" class="btn btn-primary btn-lg">确认添加</button>
                            </div><br>

                            <!--End page-content-->

                        </div>

                        <!--End panel-body-->


                    </div>

                    <!--End addPanel-->

                </div>

            </div>
            <!--===================================================-->
            <!--结束！  主要内容-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


    </div>

    <!-- =================================================================================== -->

    <!-- 底部 -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            智能信息系统研究室
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2019 南开大学</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- 到最上面按钮 -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<!--===============================================================-->
<!--向js中提供session中的参数-->
<!--<div th:object="${session.factoryInfo}">
</div>-->


</body>



</html>