<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>道路扬尘源</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">
    <link th:href="@{/themify-icons/themify-icons.min.css}" rel="stylesheet" >

    <link id="theme" href="/css/themes/type-b/theme-dark.min.css" rel="stylesheet">

    <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/validator/bootstrapValidator.min.css}" rel="stylesheet">

    <!--JAVASCRIPT libiaries-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/js/pace.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrap-select.min.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>
    <script  th:src="@{/plugins/validator/bootstrapValidator.js}"></script>
    <script  th:src="@{/plugins/validator/zh_CN.js}"></script>
    <script  th:src="@{/plugins/bootbox.js}"></script>

    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/nifty.min.js}"></script>

    <!--JAVASCRIPT myself-->
    <!--=================================================-->
    <script th:src="@{/js/my/roaddust.js}"></script>

    <!--STYLE CSS-->
    <!--=================================================-->
    <style type="text/css">
        label {
            color: black;
            font-size: 15px;
            font-family: Consolas;
        }
        .layui-form-pane .layui-form-label {
            width:190px;
        }
        input {
            color: black;
        }

    </style>
</head>

<!--<body class="container">


</body>-->

<body>

<div id="container" style="background-color: whitesmoke;">

    <!-- 内容大区块 -->
    <!-- =================================================================================== -->
    <div class="boxed" >

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div >
            <div id="page-title">
                <blockquote class="layui-elem-quote">
                    <span style="font-size: 15px;font-weight: lighter;color: darkgray;">生产辅助设施</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; "></i>
                    <span class="active">工厂道路信息</span>
                </blockquote>
            </div>
            <hr>



            <!--注意啦！开始啦！-->
            <!--主要内容写在这里-->
            <!--===================================================-->
            <div class="page-content " style="margin-left: 60px;padding-bottom: 100px;" th:object="${session.factoryInfo}">

                <div id="exfDom">

                    <div class="layui-card" style="margin-right: 60px;">
                        <div class="layui-card-header layui-bg-green" style="height: 55px;padding-top: 5px;">
                            <div style="float:left;">
                                <button id="addBtn" type="button" class="layui-btn layui-btn-radius">
                                    <i class="layui-icon" style="font-size: 26px; font-weight: bolder;">&#xe608;</i> 添加道路扬尘源
                                </button>
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <div style="height: 200px;">

                                <!--道路扬尘源信息放到modelandview中，在页面映射时完成-->
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th>道路长度</th>
                                        <th>平均车重</th>
                                        <th>平均车速</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="roaddust : ${roaddustList}">
                                        <td><i class="layui-icon layui-icon-tips" ></i></td>
                                        <td th:text="${roaddust.pathLength}">neo</td>
                                        <td th:text="${roaddust.averWeight}">neo</td>
                                        <td th:text="${roaddust.averSpeed}">Otto</td>
                                        <td><button th:value="${roaddust.roadDustid}" @click="editroadDust($event)" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</button>
                                            <button th:value="${roaddust.roadDustid}" @click="delroadDust($event)" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i>删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pageUtil" style="height: 60px;">
                                <input id="roaddustCount" hidden="hidden" th:value="${roaddustCount}"></input>
                                <script>
                                    var count = document.getElementById("roaddustCount").value;
                                    var page = getQueryVariable("page");
                                    layui.use(['laypage', 'layer'], function(){
                                        var laypage = layui.laypage
                                            ,layer = layui.layer;
                                        //完整功能
                                        laypage.render({
                                            elem: 'pageUtil'
                                            ,count: count
                                            ,first: '首页'
                                            ,last: '尾页'
                                            ,limit: 3
                                            ,curr: page
                                            ,layout: ['count', 'prev', 'page', 'next']
                                            ,jump: function(obj,first){
                                                if(!first){
                                                    window.location.href="/Client/auxiliaryroaddust?page="+obj.curr;
                                                }
                                            }
                                        });
                                    });
                                    function getQueryVariable(variable)
                                    {
                                        var query = window.location.search.substring(1);
                                        var vars = query.split("&");
                                        for (var i=0;i<vars.length;i++) {
                                            var pair = vars[i].split("=");
                                            if(pair[0] == variable){return pair[1];}
                                        }
                                        return(false);
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <hr>
                    
                    <!--=======================修改道路扬尘源Panel，默认隐藏=================================-->
                    <div id="updatePanel" hidden="hidden" >
                        <div class="panel-body">
                            <p>在这里修改道路扬尘源信息后点击确认按钮提交修改（带*号为必填项）...</p>

                            <div class="layui-form layui-form-pane">

                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                单位名称
                                            </label>
                                            <div class="layui-input-inline">
                                                <label id="updatecompanyName" th:text="*{factoryName}" style="margin-left: 10px;font-weight: bolder;"></label>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                是否喷洒抑尘剂<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <select name="updatedustSuppression" id="updatedustSuppression"
                                                        class="layui-input"  v-model="roaddust.dustSuppression" >
                                                    <option value="1">是</option>
                                                    <option value="0">否</option>

                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                道路长度(km)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatepathLength" name="updatepathLength"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.pathLength" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                道路平均宽度(m)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateaverWidth" name="updateaverWidth" onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.averWidth" />
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12 layui-form-item" >


                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                平均车重(吨) <span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateaverWeight" name="updateaverWeight"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.averWeight" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                日均车流量(辆/日)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatecarFlow" name="updatecarFlow"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.carFlow" />
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                平均车速(km/h)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateaverSpeed" name="updateaverSpeed"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.averSpeed" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                吸尘清扫次数(安装真空装置)次数/天<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateclearTimeInstall" name="updateclearTimeInstall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.clearTimeInstall" />
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                吸尘清扫次数(未安装真空装置)次数/天<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updateclearTimeUninstall" name="updateclearTimeUninstall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.clearTimeUninstall" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                春季湿扫 (次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatesweepSpring" name="updatesweepSpring"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.sweepSpring" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                夏季湿扫(次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatesweepSummer" name="updatesweepSummer" onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.sweepSummer" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                秋季湿扫(次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatesweepFall" name="updatesweepFall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.sweepFall" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                春季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatewaterTimesSpring" name="updatewaterTimesSpring"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.waterTimesSpring" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                夏季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatewaterTimesSummer" name="updatewaterTimesSummer"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.waterTimesSummer" />
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                秋季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatewaterTimesFall" name="updatewaterTimesFall"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"
                                                       v-model="roaddust.waterTimesFall" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                是否铺装<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <select name="updateispave" id="updateispave"
                                                        class="layui-input"  v-model="roaddust.ispave"  >
                                                    <option value="1"> 是</option>
                                                    <option  value="11">否</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="updateroadDust"  class="btn btn-info btn-lg">确认修改道路扬尘源信息</button>
                            </div><br>

                            <!--End page-content-->

                        </div>
                    </div>

                    <!--==============增加道路扬尘源Panel=====================================================-->
                    <div id="addPanel" hidden="hidden" >
                        <div class="panel-body">
                            <p>在这里添加道路扬尘源（带*号为必填项）...</p><br>

                            <div class="layui-form layui-form-pane">

                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                单位名称
                                            </label>
                                            <div class="layui-input-inline">
                                                <label id="companyName" th:text="*{factoryName}" style="margin-left: 10px;font-weight: bolder;"></label>
                                            </div>


                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                是否喷洒抑尘剂<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <select name="dustSuppression" id="dustSuppression"
                                                        class="layui-input"   >
                                                    <option value="1" selected="selected">是</option>
                                                    <option value="0">否</option>

                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                道路长度(km)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="pathLength" name="pathLength"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                道路平均宽度(m)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="averWidth" name="averWidth" onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12 layui-form-item" >


                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                平均车重(吨) <span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="averWeight" name="averWeight"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                日均车流量(辆/日)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="carFlow" name="carFlow"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                平均车速(km/h)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="averSpeed" name="averSpeed"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                吸尘清扫次数(安装真空装置)次数/天<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="clearTimeInstall" name="clearTimeInstall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>

                                    </div>

                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                吸尘清扫次数(未安装真空装置)次数/天<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="clearTimeUninstall" name="clearTimeUninstall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                春季湿扫 (次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="sweepSpring" name="sweepSpring"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                夏季湿扫(次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="sweepSummer" name="sweepSummer" onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                秋季湿扫(次数/天)<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="sweepFall" name="sweepFall"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                春季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="waterTimesSpring" name="waterTimesSpring"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                夏季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="waterTimesSummer" name="waterTimesSummer"  onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>


                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                秋季每日洒水次数<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="waterTimesFall" name="waterTimesFall"   onkeyup="if(isNaN(value))execCommand('undo')"
                                                       class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                是否铺装<span style="font-size: 18px;color:red; ">*</span>
                                            </label>

                                            <div class="layui-input-inline">
                                                <select name="ispave" id="ispave"
                                                        class="layui-input"    >
                                                    <option value="1" selected="selected"> 是</option>
                                                    <option  value="11">否</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="addroadDust" onclick="updatedata();" class="btn btn-primary btn-lg">确认添加</button>
                            </div><br>

                            <!--End page-content-->

                        </div>

                        <!--End panel-body-->


                    </div>

                    <!--End addPanel-->

                </div>

            </div>
            <!--===================================================-->
            <!--结束！  主要内容-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->


    </div>

    <!-- =================================================================================== -->

    <!-- 底部 -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            智能信息系统研究室
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2019 南开大学</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- 到最上面按钮 -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<!--===============================================================-->
<!--向js中提供session中的参数-->
<!--<div th:object="${session.factoryInfo}">
</div>-->
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer;


    });
</script>

</body>



</html>