<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>堆场扬尘源</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">
    <link th:href="@{/themify-icons/themify-icons.min.css}" rel="stylesheet" >

    <link id="theme" href="/css/themes/type-b/theme-dark.min.css" rel="stylesheet">

    <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/validator/bootstrapValidator.min.css}" rel="stylesheet">

    <!--JAVASCRIPT libiaries-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/js/pace.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrap-select.min.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>
    <script  th:src="@{/plugins/validator/bootstrapValidator.js}"></script>
    <script  th:src="@{/plugins/validator/zh_CN.js}"></script>
    <script  th:src="@{/plugins/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/nifty.min.js}"></script>

    <link th:href="@{/css/bootstrap-datetimepicker.min.css}" rel="stylesheet">
    <script  th:src="@{/js/bootstrap-datetimepicker.min.js}"></script>
    <script  th:src="@{/js/bootstrap-datetimepicker.zh-CN.js}"></script>
    <!--JAVASCRIPT myself-->
    <!--=================================================-->
    <script th:src="@{/js/my/yarddust.js}"></script>

    <!--STYLE CSS-->
    <!--=================================================-->
    <style type="text/css">
        label {
            color: black;
            font-size: 15px;
            font-family: Consolas;
        }
        .layui-form-pane .layui-form-label {
            width:190px;
        }
        input {
            color: black;
        }

    </style>

</head>

<!--<body class="container">


</body>-->

<body>
<div id="container" style="background-color: whitesmoke;">

    <!-- 内容大区块 -->
    <!-- =================================================================================== -->
    <div class="boxed" >

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div>
            <div id="page-title">
                <blockquote class="layui-elem-quote">
                    <span style="font-size: 15px;font-weight: lighter;color: darkgray;">生产辅助设施</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; "></i>
                    <span class="active">工厂堆场信息</span>
                </blockquote>
            </div>
            <hr>
            <!--注意啦！开始啦！-->
            <!--主要内容写在这里-->
            <!--===================================================-->
            <div class="page-content " style="margin-left: 60px;padding-bottom: 100px;" th:object="${session.factoryInfo}">

                <div id="exfDom">

                    <div class="layui-card" style="margin-right: 60px;">
                        <div class="layui-card-header layui-bg-green" style="height: 55px;padding-top: 5px;">
                            <div style="float:left;">
                                <button id="addBtn" type="button" class="layui-btn layui-btn-radius">
                                    <i class="layui-icon" style="font-size: 26px; font-weight: bolder;">&#xe608;</i> 添加堆场扬尘源
                                </button>
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <div style="height: 200px;">

                                <!--堆场扬尘源信息放到modelandview中，在页面映射时完成-->
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th>物料种类</th>
                                        <th>装载量</th>
                                        <th>装载次数</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="yarddust : ${yarddustList}">
                                        <th><i class="layui-icon layui-icon-tips" ></i></th>
                                        <td th:text="${yarddust.materialType}">neo</td>
                                        <td th:text="${yarddust.materialCapacity}">neo</td>
                                        <td th:text="${yarddust.loadingCount}">Otto</td>
                                        <td><button th:value="${yarddust.windDustid}" @click="edityardDust($event)" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</button>
                                            <button th:value="${yarddust.windDustid}" @click="delyardDust($event)" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i>删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pageUtil" style="height: 60px;">
                                <input id="yarddustCount" hidden="hidden" th:value="${yarddustCount}"></input>
                                <script>
                                    var count = document.getElementById("yarddustCount").value;
                                    var page = getQueryVariable("page");
                                    layui.use(['laypage', 'layer'], function(){
                                        var laypage = layui.laypage
                                            ,layer = layui.layer;
                                        //完整功能
                                        laypage.render({
                                            elem: 'pageUtil'
                                            ,count: count
                                            ,first: '首页'
                                            ,last: '尾页'
                                            ,limit: 3
                                            ,curr: page
                                            ,layout: ['count', 'prev', 'page', 'next']
                                            ,jump: function(obj,first){
                                                if(!first){
                                                    window.location.href="/Client/auxiliaryconstructiondust?page="+obj.curr;
                                                }
                                            }
                                        });
                                    });
                                    function getQueryVariable(variable)
                                    {
                                        var query = window.location.search.substring(1);
                                        var vars = query.split("&");
                                        for (var i=0;i<vars.length;i++) {
                                            var pair = vars[i].split("=");
                                            if(pair[0] == variable){return pair[1];}
                                        }
                                        return(false);
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <hr>
                    <!--=======================修改堆场扬尘源Panel，默认隐藏=================================-->
                    <div id="updatePanel" hidden="hidden" >
                        <div class="panel-body">
                            <p>在这里修改堆场扬尘源信息后点击确认按钮提交修改...</p>

                            <div class="layui-form layui-form-pane">

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                物料种类:<a style="color: red">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <select name="updatendmaterialType" id="updatendmaterialType" class="layui-input" v-model="yarddust.materialType" >
                                                    <option value="">请选择</option>
                                                    <option value="焦炭">焦炭</option>
                                                    <option value="块矿">块矿</option>
                                                    <option value="矿渣">矿渣</option>
                                                    <option value="炉渣">炉渣</option>
                                                    <option value="煤灰">煤灰</option>
                                                    <option value="灰渣">灰渣</option>
                                                    <option value="煤炭">煤炭</option>
                                                    <option value="球团矿">球团矿</option>
                                                    <option value="沙石">沙石</option>
                                                    <option value="砂石">砂石</option>
                                                    <option value="石灰石">石灰石</option>
                                                    <option value="水泥熟料">水泥熟料</option>
                                                    <option value="粘土">粘土</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                物料含水率(%):<a style="color: red">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatendmoistureMateria" name="updatendmoistureMateria" v-model="yarddust.moistureMateria" onblur="checkhs(this.id)"
                                                       onkeyup="checkNum(this);" class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                年物料装卸量(t):<a style="color: red">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.materialCapacity" id="updatendmaterialCapacity" name="updatendmaterialCapacity" onblur="checkwl(this.id)"
                                                       onkeyup="checkNum(this);" class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                每日装卸次数:<a style="color: red">*</a></label>

                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.loadingCount" id="updatendloadingCount" name="updatendloadingCount"
                                                       onkeyup="checkNum(this);" class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                每次装卸量(t):<a style="color: red">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.loadingCapacity" id="updatendloadingCapacity" name="updatendloadingCapacity" class="layui-input"/>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                            > 料堆占地面积(m<sup>2</sup>):<a style="color: red">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.heapCovered" id="updatendheapCovered" name="updatendheapCovered" onkeyup="checkNum(this);"
                                                       class="layui-input"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >

                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                            > 料堆表面积(m<sup>2</sup>):<a style="color: red">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.heapArea" id="updatendheapArea" name="updatendheapArea"
                                                       onkeyup="checkNum(this);" class="layui-input"
                                                />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6" >
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                            > 料堆高度(m):<a style="color: red">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" v-model="yarddust.heapHeigh" id="updatendheapHeigh" name="updatendheapHeigh" onkeyup="checkNum(this);"
                                                       class="layui-input" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-12" >
                                        <div class="form-group" >
                                            <label class="col-md-5">
                                                装卸控制措施:<a style="color: red">*</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-12" >
                                        <div class="form-group" >

                                            <div class="col-md-12" >
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox" value="A" lay-ignore />封闭</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="B" lay-ignore />密封</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="C" lay-ignore />抑尘墙</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="D" lay-ignore />抑尘网</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="E" lay-ignore />防风网</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="F" lay-ignore />洒水</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="G" lay-ignore />喷淋</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="H" lay-ignore />喷水</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="I" lay-ignore />半封闭</label>
                                                <label><input name="updateyarddust" v-model="updateyarddust" type="checkbox"value="J" lay-ignore />无</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-12" >
                                        <div class="form-group">
                                            <label class="col-md-5"
                                            >
                                                风蚀控制措施:
                                                <a style="color: red">*</a>
                                            </label>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-12" >
                                        <div class="form-group">

                                            <div class="col-md-12" >
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="A" lay-ignore />封闭</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="B" lay-ignore />密闭</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="C" lay-ignore />洒水</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="D" lay-ignore />喷淋</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="E" lay-ignore />喷水</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="F" lay-ignore />化学覆盖剂</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="G" lay-ignore />编织布覆盖</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="H" lay-ignore />半封闭</label>
                                                <label><input name="updatewinddust" v-model="updatewinddust" type="checkbox" value="I" lay-ignore />无</label>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group" >
                                            <label class="col-md-5 layui-form-label"> 日装卸开始时间:</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="updatendloadingStart" name="updatendloadingStart" v-model="yarddust.loadingStart"
                                                       class="layui-input" readonly="readonly" placeholder="HH:mm:ss"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item" >
                                    <div class="col-md-6" >
                                        <div class="form-group" >
                                            <label class="col-md-5 layui-form-label"> 日装卸结束时间:</label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="updatendloadingTime" name="updatendloadingTime" v-model="yarddust.loadingTime"
                                                       class="layui-input" readonly="readonly" placeholder="HH:mm:ss"/>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="updateyardDust"  class="btn btn-info btn-lg">确认修改堆场扬尘源信息</button>
                            </div><br>

                            <!--End page-content-->

                        </div>
                    </div>

                    <!--==============增加堆场扬尘源Panel=====================================================-->
                    <div id="addPanel" hidden="hidden"  >
                        <div class="panel-body">
                            <p>在这里添加堆场扬尘源...</p><br>

                            <div class="layui-form layui-form-pane">

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label">
                                            物料种类:<a style="color: red">*</a>
                                        </label>
                                        <div class="layui-input-inline">
                                            <select name="ndmaterialType" id="ndmaterialType" class="layui-input"  >
                                                <option value="">请选择</option>
                                                <option value="焦炭">焦炭</option>
                                                <option value="块矿">块矿</option>
                                                <option value="矿渣">矿渣</option>
                                                <option value="炉渣">炉渣</option>
                                                <option value="煤灰">煤灰</option>
                                                <option value="灰渣">灰渣</option>
                                                <option value="煤炭">煤炭</option>
                                                <option value="球团矿">球团矿</option>
                                                <option value="沙石">沙石</option>
                                                <option value="砂石">砂石</option>
                                                <option value="石灰石">石灰石</option>
                                                <option value="水泥熟料">水泥熟料</option>
                                                <option value="粘土">粘土</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label">
                                            物料含水率(%):<a style="color: red">*</a>
                                        </label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndmoistureMateria" name="ndmoistureMateria" onblur="checkhs(this.id)"
                                                   onkeyup="checkNum(this);" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label">
                                            年物料装卸量(t):<a style="color: red">*</a>
                                        </label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndmaterialCapacity" name="ndmaterialCapacity" onblur="checkwl(this.id)"
                                                   onkeyup="checkNum(this);" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label">
                                            每日装卸次数:<a style="color: red">*</a></label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndloadingCount" name="ndloadingCount"
                                                   onkeyup="checkNum(this);" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label">
                                            每次装卸量(t):<a style="color: red">*</a>
                                        </label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="ndloadingCapacity" name="ndloadingCapacity" class="layui-input"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label"
                                               > 料堆占地面积(m<sup>2</sup>):<a style="color: red">*</a>
                                        </label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndheapCovered" name="ndheapCovered" onkeyup="checkNum(this);"
                                                   class="layui-input"
                                            />
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >

                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label"
                                               > 料堆表面积(m<sup>2</sup>):<a style="color: red">*</a>
                                        </label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndheapArea" name="ndheapArea"
                                                   onkeyup="checkNum(this);" class="layui-input"
                                                    />
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6" >
                                    <div class="form-group">
                                        <label class="col-md-5 layui-form-label"
                                               > 料堆高度(m):<a style="color: red">*</a>
                                        </label>

                                        <div class="layui-input-inline">
                                            <input type="text" id="ndheapHeigh" name="ndheapHeigh" onkeyup="checkNum(this);"
                                                   class="layui-input" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-12" >
                                    <div class="form-group" >
                                        <label class="col-md-5">
                                            装卸控制措施:<a style="color: red">*</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-12" >
                                    <div class="form-group" >

                                        <div class="col-md-12" >
                                            <label><input name="yarddust" type="checkbox" value="A" lay-ignore />封闭</label>
                                            <label><input name="yarddust" type="checkbox"value="B" lay-ignore />密封</label>
                                            <label><input name="yarddust" type="checkbox"value="C" lay-ignore />抑尘墙</label>
                                            <label><input name="yarddust" type="checkbox"value="D" lay-ignore />抑尘网</label>
                                            <label><input name="yarddust" type="checkbox"value="E" lay-ignore />防风网</label>
                                            <label><input name="yarddust" type="checkbox"value="F" lay-ignore />洒水</label>
                                            <label><input name="yarddust" type="checkbox"value="G" lay-ignore />喷淋</label>
                                            <label><input name="yarddust" type="checkbox"value="H" lay-ignore />喷水</label>
                                            <label><input name="yarddust" type="checkbox"value="I" lay-ignore />半封闭</label>
                                            <label><input name="yarddust" type="checkbox"value="J" lay-ignore />无</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-12" >
                                    <div class="form-group">
                                        <label class="col-md-5"
                                                >
                                            风蚀控制措施:
                                            <a style="color: red">*</a>
                                        </label>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-12" >
                                    <div class="form-group">

                                        <div class="col-md-12" >
                                            <label><input name="winddust" type="checkbox" value="A" lay-ignore />封闭</label>
                                            <label><input name="winddust" type="checkbox" value="B" lay-ignore />密闭</label>
                                            <label><input name="winddust" type="checkbox" value="C" lay-ignore />洒水</label>
                                            <label><input name="winddust" type="checkbox" value="D" lay-ignore />喷淋</label>
                                            <label><input name="winddust" type="checkbox" value="E" lay-ignore />喷水</label>
                                            <label><input name="winddust" type="checkbox" value="F" lay-ignore />化学覆盖剂</label>
                                            <label><input name="winddust" type="checkbox" value="G" lay-ignore />编织布覆盖</label>
                                            <label><input name="winddust" type="checkbox" value="H" lay-ignore />半封闭</label>
                                            <label><input name="winddust" type="checkbox" value="I" lay-ignore />无</label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-6" >
                                    <div class="form-group" >
                                        <label class="col-md-5 layui-form-label"> 日装卸开始时间:</label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="ndloadingStart" name="ndloadingStart"
                                                   class="layui-input" readonly="readonly" placeholder="HH:mm:ss"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div class="col-xs-12 layui-form-item" >
                                <div class="col-md-6" >
                                    <div class="form-group" >
                                        <label class="col-md-5 layui-form-label"> 日装卸结束时间:</label>
                                        <div class="layui-input-inline">
                                            <input type="text" id="ndloadingTime" name="ndloadingTime"
                                                   class="layui-input" readonly="readonly" placeholder="HH:mm:ss"/>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            </div>
                            <div style="margin: 0 auto; text-align: center;margin-top: 50px;">
                                <button id="addyardDust" onclick="updatedata();" class="btn btn-primary btn-lg">确认添加</button>
                            </div><br>

                            <!--End page-content-->

                        </div>

                        <!--End panel-body-->


                    </div>

                    <!--End addPanel-->

                </div>

            </div>
            <!--===================================================-->
            <!--结束！  主要内容-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->

    </div>

    <!-- =================================================================================== -->

    <!-- 底部 -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            智能信息系统研究室
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2019 南开大学</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- 到最上面按钮 -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<!--===============================================================-->
<!--向js中提供session中的参数-->
<!--<div th:object="${session.factoryInfo}">
</div>-->
<script>
    layui.use(['form', 'layer','laydate'], function () {
        var form = layui.form
            , layer = layui.layer;
        var laydate = layui.laydate;

        //常规用法
        laydate.render({
            elem: '#ndloadingStart'
            ,type: 'time'
        });
        laydate.render({
            elem: '#ndloadingTime'
            ,type: 'time'
        });
        laydate.render({
            elem: '#updatendloadingStart'
            ,type: 'time'
        });
        laydate.render({
            elem: '#updatendloadingTime'
            ,type: 'time'
        });




    });
</script>

</body>



</html>