<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工艺过程-设备装置</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">
    <link th:href="@{/themify-icons/themify-icons.min.css}" rel="stylesheet" >

    <link id="theme" href="/css/themes/type-b/theme-dark.min.css" rel="stylesheet">

    <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/validator/bootstrapValidator.min.css}" rel="stylesheet">

    <!--JAVASCRIPT libiaries-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/js/pace.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrap-select.min.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>
    <script  th:src="@{/plugins/validator/bootstrapValidator.js}"></script>
    <script  th:src="@{/plugins/validator/zh_CN.js}"></script>
    <script  th:src="@{/plugins/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/nifty.min.js}"></script>

    <!--JAVASCRIPT myself-->
    <!--=================================================-->
    <script th:src="@{/js/my/device.js}"></script>

    <!--STYLE CSS-->
    <!--=================================================-->
    <style type="text/css">
        label {
            color: black;
            font-size: 15px;
            font-family: Consolas;
        }
        .layui-form-pane .layui-form-label {
            width:190px;
        }
        input {
            color: black;
        }


    </style>
</head>

<!--<body class="container">


</body>-->

<body>
<div id="container" style="background-color: whitesmoke;">


    <!-- 内容大区块 -->
    <!-- =================================================================================== -->
    <div class="boxed" >

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div>

            <div id="page-title">
                <blockquote class="layui-elem-quote">
                    <span style="font-size: 15px;font-weight: lighter;color: darkgray;">设备生产原料及产品</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; "></i>
                    <span class="active">生产工艺装置</span>
                </blockquote>
            </div>

            <hr>



            <!--注意啦！开始啦！-->
            <!--主要内容写在这里-->
            <!--===================================================-->
            <div class="page-content " style="margin-left: 60px;padding-bottom: 100px;" th:object="${session.factoryInfo}">

                <div id="exfDom">
                    <div class="layui-card" style="margin-right: 60px;">
                        <div class="layui-card-header layui-bg-green" style="height: 55px;padding-top: 5px;">
                            <div style="float:left;">
                                <button id="addBtn" type="button" class="layui-btn layui-btn-radius">
                                    <i class="layui-icon" style="font-size: 26px; font-weight: bolder;">&#xe608;</i> 添加设备
                                </button>
                            </div>
                        </div>

                        <div class="layui-card-body">
                            <div style="height: 200px;">

                                <!--设备信息放到modelandview中，在页面映射时完成-->
                                <table class="layui-table">
                                    <thead>
                                    <tr>
                                        <th style="width: 50px;"></th>
                                        <th>生产装置序号</th>
                                        <th>生产装置名称</th>
                                        <th>主要工艺流程</th>
                                        <th>操作</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr  th:each="device : ${deviceList}">
                                        <th><i class="layui-icon layui-icon-tips" ></i></th>
                                        <td th:text="${device.nkNo}"></td>
                                        <td th:text="${device.name}"></td>
                                        <td th:text="${device.deviceFlow}"></td>
                                        <td><button th:value="${device.id}" @click="editDevice($event)" class="layui-btn layui-btn-sm"><i class="layui-icon"></i>编辑</button>
                                            <button th:value="${device.id}" @click="delDevice($event)" class="layui-btn layui-btn-sm layui-btn-danger"><i class="layui-icon"></i>删除</button></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div id="pageUtil" style="height: 60px;">
                                <input id="deviceCount" hidden="hidden" th:value="${deviceCount}"></input>
                                <script>
                                    var count = document.getElementById("deviceCount").value;
                                    var page = getQueryVariable("page");
                                    layui.use(['laypage', 'layer'], function(){
                                        var laypage = layui.laypage
                                            ,layer = layui.layer;
                                        //完整功能
                                        laypage.render({
                                            elem: 'pageUtil'
                                            ,count: count
                                            ,first: '首页'
                                            ,last: '尾页'
                                            ,limit: 3
                                            ,curr: page
                                            ,layout: ['count', 'prev', 'page', 'next']
                                            ,jump: function(obj,first){
                                                if(!first){
                                                    window.location.href="/Client/device?page="+obj.curr;
                                                }
                                            }
                                        });
                                    });
                                    function getQueryVariable(variable)
                                    {
                                        var query = window.location.search.substring(1);
                                        var vars = query.split("&");
                                        for (var i=0;i<vars.length;i++) {
                                            var pair = vars[i].split("=");
                                            if(pair[0] == variable){return pair[1];}
                                        }
                                        return(false);
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <hr>

                    <!--=======================修改设备Panel，默认隐藏=================================-->
                    <div id="updatePanel" hidden="hidden" >
                        
                        <div class="panel-body">
                            <p>在这里修改设备信息后点击确认按钮提交修改（带*号为必填项）...</p>

                            <div class="layui-form layui-form-pane">

                                <div class="col-xs-12 layui-form-item">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="deviceNo">
                                                生产装置编号(无需填写)
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatedeviceNo" name="updatedeviceNo" disabled="disabled"
                                                       v-model="device.nkNo"
                                                       class="layui-input"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="name" >
                                                生产装置名称 <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatename" name="updatename" v-model="device.name"
                                                       class="layui-input"/>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="deviceFlow">
                                                主要工艺流程 <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatedeviceFlow" name="updatedeviceFlow"
                                                       v-model="device.deviceFlow"
                                                       class="layui-input"/>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="designPower">
                                                设计年生产能力 <a style="color: red;">*</a>

                                            </label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="updatedesignPower" name="updatedesignPower"
                                                       v-model="device.designPower" class="layui-input" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="practicalPower">
                                                年生产能力  <a style="color: red;">*</a>

                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatepracticalPower" name="updatepracticalPower"
                                                       v-model="device.practicalPower"  class="layui-input"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="practicalPower">
                                                生产能力单位  <a style="color: red;">*</a>

                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="updatedesignUnit" name="updatedesignUnit"
                                                       v-model="device.designUnit" class="layui-input"
                                                       Onchange="ischanged('designUnit')" />

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="yearrunDays">
                                                全年运行天数 <a style="color: red;">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="updateyearrunDays" id="updateyearrunDays" class="layui-input"
                                                       v-model="device.yearrunDays"  onblur="IsChangeNew(this.id,0,365,'全年运行天数')"/>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                对应烟囱
                                                <a style="color: red;">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <select id="updatemchimney" name="updatemchimney" v-model="device.exhustId"
                                                        lay-filter="updatemchimney"
                                                        class="layui-input">
                                                    <option value="">请选择</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12 layui-form-item" style="height:40px;margin-bottom: 30px;">
                                    <p  align="center" id="updateexaust_info" ></p>
                                </div>
                                <br>



                                <div style="margin: 0 auto; text-align: center;">
                                    <button id="updateDevice" class="btn btn-info btn-lg">确认修改设备信息</button>
                                </div><br>

                            </div>


                            <!--End page-content-->

                        </div>
                    </div>

                    <!--==============增加设备Panel=====================================================-->
                    <div id="addPanel" hidden="hidden">
                        <div class="panel-body">
                            <p>在这里添加设备（带*号为必填项）...</p><br>

                            <div class="layui-form layui-form-pane">

                                <div class="col-xs-12 layui-form-item">
                                    <!-- PAGE CONTENT BEGINS-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="deviceNo">
                                                生产装置编号(无需填写)
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="deviceNo" name="deviceNo" disabled="disabled"
                                                       class="layui-input"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="name" >
                                                生产装置名称 <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="name" name="name"
                                                       class="layui-input"/>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="deviceFlow">
                                                主要工艺流程 <a style="color: red;">*</a>
                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="deviceFlow" name="deviceFlow"
                                                       class="layui-input"/>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="designPower">
                                                设计年生产能力 <a style="color: red;">*</a>

                                            </label>
                                            <div class="layui-input-inline">
                                                <input type="text" id="designPower" name="designPower"
                                                        class="layui-input" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="practicalPower">
                                                年生产能力  <a style="color: red;">*</a>

                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="practicalPower" name="practicalPower"
                                                         class="layui-input"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="practicalPower">
                                                生产能力单位  <a style="color: red;">*</a>

                                            </label>

                                            <div class="layui-input-inline">
                                                <input type="text" id="designUnit" name="designUnit"
                                                        class="layui-input"
                                                       Onchange="ischanged('designUnit')" />

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12 layui-form-item">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label"
                                                   for="yearrunDays">
                                                全年运行天数 <a style="color: red;">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <input type="text" name="yearrunDays" id="yearrunDays" class="layui-input"
                                                         onblur="IsChangeNew(this.id,0,365,'全年运行天数')"/>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 layui-form-label">
                                                对应烟囱
                                                <a style="color: red;">*</a>
                                            </label>
                                            <div class="layui-input-inline">
                                                <select id="mchimney" name="mchimney" lay-filter="mchimney"
                                                         class="layui-input">
                                                    <option value="">请选择</option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12 layui-form-item" style="height:40px;margin-bottom: 30px;">
                                    <p  align="center" id="exaust_info" ></p>
                                </div>
                                <br>



                                <div style="margin: 0 auto; text-align: center;">
                                    <button id="addDevice" onclick="updatedata();" class="btn btn-primary btn-lg">确认添加</button>
                                </div><br>

                            </div>

                            <!--End page-content-->

                        </div>

                        <!--End panel-body-->


                    </div>

                    <!--End addPanel-->

                </div>

            </div>
            <!--===================================================-->
            <!--结束！  主要内容-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->



    </div>

    <!-- =================================================================================== -->

    <!-- 底部 -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            智能信息系统研究室
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2019 南开大学</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- 到最上面按钮 -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<!--===============================================================-->
<!--向js中提供session中的参数-->
<!--<div th:object="${session.factoryInfo}">
</div>-->
<script>
    layui.use(['form', 'layer'], function () {
        var form = layui.form
            , layer = layui.layer;
        form.on('select(updatemchimney)', function (data) {
            if (data.value != '') {
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/exhaust/getExhaust", //要访问的后台地址
                    data: {
                        exhaustID: data.value
                    }, //要发送的数据，采用josn格式
                    success: function (data) { //data为返回的数据
                        layer.msg("<b>烟囱"
                            + data.nkNo + "号的详细信息：</br>"
                            + "材质："+data.exfMaterial+"，高度："+data.exfHeight+"，出口直径："+data.smokeOutd
                            + "<br/>出口温度："+data.smokeOUtteM+"，出口流速："+data.smokeOutv+"，烟气流量："+data.smokeOuta
                            + "</b>");
                    }
                });

            }
            form.render('select');
        });
        form.on('select(mchimney)', function (data) {
            if (data.value != '') {
                $.ajax({
                    type: "get",
                    dataType: "json",
                    url: "/exhaust/getExhaust", //要访问的后台地址
                    data: {
                        exhaustID: data.value
                    }, //要发送的数据，采用josn格式
                    success: function (data) { //data为返回的数据
                        layer.msg("<b>烟囱"
                            + data.nkNo + "号的详细信息：</br>"
                            + "材质："+data.exfMaterial+"，高度："+data.exfHeight+"，出口直径："+data.smokeOutd
                            + "<br/>出口温度："+data.smokeOUtteM+"，出口流速："+data.smokeOutv+"，烟气流量："+data.smokeOuta
                            + "</b>");
                    }
                });

            }
            form.render('select');
        });


    });
</script>

</body>



</html>