<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>工艺过程-设备装置</title>

    <!--STYLESHEET-->
    <!--=================================================-->
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">
    <link th:href="@{/lib/layui/css/layui.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
    <link th:href="@{/css/bootstrap-select.min.css}" rel="stylesheet">
    <link th:href="@{/css/nifty.min.css}" rel="stylesheet">
    <link th:href="@{/themify-icons/themify-icons.min.css}" rel="stylesheet" >

    <link id="theme" href="/css/themes/type-b/theme-dark.min.css" rel="stylesheet">

    <link th:href="@{/plugins/ionicons/css/ionicons.min.css}" rel="stylesheet">
    <link th:href="@{/plugins/validator/bootstrapValidator.min.css}" rel="stylesheet">

    <!--JAVASCRIPT libiaries-->
    <!--=================================================-->

    <!--Page Load Progress Bar [ OPTIONAL ]-->
    <link th:href="@{/css/pace.min.css}" rel="stylesheet">
    <script th:src="@{/js/pace.min.js}"></script>

    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script  th:src="@{/js/jquery-2.2.4.min.js}"></script>
    <!--js文件引入顺序问题：首先引入jQuery，再引入自定义js。否则无法解析。-->
    <script  th:src="@{/js/user.js}"></script>
    <script  th:src="@{/js/bootstrap.js}"></script>
    <script  th:src="@{/js/bootstrap-select.min.js}"></script>
    <script  th:src="@{/js/bootstrapPage.js}"></script>
    <script  th:src="@{/plugins/validator/bootstrapValidator.js}"></script>
    <script  th:src="@{/plugins/validator/zh_CN.js}"></script>
    <script  th:src="@{/plugins/bootbox.js}"></script>
    <script type="text/javascript" th:src="@{/lib/layui/layui.js}" charset="utf-8"></script>

    <script th:src="@{/js/nifty.min.js}"></script>

    <!--JAVASCRIPT myself-->
    <!--=================================================-->
    <script th:src="@{/js/my/device.js}"></script>

    <!--STYLE CSS-->
    <!--=================================================-->
    <style type="text/css">
        label {
            color: black;
            padding-top: 10px;
            font-size: 15px;
            font-family: Consolas;
        }
        input[type=text], select {
            margin-top: 5px;
            border: 1px solid #ccc;
            border-radius: 4px;
            font-size: 15px;
        }
        option{
            font-size: 15px;
        }


    </style>
</head>

<!--<body class="container">


</body>-->

<body>
<div id="container" style="background-color: whitesmoke;">


    <!-- 内容大区块 -->
    <!-- =================================================================================== -->
    <div class="boxed" >

        <!--CONTENT CONTAINER-->
        <!--===================================================-->
        <div>

            <div id="page-title">
                <blockquote class="layui-elem-quote">
                    <span style="font-size: 15px;font-weight: lighter;color: darkgray;">设备生产原料及产品</span>
                    <i class="layui-icon layui-icon-right" style="font-size: 15px; "></i>
                    <span class="active">生产工艺装置</span>
                </blockquote>
            </div>

            <hr>



            <!--注意啦！开始啦！-->
            <!--主要内容写在这里-->
            <!--===================================================-->
            <div class="page-content " style="margin-left: 60px;padding-bottom: 100px;" th:object="${session.factoryInfo}">

                <div id="exfDom">

                    <h1>设备列表</h1>
                    <div style="height: 200px;">

                        <!--设备信息放到modelandview中，在页面映射时完成-->
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th>生产装置ID</th>
                                <th>生产装置序号</th>
                                <th>生产装置名称</th>
                                <th>主要工艺流程</th>
                                <th>修改生产装置信息</th>
                                <th>删除该生产装置</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr  th:each="device : ${deviceList}">
                                <th scope="row" th:text="${device.id}">1</th>
                                <td th:text="${device.nkNo}"></td>
                                <td th:text="${device.name}"></td>
                                <td th:text="${device.deviceFlow}"></td>
                                <td><button th:value="${device.id}" @click="editDevice($event)" class="btn btn-info btn-sm">编辑</button></td>
                                <td><button th:value="${device.id}" @click="delDevice($event)" class="btn btn-danger btn-sm">删除</button></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <!--===============================================================================================-->
                    <div style="height: 80px;">
                        <div style="float: left;height: 60px;">
                            <input id="deviceCount" hidden="hidden" th:value="${deviceCount}"></input>
                            <script>
                                var count = document.getElementById("deviceCount").value;
                                document.write(Pager({
                                    totalCount:count, 		//总条数为150
                                    pageSize:3,    			//每页显示3条内容，默认10
                                    buttonSize:10,   		//显示size个按钮，默认10
                                    pageParam:'page',   	//页码的参数名为'p'，默认为'page'
                                    className:'pagination', //分页的样式
                                    prevButton:'上一页',     //上一页按钮
                                    nextButton:'下一页',     //下一页按钮
                                    firstButton:'首页',      //第一页按钮
                                    lastButton:'末页',       //最后一页按钮

                                }));
                            </script>
                        </div>
                        <div style="float: left;height: 60px;padding-top: 26px;padding-left: 15px; font-size: 16px; ">
                            <span style="font-weight: bold;">共有<span th:text="${deviceCount}">0</span>个设备。。。</span>
                        </div>
                        <div style="float:right;margin-right: 120px;">
                            <button id="addBtn" class="btn btn-primary btn-lg">添加设备</button>
                        </div>

                    </div><br><br><hr>

                    <div id="demo7"></div>


                    <script>
                        var count = document.getElementById("deviceCount").value;
                        layui.use(['laypage', 'layer'], function(){
                            var laypage = layui.laypage
                                ,layer = layui.layer;
                            //完整功能
                            laypage.render({
                                elem: 'demo7'
                                ,count: count
                                ,layout: ['count', 'prev', 'page', 'next']
                                ,jump: function(obj,first){
                                    if(!first){
                                        window.location.href="/Client/device?page="+obj.curr;
                                    }
                                }
                            });

                        });
                    </script>





                    <!--=======================修改设备Panel，默认隐藏=================================-->
                    <div id="updatePanel" class="panel panel-info" hidden="hidden"  style="margin-right: 60px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">修改设备信息（带*号为必填项）</h3>
                        </div>
                        <div class="panel-body">
                            <p>在这里修改设备信息后点击确认按钮提交修改...</p>

                            <div class="page-content">

                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS -->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="deviceNo">
                                                生产装置编号(无需填写)
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="updatedeviceNo" name="updatedeviceNo" disabled="disabled"
                                                       v-model="device.nkNo"
                                                       class="form-control"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="name" >
                                                生产装置名称 <a style="color: red;">*</a>
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="updatename" name="updatename" v-model="device.name"
                                                       class="form-control"/>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="deviceFlow">
                                                主要工艺流程 <a style="color: red;">*</a>
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="updatedeviceFlow" name="updatedeviceFlow"
                                                       v-model="device.deviceFlow"
                                                       class="form-control"/>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="designPower">
                                                设计年生产能力 <a style="color: red;">*</a>

                                            </label>
                                            <div class="col-md-7">
                                                <input type="text" id="updatedesignPower" name="updatedesignPower"
                                                       v-model="device.designPower" class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="practicalPower">
                                                年生产能力  <a style="color: red;">*</a>

                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="updatepracticalPower" name="updatepracticalPower"
                                                       v-model="device.practicalPower"  class="form-control"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="practicalPower">
                                                生产能力单位  <a style="color: red;">*</a>

                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="updatedesignUnit" name="updatedesignUnit"
                                                       v-model="device.designUnit" class="form-control"
                                                       Onchange="ischanged('designUnit')" />

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="yearrunDays">
                                                全年运行天数 <a style="color: red;">*</a>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="text" name="updateyearrunDays" id="updateyearrunDays" class="form-control"
                                                       v-model="device.yearrunDays"  onblur="IsChangeNew(this.id,0,365,'全年运行天数')"/>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right">
                                                对应烟囱
                                                <a style="color: red;">*</a>
                                            </label>
                                            <div class="col-md-7">
                                                <select id="updatemchimney" name="updatemchimney" v-model="device.exhustId"
                                                        Onchange="exhaustModel(this.value,'update');"
                                                        class="form-control">
                                                    <option value="">
                                                        请选择
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12" style="height:40px;margin-bottom: 30px;">
                                    <p  align="center" id="updateexaust_info" ></p>
                                </div>
                                <br>



                                <div style="margin: 0 auto; text-align: center;">
                                    <button id="updateDevice" class="btn btn-info btn-lg">确认修改烟囱信息</button>
                                </div><br>

                            </div>


                            <!--End page-content-->

                        </div>
                    </div>

                    <!--==============增加设备Panel=====================================================-->
                    <div id="addPanel" hidden="hidden"  class="panel panel-bordered-primary"  style="margin-right: 60px;">
                        <div class="panel-heading">
                            <h3 class="panel-title">添加设备（带*号为必填项）</h3>
                        </div>
                        <div class="panel-body">
                            <p>在这里添加设备...</p><br>

                            <div class="page-content">

                                <div class="col-xs-12">
                                    <!-- PAGE CONTENT BEGINS-->
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="deviceNo">
                                                生产装置编号(无需填写)
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="deviceNo" name="deviceNo" disabled="disabled"
                                                       class="form-control"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="name" >
                                                生产装置名称 <a style="color: red;">*</a>
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="name" name="name"
                                                       class="form-control"/>

                                            </div>
                                        </div>

                                    </div>


                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="deviceFlow">
                                                主要工艺流程 <a style="color: red;">*</a>
                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="deviceFlow" name="deviceFlow"
                                                       class="form-control"/>

                                            </div>
                                        </div>

                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="designPower">
                                                设计年生产能力 <a style="color: red;">*</a>

                                            </label>
                                            <div class="col-md-7">
                                                <input type="text" id="designPower" name="designPower"
                                                        class="form-control" />

                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="practicalPower">
                                                年生产能力  <a style="color: red;">*</a>

                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="practicalPower" name="practicalPower"
                                                         class="form-control"/>

                                            </div>

                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="practicalPower">
                                                生产能力单位  <a style="color: red;">*</a>

                                            </label>

                                            <div class="col-md-7">
                                                <input type="text" id="designUnit" name="designUnit"
                                                        class="form-control"
                                                       Onchange="ischanged('designUnit')" />

                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <div class="col-xs-12">
                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right"
                                                   for="yearrunDays">
                                                全年运行天数 <a style="color: red;">*</a>
                                            </label>
                                            <div class="col-md-7">
                                                <input type="text" name="yearrunDays" id="yearrunDays" class="form-control"
                                                         onblur="IsChangeNew(this.id,0,365,'全年运行天数')"/>

                                            </div>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-group">
                                            <label class="col-md-5 control-label no-padding-right">
                                                对应烟囱
                                                <a style="color: red;">*</a>
                                            </label>
                                            <div class="col-md-7">
                                                <select id="mchimney" name="mchimney" Onchange="exhaustModel(this.value,'add');"
                                                         class="form-control">
                                                    <option value="">
                                                        请选择
                                                    </option>
                                                </select>

                                            </div>
                                        </div>
                                    </div>

                                </div>

                                <div class="col-xs-12" style="height:40px;margin-bottom: 30px;">
                                    <p  align="center" id="exaust_info" ></p>
                                </div>
                                <br>



                                <div style="margin: 0 auto; text-align: center;">
                                    <button id="addDevice" onclick="updatedata();" class="btn btn-primary btn-lg">确认添加</button>
                                </div><br>

                            </div>

                            <!--End page-content-->

                        </div>

                        <!--End panel-body-->


                    </div>

                    <!--End addPanel-->

                </div>

            </div>
            <!--===================================================-->
            <!--结束！  主要内容-->


        </div>
        <!--===================================================-->
        <!--END CONTENT CONTAINER-->



    </div>

    <!-- =================================================================================== -->

    <!-- 底部 -->
    <!--===================================================-->
    <footer id="footer">

        <!-- Visible when footer positions are fixed -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="show-fixed pull-right">
            You have <a href="#" class="text-bold text-main"><span class="label label-danger">3</span> pending action.</a>
        </div>



        <!-- Visible when footer positions are static -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <div class="hide-fixed pull-right pad-rgt">
            智能信息系统研究室
        </div>



        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->
        <!-- Remove the class "show-fixed" and "hide-fixed" to make the content always appears. -->
        <!-- ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ -->

        <p class="pad-lft">&#0169; 2019 南开大学</p>



    </footer>
    <!--===================================================-->
    <!-- END FOOTER -->


    <!-- 到最上面按钮 -->
    <!--===================================================-->
    <button class="scroll-top btn">
        <i class="pci-chevron chevron-up"></i>
    </button>
    <!--===================================================-->



</div>
<!--===================================================-->
<!-- END OF CONTAINER -->
<!--===============================================================-->
<!--向js中提供session中的参数-->
<!--<div th:object="${session.factoryInfo}">
</div>-->


</body>



</html>